/*
* 배율 1.142는 16px/14px = 1.142 에서 사용자에게 보여지는 폰트 사이즈는 16px이지만
* 출력시에는 14px(11pt)로 출력하기 위해 배율 조정
*/

.mathDocsA4Frame {
    width: 210mm;
    height: 297mm;
    margin: 0 auto;
    word-break: break-all;
    line-height: 160%;
    font-size: 16px;
    page-break-after: always;
}

.tmpHideDivForPrint{
}

.mathDocsPaperWrap{
    margin:auto;
    width: 210mm;
    height: 297mm;
}


.mathDocsPaperTitleWrap{
    position: relative;
    font-family: 'jejuGothic';
    line-height: 180%;
    border-bottom: 2mm solid rgb(146, 184, 255);
    height:31mm;
}

.mathDocsPaperGrade{
    font-size:35px;
    font-family: 'jejuGothic';
    margin: 0px 5px 5px 0px;
    color: rgb(23, 104, 196);
}
.mathDocsPaperTitle, .mathDocsPaperSubTitle, .mathDocsPaperSubTitle2{
    margin-left: 50px;
}

.mathDocsPaperTitle{
    font-size:26px;
   
}
.mathDocsPaperSubTitle{
    font-size: 16px;
    color: rgb(48, 48, 48);
    font-family: 'nbFormulaFont';
    line-height: 160%;
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mathDocsPaperSubTitle2{
    font-size:14px;
    color:rgb(108, 108, 108);
}

.mathDocPaperTitleTb{
    margin: auto;
}


.mathDocsTitleWrap2{
    line-height: 140%;
    font-size: 14px;
    color:rgb(79, 79, 79);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nameSpan{
    vertical-align: middle;
    display: inline-block;
    width: 100px;
    height: 30px;
    border-bottom: 1px solid gray;
}

.mathDocsPaperContentsWrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 264mm;
}

.mathDocsPaperContentsWrap.onlyContents {
    height: 297mm;
    border-top: 0.5mm solid rgb(130, 130, 130);
}


.mathAnswerTb{
    min-width: 190px;
    display: inline-block;
    position: relative;
    border-spacing: 0;
}


.paperContentsLeft, .paperContentsRight{
    width: 50%;
    height: 99%;        
    font-family: 'nbFormulaFont';
}

.paperContentsLeft{
    border-right: 1px solid gray;
}

.paperContentsLeft.sol{
    width: 100%;
    border-right:none;
}

.fourArrPageCon, .sixArrPageCon, .eightArrPageCon{
    width:387px;
    height: 50%;
    clear:both;
}

.paperContentsRight .fourArrPageCon, .paperContentsRight .sixArrPageCon, .paperContentsRight .eightArrPageCon{
    margin: 0 0 0 auto;
}

.sixArrPageCon{
    height: 33%;
}

.eightArrPageCon{
    height: 25%;
}

.mathDocsA4Frame .quesDiv, .ansSolDiv{
    margin: 0;
}

.mathPaperQuesNumber{
    font-family: 'screenNumber';
    font-size: 18px;
}

.mathDocsPaperAnsTitle{
    font-family: 'CookieRun-Regular';
    font-size: 18px;
    background: rgb(208, 225, 255);
    padding: 8px 0 8px 15px;
    margin-top:15px
}

.mathDocsPaperAnswer, .mathDocsPaperAnswer.rightLayer{
    width: 387px;
    margin-top: 10px;
    line-height: 100%;
}

.mathDocsPaperAnswer.rightLayer{
    margin: 0 0 0 auto;
}

.mathAnswerDiv{
    max-width: 260px;
    line-height: 200%;
    vertical-align: text-top;
}

.mathAnswerNumTd{
    font-family: 'screenNumber';
    vertical-align: text-top;
}

.ellipseUi{
    text-align: center;
    display: inline-block;
    padding: 3px 8px;
    width: 90px;
    border-radius: 5px;
    background: rgb(16, 41, 138);
    color:white;
}

.ellipseUi::before{
    font-size: 14px;
    content: 'Ans';
    display: inline-block;
    width: 35px;
    height:22px;
    line-height: 22px;
    vertical-align: middle;
    border-radius: 12px;
    margin-right: 10px;
    background: white;
    color:rgb(16, 41, 138);
}

.ellipseUi.sol::before{
    content: 'Sol';
}

.mathoDocsSolution{
    column-count: 2;
    height: unset;
    font-family: 'nbFormulaFont';
    column-gap: 19px;
    column-rule: 1px solid rgb(184, 184, 184);
}



/*
*  문제 마다 여백 최소 20mm
*/

.mathDocsMinPadding{
    clear:both;
    height: 20mm;
}


/*
* 해설 간격 설정
*/
.mathDocsA4Frame .ansShow{
    padding-top: 10px;
    margin-top:25px;
    border-top: 2px solid dimgray;
    border-bottom: 1px solid lightgray;
    clear:both;
}

@page {
    size: A4;
    margin: 15mm 10mm 10mm 10mm;
}
    
@media print {
    html, body {
        width: 210mm;
        height: 297mm;
    }
    
    .tmpHideDivForPrint{
        display: block;
    }

    table:not(.nbBox):not(.editInnerTable) {
        border: solid white !important;
        border-width: 0 0 0 0 !important;
        border-bottom-style: none !important;;
    }

    img{
        border: solid white !important;
        border-width: 0 0 0 0 !important;
        border-bottom-style: none !important;;
    }

    .mathDocsA4Frame {
        -webkit-print-color-adjust: exact;
        -print-color-adjust: exact;
        margin: 0;
        border: initial;
        width: initial;
        min-height: initial;
        display: block;
       
    }

    #root > div:not(.mathDocsBrowserView){
        display: none !important;
    }

    .mathDocsBrowserView > div:not(.mathDocsA4Frame):not(.mathDocsWrap){
        display: none !important;
    }

    /* 수식 버그 */
    
    /* 분수 분모 분자 실선 떨어지는 버그, 실선 너무 두꺼운 문제 해결*/
    .nbDenom::before{
        border-top: 1px solid rgba(255, 255, 255, 0) !important; /*border를 없애면 공간이 없어져 분모의 수가 보더에 너무 붙어 있음*/
    }
    
    /* 순환소수 악센트 수직 정렬 안맞음*/
    .nbOverDotBox, .nbAccentBox {
        vertical-align: -0.375em !important;
    }
    
    /* 루트, 선분, 직선 옆에 실선 생기는 버그 */
    .nbRootBase {
        box-shadow:unset !important;
        border-top:1px solid black;
    }
    .nbOverlineBase, .nbRightArrowBase, .nbArcBase, .nbBiDirArrowBase{
        box-shadow:unset !important;
        border-top: 1px solid black;
    }
}



/*
*   학습지 페이지 수식 버그 해결


.mathDocsA4Frame .nbRootBase{
    box-shadow:none;
    border-top:1px solid black;
}

.mathDocsA4Frame .nbRootBox{
    vertical-align: text-top;
}

.mathDocsA4Frame .nbRootBase::before{
    top:0.14em;
}
*/