.mathDocsPageTitle{
    width: 1000px;
    margin:20px auto 0 auto;
    line-height: 160%;
}

.mathDocsPageTitle.mobile{
    width:95%;
}

.mathDocsSubjectInfoDiv{
    width: 1000px;
    margin:10px auto 0 auto;
    border: 0.5px solid rgb(206, 206, 206);
    padding:10px;
}

.mathDocsSubjectInfoDiv.mobile{
    width:100%;
    padding: 10px 0;
    text-indent: 20px;
    border:unset;
    border-top: 0.5px solid rgb(206, 206, 206);
    border-bottom: 0.5px solid rgb(206, 206, 206);
}

.noSelect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mathDocsSubjectListDiv{
    width: 1000px;
    margin:0 auto 0 auto;
    padding:10px;
    border: 0.5px solid rgb(206, 206, 206);
    min-height: calc(100vh - 330px);    /*padding-bottom과 위에 요소 높이만큼 빼주기*/
    line-height: 160%;
    font-family: 'jejuGothic';
    color:gray;
    padding-bottom: 130px;
}

.mathDocsSubjectListDiv.mobile{
    width: 100%;
    padding: 10px 0;
    min-height: 100vh;
    border:unset;
    border-top: 0.5px solid rgb(206, 206, 206);
    border-bottom: 0.5px solid rgb(206, 206, 206);
    padding-bottom: 20vh;
}

.mathDocsLevelDiv{
    position: relative;
    width: 1000px;
    margin:0 auto 0 auto;
    padding:20px 10px;
    border: 0.5px solid rgb(206, 206, 206);
    vertical-align: middle;
}

.mathDocsLevelDiv.mobile{
    width: 100%;
    border:unset;
    border-top: 1px solid rgb(95, 95, 95);
    padding:10px;
}

.mathDocsGrade{
    font-family:'jejuGothic';
    margin:5px 20px 5px 0px;
    color: rgb(23, 104, 196);
}

.mathDocsUnitBtn{
    font-family:'jejuGothic';
    padding:5px;
    margin:5px;
    color: rgb(109, 166, 231);
    border:2px solid rgb(173, 209, 250);
    border-radius:4px;
    cursor: pointer;
}

.mathDocsUnitBtn:hover{
    color: rgb(23, 104, 196);
    border:2px solid rgb(23, 104, 196);
}

.levelSelTd:hover, .conCntSelTd:hover{
    color: rgb(23, 104, 196);
    border:2px solid rgb(23, 104, 196);
}

.mathDocsUnitBtn.active{
    color:white;
    background-color: rgb(23, 104, 196);
    border:2px solid rgb(173, 209, 250);
}

.subjectFoldBtn, .secUnitFoldBtn, .thrUnitFoldBtn{
    color:rgb(184, 184, 184);
    cursor: pointer;
    
}

.subjectFoldBtn{
    margin:0 8px 0 3px;
}

.secUnitFoldBtn{
    margin: 0 8px 0 35px;
}

.thrUnitFoldBtn{
    margin: 0 8px 0 70px;
}

.subjectFoldBtn.active, .secUnitFoldBtn.active, .thrUnitFoldBtn.active{
    color:rgb(82, 82, 82);
    transform: rotate( 90deg );
    display: inline-block;
}


.subjectBtn, .secUnitBtn, .thrUnitBtn, .typeBtn{
    font-family: 'nbFormulaFont';
    display: inline-block;
    padding:3px 6px 3px 0px;
    cursor: pointer;
    position: relative;
    margin-left: 20px;
}

.typeBtn{
    margin-left: 140px;
}

.subjectBtn::before, .secUnitBtn::before, .thrUnitBtn::before, .typeBtn::before{
    font-family: 'malgunGothic';
    font-size: 10px;
    margin:0 6px 0 6px;
    content:'';
    width: 15px;
    height: 15px;
    border:1px solid gray;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 6px;
    left: -26px;
}

.subjectBtn.active::before, .secUnitBtn.active::before, .thrUnitBtn.active::before, .typeBtn.active::before{
    content:'\2714';
    background-color: rgb(23, 104, 196);
    border: 1px solid rgb(173, 209, 250);
    color: white;
}

.subjectBtn.active, .secUnitBtn.active, .thrUnitBtn.active, .typeBtn.active{
    color: rgb(23, 104, 196);
}


.next-step-btn{
    font-family:'jejuGothic';
    padding:5px;
    margin:5px;
    color: rgb(23, 104, 196);
    border:2px solid rgb(173, 209, 250);
    border-radius:4px;
    cursor: pointer;
}

.levelSelTb{
    margin-right: 15px;
    border-spacing: 4px 0;
}

.levelSelTb td:first-child{
    color: rgb(23, 104, 196);
    border:unset;
    width:unset;
    cursor:unset;
    background:unset;
    width:60px;
}


.levelSelTb td{
    font-family:'jejuGothic';
    text-align: center;
    padding:4px;
    min-width:30px;
    cursor: pointer;
    color: rgb(109, 166, 231);
    border:2px solid rgb(173, 209, 250);
    border-radius: 4px;
}
.previousStep{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right:165px;
    padding:7px 15px !important;
}
.nextStep{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right:30px;
    padding:7px 15px !important;
}

.conCnt{
    text-align: center;
    font-size: 16px;
    width:40px;
    color: rgb(77, 77, 77);
}

.conCnt.mobile{
    width:20px;
}

.levelSelTd.active, .conCntSelTd.active{
    color: white;
    background-color: rgb(23, 104, 196);
}


/* 수식 */

.mathDocsRootDiv .nbRootBase{
    box-shadow: 0px -0.5px gray, inset 0px 0.5px gray;
}

.mathDocsRootDiv .contents-show  .nbRootBase{
    box-shadow:  -0.5px 0 white, 0.5px 0 white, 0px -0.5px 0 0 black, inset 0px 0.5px 0 0 black;
}


.mathDocsRootDiv .active .nbRootBase{
    box-shadow: 0px -0.5px rgb(23, 104, 196), inset 0px 0.5px rgb(23, 104, 196);
}


.mathDocsRootDiv .nbNumer:after {
    border-bottom: 1px solid gray;
}

.mathDocsRootDiv .nbDenom:before {
    border-top: 1px solid gray;
}

.mathDocsRootDiv .contents-show .nbNumer:after {
    border-bottom: 1px solid black;
}

.mathDocsRootDiv .contents-show .nbDenom:before {
    border-top: 1px solid black;
}


.mathDocsRootDiv .active .nbNumer:after {
    border-bottom: 1px solid rgb(23, 104, 196);
}

.mathDocsRootDiv .active .nbDenom:before {
    border-top: 1px solid rgb(23, 104, 196);
}

.columnLayout{
    column-count: 2;
}


.mathDocsInfoRootDiv{
    text-align: left;
    display: inline-block;
    width:650px;
    padding:0 10px 10px 10px;
    border-radius: 10px;
    background-color: white;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 50;
    box-shadow: 0 0 1rem rgb(0 0 0 / 30%);
    box-sizing: border-box;
}
.mathDocsStatistics{
    display: inline-block;
    width: 630px;
    vertical-align: top;
    margin: 0 20px 0 0;
}
   
.chartWrap{
    width: 100%;
    border:0.5px solid lightgray;
    border-radius: 10px;
    padding-top: 10px;
}

.mathDocsTwoStep{
    width: 1040px;
    margin: 20px auto 20px auto;

}

.conTotalCnt{
    color:rgb(7, 39, 113);
    font-size : 14px;
    font-family:'jejUGothic';
    margin-bottom: 8px;
    text-align: left;
    text-indent: 20px;
}

.barChart{
    display: inline-block !important;
    font-size:16px !important;
    font-family: 'jejuGothic' !important;
    width:300px !important;
    margin:0 20px;
}

.pieChart{
    display: inline-block !important;
    width:200px !important;
    height: 100px !important;
    vertical-align:top;
    margin:15px 0 0 0 ;
}

.multiChoicePieLabel{
    font-family: 'jejuGothic';
    color: rgb(13, 53, 149, 0.5);
}
.essayPieLabel{
    font-family: 'jejuGothic';
    color: rgb(13, 53, 149, 0.9);
}
.multiChoicePieLabel::before, .essayPieLabel::before{
    display: inline-block;
    content: '';
    width: 20px;
    height: 8px;
    vertical-align: middle;
    margin-right: 5px;
}

.multiChoicePieLabel::before{
    background-color: rgb(13, 53, 149, 0.2);
}
.essayPieLabel::before{
    background-color: rgb(13, 53, 149, 0.7);
}

.pieLabelWrap{
    position: relative;
    vertical-align:top;
    margin-top:10px;
    left:-20px;
    display: inline-block;
    line-height: 140%;
    font-family: 'nbFormulaFont';
    font-size:12px;
}

.chartTitleWrap{
    position: relative;
}


.barChartTitle{
    display: inline-block;
    color:rgb(13, 53, 149, 0.7);
    font-size : 14px;
    font-family:'jejUGothic';
    text-align: center;
    width: 300px;
    margin:0 20px;
}

.pieChartTitle{
    display: inline-block;
    margin-top:10px;
    color:rgb(13, 53, 149, 0.7);
    font-size : 14px;
    font-family:'jejUGothic';
    text-align: center;
    width: 240px;
}

.mathDocsInfoDIv{
    width:100%;
    border-bottom: 0.5px solid rgb(196, 196, 196);
    font-size: 14px;
}

.mathDocsInfoWrap{
    color:rgb(151, 151, 151);
    font-family: 'jejuGothic';
    width: 100%;
    margin:0 auto 0 auto;
}


.mathDocsInfo{
    line-height: 160%;
    overflow-y: auto;
    font-family: 'nbFormulaFont';
    font-size: 16px;
    color:gray;
    height: 70vh;

}

.mathDocsInfoTitle{
    margin:10px 0;
    padding: 10px 20px;
    font-family: 'jejuGothic';
    color:white;
    text-align: center;
    background-color: rgb(30, 49, 102);
}

.mathDocsInfoClose{
    cursor: pointer;
    position: absolute;
    right:20px;
    top:15px;
    color:white;
    font-size:20px;
}

.mathDocsInfo::-webkit-scrollbar, .mathDocsContents::-webkit-scrollbar {width: 6px;}
.mathDocsInfo::-webkit-scrollbar-track, .mathDocsContents::-webkit-scrollbar-track {background: transparent; }
.mathDocsInfo::-webkit-scrollbar-thumb, .mathDocsContents::-webkit-scrollbar-thumb {background: #aeaeaf; border-radius: 45px;}
.mathDocsInfo::-webkit-scrollbar-thumb:hover, .mathDocsContents::-webkit-scrollbar-thumb:hover {background: #504f4f;}

.mathDocsInfoNumber{
    cursor: pointer;
    display: inline-block;
    width:50px;
    text-align: center;
    vertical-align: top;
}

.mathDocsInfoNumber:not(.title){
    color:rgb(17, 29, 69);
}
.mathDocsInfoDrag{
    display: inline-block;
    width: 60px;
    text-align: center;
    vertical-align: top;
}
.mathDocsInfoDrag:not(.title)::after{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: auto;
    vertical-align: top;
    background:  url("img/dragAndDrop.png") no-repeat center;
    background-size: 20px;
}

.mathDocsContents .td1.grab{
    cursor: grab;
}

.mathDocsInfoQuesType.title{
    text-align: center;
}


.mathDocsInfoQuesType{
    display: inline-block;
    width:350px;
}

.mathDocsInfoMultiType, .mathDocsInfoLv{
    display: inline-block;
    width:70px;
    text-align: center;
    vertical-align: top;
}
.mathDocsInfoMultiType{
    width:90px;
}
.mathDocsInfoLineDiv{
    border-bottom: 0.5px solid lightgray;
    padding: 5px 0;
}

.mathDocsInfoLineDiv{
    cursor: grab;
}

.twoStepDiv{
    position: relative;
    width: 1040px;
    margin: 0 auto 0 auto;
    padding: 25px 0px;
    outline: 0.5px solid lightgray;
    vertical-align: middle;
}

.mathDocsContents{
    outline: 0.5px solid lightgray;
    border-radius: 10px;
    padding: 10px;
    margin : 20px 0 50px 0;
    width: 1020px;
}

.mathDocsContents .contents-show{
    padding-bottom: 60px !important;
}

.contentsDiv.mathDocs{
    width: 500px;
    margin: auto;
}

.bottomFixed{
    width: 100%;
    background: white;
    position: fixed;
    bottom: 0;
    left:0;
}

.conAddBtnWrap{
    font-family: 'jejuGothic';
    color: gray;
    width: 300px;
    display: inline-block;
    padding: 10px;
    border: 0.5px solid lightgray;
    border-radius: 10px;
    height: 120px;
    text-align: center;
    line-height: 200%;
}

.conAddBtnTb{
    position: relative;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
    vertical-align: middle;
    width:250px;
    margin: auto;
}


.mathDocsInfoBtn::before, .mathDocsMyCon::before, .mathDocsMyRepo::before{
    vertical-align: middle;
    margin-right: 3px;
    display: inline-block;
    content: '';
    width: 20px;
    height: 20px;
    background-size: 15px;
    opacity: 0.5;
}

.mathDocsInfoBtn::before{
    background:  url("img/mathDocsInfo.png") no-repeat bottom;
    background-size:18px;
}

.mathDocsMyCon::before{
    background:  url("img/content.png") no-repeat bottom;
    background-size:15px;
}

.mathDocsMyRepo::before{
    background:  url("img/boxes.png") no-repeat bottom;
    background-size:17px;
}

.mathDocsInfoBtn:hover, .mathDocsMyCon:hover, .mathDocsMyRepo:hover{
    cursor: pointer;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 10px 20px;
}

.mathDocsContents .td1.userSearchPage:hover{
    background: unset;
}

.mathDocsMyProdWrap, .mathDocsMyRepoWrap, .mathDocsSimConWrap{
    width:500px;
    padding: 0 10px;
    border-radius: 10px;
    z-index: 99;
    margin:auto;
    position: absolute;
    top:5%;
    left:calc(50% - 250px);
    background-color: white;
    box-shadow: 0 0 1rem rgb(0 0 0 / 30%);
    box-sizing: border-box;
}

.mathDocsMyProdWrap .contentsDiv, .mathDocsMyRepoWrap .contentsDiv{
    width: 500px
}

.mathDocsMyProdDiv, .mathDocsMyRepoDiv{
    max-height: 70vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.mathDocsMyProdDiv::-webkit-scrollbar, .mathDocsMyRepoDiv::-webkit-scrollbar {width: 6px;}
.mathDocsMyProdDiv::-webkit-scrollbar-track, .mathDocsMyRepoDiv::-webkit-scrollbar-track {background: transparent; }
.mathDocsMyProdDiv::-webkit-scrollbar-thumb , .mathDocsMyRepoDiv::-webkit-scrollbar-thumb {background: #aeaeaf; border-radius: 45px;}
.mathDocsMyProdDiv::-webkit-scrollbar-thumb:hover , .mathDocsMyRepoDiv::-webkit-scrollbar-thumb:hover {background: #504f4f;}

.mathDocsMyProdWrap .mathDocsMyProdDiv .nbRootBase, .mathDocsMyRepoWrap .mathDocsMyRepoDiv .nbRootBase{
    box-shadow:  -0.5px 0 white, 0.5px 0 white, 0px -0.5px 0 0 black, inset 0px 0.5px 0 0 black;
}

.mathDocsMyProdDiv .contents-show img, .workQuesShow img, .mathDocsMyRepoDiv .contents-show img, .workQuesShow img{
    cursor: unset;
}

.mathDocsMyProdDiv .workList, .mathDocsMyRepoDiv .workList{
    border: unset;
}

.myProdAddBtn, .myRepoAddBtn, .simConAddBtn, .simConChngBtn{
    cursor: pointer;
    padding: 5px 0px;
    color: #5596D8;
    border-radius: 10px;
    font-size: 14px;
    font-weight: normal;
    margin:0 12px;
}

.myProdAddBtn::after, .myRepoAddBtn::after, .simConAddBtn::after, .simConChngBtn::after{
    content: '+';
    display: inline-block;
    position: relative;
    top:-5px;
    width: 10px;
    height: 10px;
    margin: auto;
    vertical-align: top;
    margin-left: 1px;
    background-size: 10px;
}

.simConChngBtn::after{
    content: '';
    top: 0px;
    width: 14px;
    height: 14px;
    background:  url("img/conChange.png") no-repeat center;
    background-size: 13px;
}

.mathDocsConChngBtn{
    display: inline-block;
    cursor: pointer;
    font-size: 13px;
    margin:8px 20px 8px 0;
    padding:0px 8px;
    background: rgb(139, 169, 232);
    color:white;
    border:2px solid rgb(115, 146, 213);
    border-radius: 5px;
    line-height: 160%;
}

.mathDocsContents .td1{
    border: 1px solid lightgray;
    cursor: grab;
}

.mathDocsContents .contents-show img, .mathDocsContents  .workQuesShow img{
    cursor: grab;
}

.mathDocsMyRepoDiv .simConRootDiv{
    width: 500px;
}

.simConDesc{
    text-align: left;
    padding: 5px 0 5px 5px;
    line-height: 140%;
    border-bottom: unset;
    font-size: 14px;
    font-family: 'jejuGothic';
    color: rgb(117, 156, 228);
}

.mathDocsSimConDesc{
    line-height: 140%;
    font-size: 18px;
    margin-top:70px;
    font-family: 'jejuGothic';
    color: rgb(58, 103, 176);
}

.mathDocsThrStep{
    position: relative;
    font-family: 'jejUGothic';
    display: inline-block;
    width: 520px;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 1rem rgb(0 0 0 / 7%);
    box-sizing: border-box;;
}

.mathDocsThrStepTitle{
    font-size: 20px;
    padding: 13px;
    border-bottom: 1px solid lightgray;
    color:rgb(16, 53, 95);
}

.mathDocsDown, .mathDocsPrint{
    cursor: pointer;
    display: inline-block;
    padding: 3px 10px;
    border:3px solid orange;
    background: orange;
    border-radius: 5px;
    margin: 10px 5px 20px 5px;
    color:white;
    width: 150px;
}


.mathDocsDown::before, .mathDocsPrint::before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: auto;
    vertical-align: middle;
    margin-right: 8px;
}

.mathDocsDown::before{
    background:  url("img/down-load.png") no-repeat center;
    background-size: 20px;
}

.mathDocsPrint::before{
    width: 18px;
    height: 18px;
    background:  url("img/printer.png") no-repeat center;
    background-size: 18px;
}

.mathDocsThrStepClose{
    position: absolute;
    top:10px;
    right:10px;
}

.pagePerConCnt{
    display: inline-block;
    font-family:'jejuGothic';
    text-align: center;
    min-width:30px;
    cursor: pointer;
    color: rgb(109, 166, 231);
    border:2px solid rgb(173, 209, 250);
    border-radius: 4px;
    margin:0 3px;
}

.pagePerConCnt.active{
    color:white;
    background-color: rgb(23, 104, 196);
    border:2px solid rgb(173, 209, 250);
}

.mathDocsThrStepDesc{
    text-align: left;
    width: 90%;
    margin:20px auto;
}

.pagePerConCntDesc {
    font-size: 12px;
    color: gray;
}

.mathDocsThrStepInput{
    font-family: 'jejuGothic';
    outline: none;
    padding: 1px 2px;
    width: 70%;
    margin: auto;
    resize: none;
    font-size: 14px;
    line-height: 150%;
    border-radius: 5px;
    border:1px solid gray;
}

.mathDocsThrStepDetailTitle{
    text-align: center;
}

.mathDocsThrStepTb{
    border-spacing: 8px 10px;
    width: 100%;
}

.mathDocsThrStepInput:focus{
    outline: none;
    border:1px solid rgb(92, 156, 229);
    box-shadow: 0 0 4px rgb(65, 142, 230);
}

.mathDocsMyProdWrap .workListTable, .mathDocsMyRepoWrap .workListTable, .mathDocsSimConWrap .workListTable{
    width: calc(100% - 20px);
}


/*
* [start] 이미지 float 속성 적용된 경우 이미지 감싸고 있는 div 높이 계산 제대로 안되는 버그 해결
*/
.mathDocsContents .quesDiv, .mathDocsA4Frame .quesDiv {
    display: inline-block;
}

/*
* [end]
*/

.mathDocsErrTitle{
    width: 350px;
    margin-top: 10px;
    padding: 15px;
    font-size: 18px;
    border-bottom: 1px solid lightgrey;
}

.mathDocsErrBtn, .mathDocsErrBtn2{
    cursor: pointer;
    font-size: 14px;
    width: 150px;
    margin: 15px auto;
    color: white;
    border-radius: 5px;
    padding: 5px;
    background: #5596D8;
}
.mathDocsErrBtn{
    margin-top: 35px;
}

.mathDocsErrBtn2{
    color: #5596D8;
    background:white;
    padding: 2px;
    border: 3px solid #5596D8;
}


.mathDocsList{
    width: 1000px;
    margin: 20px auto 0 auto;
    border-spacing: 0;
    font-family: 'nbFormulaFont';
    line-height: 160%;
}
.mathDocsList th{
    padding: 5px 0;
    border-bottom : 1px solid rgb(104, 104, 104);
    background-color: rgb(49, 88, 142);
    color:white;
    font-weight: normal;
    letter-spacing: 2px;
}

.mathDocsList tr:nth-child(odd){
    background-color: #F7F9FC;
}

.mathDocsList tr:nth-child(even){
    background-color: #ffffff;
}

.docsListTitle{
    width: 250px;
}

.docsListSubTitle{
    width: 350px;
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.docsListDate{
    font-size: 10px;
    font-family: 'Apple SD Gothic Neo','Malgun Gothic';
}


.allSpace.docs{
    padding: 7px 0;
}

.docsListTr:hover td:not(.docsListErr):not(.docsListDel){
    cursor: pointer;
    background-color: #e7ecf3;
}

.docsListErr{
    font-size: 12px;
    color:rgb(9, 120, 9);
}


.errBtn.docsList, .delBtn.docsList{
    position: relative;
    top:0;
    left: 0;
}

.mathDocsErrDesc{
    width: 300px;
    text-align: center;
    color:rgb(155, 155, 155);
    font-family: 'jejUGothic';
    font-size: 14px;
    margin-bottom: 20px;
    padding: 10px;
    border: 0.5px solid lightgray;
    border-radius: 10px;
}

.errBtnWrap{
    cursor: pointer;
}

.errBtn.mathDocs{
    position: relative;
    top: 0;
    left: 0;
}

.errBtnWrap.mathDocs:hover{
    color:orange;
}

.errBtnWrap.mathDocs:hover .errBtn.mathDocs{
    color:orange;
    width: 20px;
    height: 20px;
    background:  url("img/sirenOrg.png") no-repeat center;
    background-size: 20px;
}