/*
* 배율 1.142는 16px/14px = 1.142 에서 사용자에게 보여지는 폰트 사이즈는 16px이지만
* 출력시에는 14px(11pt)로 출력하기 위해 배율 조정
*/

.mathDocsA4Frame {
    width: 210mm;
    height: 297mm;
    margin: 0 auto;
    word-break: break-all;
    line-height: 160%;
    font-size: 16px;
    page-break-after: always;
}

.tmpHideDivForPrint{
    display: none;
}

.mathDocsPaperWrap{
    margin:auto;
    width: 210mm;
    height: 297mm;
}


.mathDocsPaperTitleWrap{
    position: relative;
    font-family: 'jejuGothic';
    line-height: 180%;
    border-bottom: 2mm solid rgb(146, 184, 255);
    height:31mm;
}

.mathDocsPaperGrade{
    font-size:35px;
    font-family: 'jejuGothic';
    margin: 0px 5px 5px 0px;
    color: rgb(23, 104, 196);
}
.mathDocsPaperTitle, .mathDocsPaperSubTitle, .mathDocsPaperSubTitle2{
    margin-left: 50px;
}

.mathDocsPaperTitle{
    font-size:26px;
   
}
.mathDocsPaperSubTitle{
    font-size: 16px;
    color: rgb(48, 48, 48);
    font-family: 'nbFormulaFont';
    line-height: 160%;
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mathDocsPaperSubTitle2{
    font-size:14px;
    color:rgb(108, 108, 108);
}

.mathDocPaperTitleTb{
    margin: auto;
}


.mathDocsTitleWrap2{
    line-height: 140%;
    font-size: 14px;
    color:rgb(79, 79, 79);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nameSpan{
    vertical-align: middle;
    display: inline-block;
    width: 100px;
    height: 30px;
    border-bottom: 1px solid gray;
}

.mathDocsPaperContentsWrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 264mm;
}

.mathDocsPaperContentsWrap.onlyContents {
    height: 297mm;
    border-top: 0.5mm solid rgb(130, 130, 130);
}


.mathAnswerTb{
    min-width: 190px;
    display: inline-block;
    position: relative;
    border-spacing: 0;
}


.paperContentsLeft, .paperContentsRight{
    width: 50%;
    height: 99%;        
    font-family: 'nbFormulaFont';
    position: relative;
}

.paperContentsLeft{
    border-right: 1px solid gray;
}

.paperContentsLeft.sol{
    width: 100%;
    border-right:none;
}

.fourArrPageCon, .sixArrPageCon, .eightArrPageCon{
    width:387px;
    height: 50%;
    clear:both;
    border-top: 1px solid white; /* border-top:1px 있어야 원본 문제와 비슷하게 출력됨, 문제 만들기, 검색 페이지에도 border-top 속성 정의됨*/
    position: relative;
}

.paperContentsRight .fourArrPageCon, .paperContentsRight .sixArrPageCon, .paperContentsRight .eightArrPageCon{
    margin: 0 0 0 auto;
}

.sixArrPageCon{
    height: 33%;
}

.eightArrPageCon{
    height: 25%;
}

.mathDocsA4Frame .quesDiv, .ansSolDiv{
    margin: 0;
}

.mathPaperQuesNumber{
    font-family: 'screenNumber';
    font-size: 18px;
    height: 25px;
    line-height: 25px;
}

.mathDocsPaperAnsTitle{
    font-family: 'CookieRun-Regular';
    font-size: 18px;
    background: rgb(208, 225, 255);
    padding: 6px 0 6px 15px;
    margin-top: 4px;
}

.mathDocsPaperAnswer, .mathDocsPaperAnswer.rightLayer{
    width: 387px;
    margin-top: 10px;
    line-height: 100%;
}

.mathDocsPaperAnswer.rightLayer{
    margin: 0 0 0 auto;
}

.mathAnswerDiv{
    max-width: 260px;
    line-height: 200%;
    vertical-align: text-top;
}

.mathAnswerNumTd{
    font-family: 'screenNumber';
    vertical-align: text-top;
}

.ellipseUi{
    text-align: center;
    display: inline-block;
    padding: 3px 8px;
    width: 90px;
    border-radius: 5px;
    background: rgb(16, 41, 138);
    color:white;
}

.ellipseUi::before{
    font-size: 14px;
    content: 'Ans';
    display: inline-block;
    width: 35px;
    height:22px;
    line-height: 22px;
    vertical-align: middle;
    border-radius: 12px;
    margin-right: 10px;
    background: white;
    color:rgb(16, 41, 138);
}

.ellipseUi.sol::before{
    content: 'Sol';
}

.mathoDocsSolution{
    column-count: 2;
    height: unset;
    font-family: 'nbFormulaFont';
    column-gap: 19px;
    column-rule: 1px solid rgb(184, 184, 184);
}



/*
*  문제 마다 여백 최소 20mm
*/

.mathDocsMinPadding{
    clear:both;
    height: 20mm;
}


/*
* 해설 간격 설정
*/
.mathDocsA4Frame .ansShow{
    padding-top: 10px;
    margin-top:25px;
    border-top: 2px solid dimgray;
    border-bottom: 1px solid lightgray;
    clear:both;
}

@page {
    size: A4;
    margin: 15mm 10mm 10mm 10mm;
}
    
@media print {
    html, body {
        width: 210mm;
        height: 297mm;
        /* print-color-adjust, filter 속성은 html, body에 선언해야 버그가 가장 안 일어남 */
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
    }
    
    .tmpHideDivForPrint{
        display: block;
    }

    table:not(.nbBox):not(.editInnerTable) {
        border: solid white !important;
        border-width: 0 0 0 0 !important;
        border-bottom-style: none !important;;
    }

    .mathDocsA4Frame .nbRootBase, .mathDocsA4Frame .nbOverlineBase,
     .mathDocsA4Frame .nbRightArrowBase, .mathDocsA4Frame .nbBiDirArrowBase{
        box-shadow : unset;
        border-top: 1px solid black;
    }
    /* 박스 쉐도우 실선 나타나는 현상은 transform:translate: ; 속성에 의해 나타남
    window.print 사용시 나타나는 인쇄 팝업창에 transform:translate: ; 속성 사용되는 걸로 추정
    실제 출력시 회색 실선 나타나지 않음 */
    img{
        border: solid white !important;
        border-width: 0 0 0 0 !important;
        border-bottom-style: none !important;;
    }

    .mathDocsA4Frame {
        border: initial;
        width: initial;
        min-height: initial;
        display: block;
       
    }

    #root > div:not(.mathDocsBrowserView){
        display: none !important;
    }

    .mathDocsBrowserView > div:not(.mathDocsA4Frame):not(.mathDocsWrap){
        display: none !important;
    }

    /* 수학문제 높이 여백 버그
       모든 수학문제에 대하여 20mm의 여백을 주어 각 문제 마다 여백을 포함한 높이로 계산하여
       학습지가 생성되지만 여백이 상위 div의 높이를 넘어가는 경우 있어 프린트시 높이제거
        (높이 unset으로 설정해도 학습지 생성시에는 여백 포함한 높이 계산하니 상관없음 )
    */
    .mathDocsMinPadding{
        height: unset;
    }

    /* 수식 프린트시 ui 다르게 보이는 것 설정, vertical-align 소수 셋째 짜리 까지 설정해야 정확함*/

    /* 분수 분모 분자 실선 떨어지는 버그, 실선 너무 두꺼운 문제 해결*/
    .nbDenom::before{
        border-top: 1px solid rgba(255, 255, 255, 0) !important; /*border를 없애면 공간이 없어져 분모의 수가 보더에 너무 붙어 있음*/
    }
    
    /* 순환소수, 악센트, 루트, 직선, 선분, 삼각함수, 이항계수 수직 정렬 안맞음*/
    .mathDocsA4Frame  .nbOverDotBox, .mathDocsA4Frame  .nbAccentBox,
     .mathDocsA4Frame .nbRootBox, .mathDocsA4Frame .nbOverlineBox, .mathDocsA4Frame .nbArrowBox, 
     .mathDocsA4Frame .nbBiDirSubBox, .mathDocsA4Frame .nbTrigonBox {
        vertical-align: -0.375em;
    }
    
    /*직선 화살표 위치 버그*/
    .nbBiDirArrowBase::after, .nbBiDirArrowBase::before, .nbRightArrowBase::after{
        top:-0.88em !important;
    }

    /* 분수용 괄호 절댓값 굵기 줄이기 */
    .mathDocsA4Frame .nb-Abs-BrckBox.nbLargeBrck > .nb-Abs-Brck-Tbody:before{
        width: 2.5px;
        background-size: 1px 90%;
    }

    .mathDocsA4Frame .nb-Abs-BrckBox.nbLargeBrck > .nb-Abs-Brck-Tbody:after{
        width: 2.5px;
        background-size: 1px 90%;
    }

    .mathDocsA4Frame .nb-C-BrckBox.nbLargeBrck.rightAbsBrck > .nb-C-Brck-Tbody:after,  .mathDocsA4Frame .nb-S-BrckBox.nbLargeBrck.rightAbsBrck > .nb-S-Brck-Tbody:after,
    .mathDocsA4Frame .nb-R-BrckBox.nbLargeBrck.rightAbsBrck > .nb-R-Brck-Tbody:after{
        background: url("img/absLargeBrck.png") no-repeat center center;
        width: 2.5px;
        background-size: 1px 90%;
    }
    
    /* 로그 함수(자연로그 포함) 
    .mathDocsA4Frame .nbLogBox{
        vertical-align: -0.685em;
    }

    .mathDocsA4Frame .nbSigmaSumBase .nbLogBox,
    .mathDocsA4Frame .nbSigmaSumBase .nbDenom .nbLogBox, 
    .mathDocsA4Frame .nbSigmaSumBase .nbNumer .nbLogBox {
        vertical-align: -0.415em;
    }

    .mathDocsA4Frame .nbLogBox.nbFracInLog{
        vertical-align: middle;
    }

    .mathDocsA4Frame .nbDenom .nbLogBox {
        margin-top: 0;
        vertical-align: -0.445em;
    }

    
    .mathDocsA4Frame .nbNumer .nbLogBox {
        margin: 0;
        vertical-align: -0.439em;
    }
    
    .mathDocsA4Frame .nbLnBox{
        vertical-align: -0.405em;
    }

    .mathDocsA4Frame .nbIntegralTbody2 .nbLogBox {
        vertical-align: -0.465em;
        top: -0.5px;
    }
    
    .mathDocsA4Frame .nbIntegralTbody2 .nbNumer .nbLogBox {
        vertical-align: -0.433em;
        top: 0;
    }
    
    .mathDocsA4Frame .nbIntegralTbody2 .nbDenom .nbLogBox {
        vertical-align: -0.435em;
        top: 0;
    }

    .mathDocsA4Frame .nbDenom .nbLnBox ,
    .mathDocsA4Frame .nbIntegralTbody2 .nbDenom .nbLnBox {
        vertical-align: -0.435em;
    }
    .mathDocsA4Frame .nbNumer .nbLnBox,
    .mathDocsA4Frame .nbIntegralTbody2 .nbNumer .nbLnBox {
        vertical-align: -0.435em;
    }

    .mathDocsA4Frame .nbLnBox.nbFracInLn .nbLnSign {
        position: relative;
        top: 3px;
    }

    .mathDocsA4Frame .nbIntBase .nbLnBox,
    .mathDocsA4Frame .nbDoubleIntBase .nbLnBox,
    .mathDocsA4Frame .nbTripleIntBase .nbLnBox {
        vertical-align: -0.451em;
    }
*/

    /* 시그마 
    .mathDocsA4Frame .nbSigmaSumBox {
        vertical-align: -0.084em
    }

    .mathDocsA4Frame .nbSigmaSumBox .nbSigmaSumBox {
        vertical-align: 0.951em;
    }

    .mathDocsA4Frame .nbLimBox.nbSigmaSumInLim .nbLimTbody2{
        vertical-align: -0.755em;
    }

    .mathDocsA4Frame .nbNumer .nbLimBase .nbSigmaSumBox {
        vertical-align: -0.088em;
    }

    .mathDocsA4Frame .nbLimBase .nbSigmaSumBox {
        vertical-align: 0.726em
    }


    .mathDocsA4Frame .nbLimBase .nbSigmaSumBase {
        top: 0px;
    }

    .mathDocsA4Frame .nbDenom .nbLimBase .nbSigmaSumBox {
        vertical-align: -0.205em;
    }
    .mathDocsA4Frame .nbDenom .nbLimBase .nbSigmaSumBase {
        top: 1px;
    }

    .mathDocsA4Frame .nbNumer .nbLimBase .nbSigmaSumBase {
        top: 2px;
    }
*/
   

    /* 적분 
    .mathDocsA4Frame .nbIntegralBox, .mathDocsA4Frame .nbDoubleIntegralBox, .mathDocsA4Frame .nbTripleIntegralBox {
        vertical-align: -0.071em
    }
    */
    /*
    .mathDocsA4Frame .nbIntegralBox.nbFracInIntegral .nbIntBase, 
    .mathDocsA4Frame .nbDoubleIntegralBox.nbFracInIntegral .nbDoubleIntBase, 
    .mathDocsA4Frame .nbTripleIntegralBox.nbFracInIntegral .nbTripleIntBase {
        position: relative;
        top: -0.5px;
    }
    */

    /* 극한 
    .mathDocsA4Frame .nbLimBox {
        vertical-align: -0.55em;
    }
    .mathDocsA4Frame .nbNumer .nbLimBox {
        vertical-align: -0.525em;
    }
    .mathDocsA4Frame .nbDenom .nbLimBox {
        vertical-align: -0.525em;
    }
    */
}



/* 프린트 수식 버그 */
/* 프린트 전 수식 속성 입혀 학습지 생성시 높이 속성 정확하게 계산할 수 있도록 구현 */
.mathDocsTmpDivForHeightBugFix table:not(.nbBox):not(.editInnerTable) {
    border: solid white !important;
    border-width: 0 0 0 0 !important;
    border-bottom-style: none !important;;
}

.mathDocsTmpDivForHeightBugFix img{
    border: solid white !important;
    border-width: 0 0 0 0 !important;
    border-bottom-style: none !important;;
}


.mathDocsTmpDivForHeightBugFix .nbDenom::before{
    border-top: 1px solid rgba(255, 255, 255, 0) !important; /*border를 없애면 공간이 없어져 분모의 수가 보더에 너무 붙어 있음*/
}

 /* 순환소수, 악센트, 루트, 직선, 선분, 삼각함수, 이항계수 수직 정렬 안맞음*/
.mathDocsTmpDivForHeightBugFix  .nbOverDotBox, .mathDocsTmpDivForHeightBugFix  .nbAccentBox,
.mathDocsTmpDivForHeightBugFix .nbRootBox, .mathDocsTmpDivForHeightBugFix .nbOverlineBox, .mathDocsTmpDivForHeightBugFix .nbArrowBox, 
.mathDocsTmpDivForHeightBugFix .nbBiDirSubBox, .mathDocsTmpDivForHeightBugFix .nbTrigonBox {
    vertical-align: -0.375em !important;
}


/*직선 화살표 위치 버그*/
.mathDocsTmpDivForHeightBugFix .nbBiDirArrowBase::after, 
.mathDocsTmpDivForHeightBugFix .nbBiDirArrowBase::before, 
.mathDocsTmpDivForHeightBugFix .nbRightArrowBase::after{
    top:-0.88em !important;
}

/* 로그 함수 
.mathDocsTmpDivForHeightBugFix  .nbLogBox{
    vertical-align: -0.685em;
}
.mathDocsTmpDivForHeightBugFix .nbLogBox.nbFracInLog{
    vertical-align: middle;
}

.mathDocsTmpDivForHeightBugFix .nbDenom .nbLogBox {
    margin-top: 0;
    vertical-align: -0.405em;
}

.mathDocsTmpDivForHeightBugFix .nbNumer .nbLogBox {
    margin: 0;
    vertical-align: -0.399em;
}

.mathDocsTmpDivForHeightBugFix .nbLnBox{
    vertical-align: -0.405em;
}
*/
/* 시그마 
.mathDocsTmpDivForHeightBugFix .nbSigmaSumBox {
    vertical-align: -0.04em
}

.mathDocsTmpDivForHeightBugFix .nbSigmaSumBox .nbSigmaSumBox {
    vertical-align: 0.951em;
}


.mathDocsTmpDivForHeightBugFix .nbLimBox.nbSigmaSumInLim .nbLimTbody2{
    vertical-align: -0.755em;
}
*/