
.top-div{
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.top-div.mobile{
    padding: 15px 0;
}

.bi-jutify-align, .bi-jutify-align2{
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bi-jutify-align2{
    max-width: 1000px;
    margin:20px auto;
}

.bi-jutify-align.mobile{
    width:90%;
    margin:auto;
}

.menu-title{
    font-family: 'TmoneyRoundWindExtraBold';
    font-size: 30px;
    color:#3e6599;
    padding: 20px 0;
    text-align: center;
}

.menu-title-etc{
    font-family: 'GmarketSansBold';
    font-size: 25px;
    color:#3e6599;
    padding: 10px 0;
    text-align: center;
    letter-spacing: 1px;
}

.menu-title-etc2{
    font-size: 19px;
}

.menu-list{
    font-family: 'Apple SD Gothic Neo','Malgun Gothic';
    color:#50555a;
    font-weight: bold;
    font-size: 16px;
    padding: 20px 0;
    text-align: center;
}

.menu-list-etc{
    font-family: 'Apple SD Gothic Neo','Malgun Gothic';
    color:#50555a;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 0;
    text-align: center;
}

.menu-list-table{
    border-spacing: 20px 10px;
}

.menu-list-table.mobile{
    border-spacing: 10px 0;

}

.signLoginBtn{
    font-family: 'Apple SD Gothic Neo','Malgun Gothic';
    font-size:14px;
    padding:8px;
    border-radius: 8px;
    color:rgb(26, 113, 184) !important;
    background-color: rgb(234, 240, 246);
    border: 1px solid rgb(214, 230, 246);
}



.bottom-div{
    background-color: #50555a;
    padding: 40px 0;
}

.bottom-flex{
    display: flex;
    flex: 1fr 4fr;
}
.bottom-menu-title{
    letter-spacing: 1px;
    font-family: 'GmarketSansBold';
    font-size: 30px;
    color:white;
    padding: 20px 0;
    text-align: center;
}

.bottom-menu-title.mobile{
    letter-spacing: 2px;
    font-size: 22px;
}

.bottom-menu-title2{
    font-size: 24px;
}

.bottom-menu-title2.mobile{
    font-size: 18px;
}

.bottom-menu-list-table{
    font-size: 20px;
}

.bottom-company-info{
    border-top: 1px solid gray;
    padding: 20px 0 40px 0;
    max-width: 900px;
    margin: auto;
}

.bottom-company-info.mobile{
    font-size: 12px;
}

.comp-info-div{
    margin-left: 20px;
    font-size: 14px;
    color: rgb(168, 167, 167);
    line-height: 200%;
}
.comp-info-title{
    font-family: 'jejuGothic';
    font-size: 14px;
    color: rgb(208, 207, 207);
    margin-right:20px;
}

.bottom-ul{
    list-style-type: none;
    font-family: 'jejuGothic';
    line-height: 160%;
    color:white;
}

.bottom-ul.mobile{
    font-size: 12px;
}

.myService-wrap{
    cursor: pointer;
    position: relative;
    background:url("img/defaultProfile.png") no-repeat;
    background-size: 25px;
    width:25px;
    height:25px;
}

.topMenuProfileImg{
    cursor: pointer;
    background-size: 25px;
    width:25px;
    height:25px;
    border-radius: 15px;
}

.myService-list{
    position: absolute;
    top:20px;
    right: 0px;
    font-size:12px;
    width:110px;
    list-style: none;
    padding: 8px 0;
    line-height: 250%;;
    text-align: left;
    border: 0.0625rem solid #e1e1e1;
    border-radius: 5px;
    box-shadow: 0 0 0.625rem 0 rgb(0 0 0 / 10%);
    background-color: white;
    z-index: 61;
}
.myService-list li{
    text-indent: 10px;
}
.myService-list li:hover{
    cursor: pointer;
    background-color: rgb(236, 239, 244);
}
/*매니저 권한 임시 구현*/
.manager-menu{
    cursor: default;
    color:white;
    background-color: rgb(67, 67, 67);
}

.manager-link{
    color:white;
    text-decoration: none;
}
/*매니저 권한 임시 구현 끝*/

.mainImgBox{
    width: 30%;
    background-color: white;
    line-height: 250%;
    margin: 10px auto;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    box-shadow: 0 0 1rem rgb(0 0 0 / 30%);
    box-sizing: border-box;
}

.mainImgBox.first{
    width: 37%;
    position: absolute;
    top: 10px;
    left: 64%;
    transform: translateX(-50%);
    z-index: 1;
}

.mainImgBox.second{
    position: absolute;
    top: 150px;
    left: 70%;
    transform: translateX(-50%);
    z-index: 2;
}

.mainImgBox.third{
    position: absolute;
    top: 340px;
    left: 75%;
    transform: translateX(-50%);
    z-index: 3;
}

.mainImgUI{
    width: 100%;
}

.mainDiv{
    background-color: #eef6ff;
    position: relative;
    height: 95vh;
}

@keyframes target_updown1 {
    0% { top: 65px;}
    50% { top: 85px; }
    100% { top: 65px;}
}

@keyframes target_updown2 {
    0% { top: 160px;}
    50% { top: 140px; }
    100% { top: 160px;}
}


.mainImgDesc {
    font-family: 'jejuGothic';
    position: absolute;
    color:white;
    padding: 7px 10px;
    border-radius: 10px;
}


.mainImgDesc.first {
    animation: target_updown1 2s; 
    animation-iteration-count: infinite;
    left: calc(20% - 120px);
    background-color: rgb(115, 139, 207);
    z-index: 5;
}

.mainImgDesc.first::after {
    border-top: 15px solid rgb(115, 139, 207);
    border-left: 15px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid rgb(115, 139, 207);
    content: "";
    position: absolute;
    right: 15px;
    bottom: -14px;
}

.mainImgDesc.second {
    animation: target_updown2 2s; 
    animation-iteration-count: infinite;
    left: calc(20% + 100px);
    background-color: #ab9fdb;
    z-index: 5;
}

.mainImgDesc.second::before {
    border-top: 15px solid #ab9fdb;
    border-left: 15px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    content: "";
    position: absolute;
    left: -12px;
}

.mainTitle{
    font-family: 'jejuGothic';
    position: absolute;
    top:230px;
    left: 15%;
    font-size: 35px;
    line-height: 160%;
    z-index: 5;
}

.mainImgDiv{
    width: 70px;
    position: absolute;
    top:130px;
    left: 20%;
}

.mainSubRootDiv1, .mainSubRootDiv2{
    padding: 50px;
}

.mainSubRootDiv1.mobile, .mainSubRootDiv2.mobile{
    padding: 20px 0;
}

.mainSubRootDiv2{
    background: #fbf8ff;
}

.mainSubDiv1{
    display: flex;
    flex: 2 1;
    width: 1000px;
    margin: auto;
    position: relative;
    padding: 20px 0;
}

.mainSubDiv1.mobile{
    width: 90%;
    margin: auto;
    display: block;
}



.mainSubDiv1 .mainSubBox, .mainSubDiv1 .mainSubBox2{
    width: 40%;
    background-color: white;
    line-height: 250%;
    margin: 10px 10px 10px 50px;
    border-radius: 10px;
    padding: 20px;
    font-size: 14px;
    box-shadow: 0 0 1rem rgb(0 0 0 / 30%);
    box-sizing: border-box;
}
.mainSubBox.first{
    z-index: 2;
}
.mainSubDiv1 .mainSubBox2{
    padding: 10px;
    position: absolute;
    bottom:0;
    left: 10%;
    width: 55%;
}

.mainSubDiv1.mobile .mainSubBox2{
    position:relative;
    width: 90%;
    left:unset;
    bottom:unset;
    padding:5px;
    margin:0 auto;
}

.mainSubDiv2{
    display: flex;
    flex: 2 1;
    width: 1000px;
    margin: auto;
    position: relative;
    padding: 20px 0;
}


.mainSubTitle{
    font-size: 25px;
    margin:10px;
    font-family: 'TmoneyRoundWindExtraBold';
}

.mainSubTitle.mobile{
    font-size: 22px;
}

.mainSubDesc{
    margin:10px;
    font-family: 'jejuGothic';
    line-height: 140%;
    margin-bottom: 30px;
}

.mainSubDesc.mobile{
    font-size: 16px;
    word-break: keep-all;
}

.mainSubDesc2{
    font-size: 18px;
    margin:10px;
    font-family: 'jejuGothic';
    line-height: 180%;
    margin-bottom: 30px;
}

.mainSubDesc2.mobile{
    font-size: 16px;
}

.mainSubDiv2Title{
    font-family: 'TmoneyRoundWindExtraBold';
    font-size: 25px;
    width: 1000px;
    margin:10px auto;
}

.mainSubDiv2Title.mobile{
    padding: 0 0 20px 0;
    width: 90%;
    font-size: 22px;
    text-align: center;
}

.mainSubDiv2Desc{
    width: 1000px;
    margin:50px auto 20px auto;
    font-family: 'jejuGothic';
    line-height: 160%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}

.mainSubDiv2Desc.mobile{
    width: 90%;
    display: block;
    font-size: 16px;
    margin:30px auto 0px auto;
}

.mainSubDiv2 .mainSubBox.first{
    padding: 10px;
    width: 70%;
    background-color: white;
    line-height: 250%;
    border-radius: 10px;
    font-size: 14px;
    box-shadow: 0 0 1rem rgb(0 0 0 / 30%);
    box-sizing: border-box;
    margin:30px 30px 60px 0;
}

.mainSubDiv2.mobile .mainSubBox.first{
    margin:0 auto;
    padding-bottom: 50%;
}

.mainSubDiv2 .mainSubBox.second{
    background-color: white;
    line-height: 250%;
    border-radius: 10px;
    font-size: 14px;
    box-shadow: 0 0 1.5rem rgba(249, 171, 36, 0.7);
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    z-index: 2;
}

.mainSubDiv2.mobile .mainSubBox.second{
    width:90%;
    margin: auto;
    position: absolute;
    left: 50%;
    bottom:0;
    transform: translateX(-50%);
}

.mainSubDiv2.mobile{
    padding: 0;
    display: block;
    width: 100%;
    margin:10px auto;
}

.mainSubDiv3{
    width: 1000px;
    margin:auto;
    padding: 50px;
    position: relative;
}

.mainSubDiv3.mobile{
    width: 90%;
    padding: 20px 0;
}

.mainSubDiv3 .mainSubBox.first, .mainSubDiv3 .mainSubBox.second{
    display: inline-block;
    background-color: white;
    line-height: 250%;
    border-radius: 10px;
    font-size: 14px;
    box-shadow: 0 0 1.5rem rgba(175, 175, 175, 0.7);
    box-sizing: border-box;
    padding: 10px;
    z-index: 2;
}

.mainSubDiv3 .mainSubBox.first{
    width: 50%;
    position: absolute;
    bottom:0;
    left: 0;
    z-index: 3;
}

.mainSubDiv3.mobile .mainSubBox.first{
    width: 55%;
}


.mainSubDiv3.mobile .mainSubBox.second{
    width: 60%;
    z-index: 4;
}

.mainSubDiv1 .mainSubBox.mobile{
    position: absolute;
    bottom : 0;
    right: 0;
    padding: 5px;
    width: 45%;
}

.mainSubDescTitle{
    position: relative;
    margin: 0 0 7px 25px;
    font-size: 22px;
}

.mainSubDescTitle.mobile{
    font-size: 18px;
    margin:20px 0 10px 25px;
}


.mainSubDescTitle::before{
    display: inline-block;
    background:rgb(148, 103, 253);
    color:white;
    width:20px;
    height:20px;
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    line-height:24px;
    position: absolute;
    left: -25px;
    vertical-align: text-bottom;
}


.mainSubDescTitle.first::before{
    content: '1';
}

.mainSubDescTitle.second::before{
    content: '2';
}



.mainSubDescContents{
    position: relative;
    margin-left: 25px;
    word-break: keep-all;
}



/*
* congrate css[strt]
*/
body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
  }
  
  @keyframes confetti-slow {
    0% { transform: translate3d(0, 0, 0) rotateX(0) rotateY(0); }
    
    100% { transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg); }
  }
  
  @keyframes confetti-medium {
    0% { transform: translate3d(0, 0, 0) rotateX(0) rotateY(0); }
    
    100% { transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg); }
  }
  
  @keyframes confetti-fast {
    0% { transform: translate3d(0, 0, 0) rotateX(0) rotateY(0); }
    
    100% { transform: translate3d(-50px, 105vh, 0) rotateX(10deg) rotateY(250deg); }
  }
  

  .container {
    width: 98vw;
    padding: 0;
    height: 50vh;
    margin: auto;
    background: linear-gradient(white 0%, white 25%, rgba(237, 218, 243, 0.1) 50%, rgba(235, 235, 235, 0.5));
    border:1px solid white;
    display:fixed;
    top:0px;
  }

  .container.mobile{
    background: linear-gradient(white 0%, white 25%, rgba(230, 241, 255, 0.5) 50%, rgba(202, 221, 252, 0.5));
  }
  
  .confetti-container {
    perspective: 700px;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .confetti {
    position: absolute;
    z-index: 1;
    top: -10px;
    border-radius: 0%;
    animation: confetti-slow 3s linear 1 forwards;
  }
  
  .js-container-inner{
    text-align:center;
    margin-top:30px;
    position: absolute;
    top:45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .js-container-inner.mobile{
    text-align:center;
    margin-top:30px;
    position: absolute;
    top:45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
  }

  .fontEmphasis{
    font-size: 18px;
    font-weight: bold;
  }

  @-webkit-keyframes checkmark {
    0% {
      height: 0;
      width: 0;
      opacity: 1;
    }
    20% {
      height: 0;
      width: 37.5px;
      opacity: 1;
    }
    40% {
      height: 75px;
      width: 37.5px;
      opacity: 1;
    }
    100% {
      height: 75px;
      width: 37.5px;
      opacity: 1;
    }
  }
  @-moz-keyframes checkmark {
    0% {
      height: 0;
      width: 0;
      opacity: 1;
    }
    20% {
      height: 0;
      width: 37.5px;
      opacity: 1;
    }
    40% {
      height: 75px;
      width: 37.5px;
      opacity: 1;
    }
    100% {
      height: 75px;
      width: 37.5px;
      opacity: 1;
    }
  }
  @keyframes checkmark {
    0% {
      height: 0;
      width: 0;
      opacity: 1;
    }
    20% {
      height: 0;
      width: 37.5px;
      opacity: 1;
    }
    40% {
      height: 75px;
      width: 37.5px;
      opacity: 1;
    }
    100% {
      height: 75px;
      width: 37.5px;
      opacity: 1;
    }
  }
  
  
/*
* congrate css[end]
*/

.mainSubTitle1{
    font-family: 'GmarketSansBold';
    font-size: 25px;
    color: #3e6599;
    padding: 10px 0;
    text-align: center;
    letter-spacing: 1px;
}

.mainSubTitileName{
    font-size: 35px;
    letter-spacing: 2px;
}

.mainSubTitileName2{
    font-size: 25px;
}