
.top-div{
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.bi-jutify-align, .bi-jutify-align2{
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bi-jutify-align2{
    max-width: 1000px;
    margin:20px auto;
}
.menu-title{
    font-family: 'TmoneyRoundWindExtraBold';
    font-size: 30px;
    color:#3e6599;
    padding: 20px 0;
    text-align: center;
}

.menu-title-etc{
    font-family: 'GmarketSansBold';
    font-size: 25px;
    color:#3e6599;
    padding: 10px 0;
    text-align: center;
    letter-spacing: 1px;
}

.menu-title-etc2{
    font-size: 19px;
}

.menu-list{
    font-family: 'Apple SD Gothic Neo','Malgun Gothic';
    color:#50555a;
    font-weight: bold;
    font-size: 16px;
    padding: 20px 0;
    text-align: center;
}

.menu-list-etc{
    font-family: 'Apple SD Gothic Neo','Malgun Gothic';
    color:#50555a;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 0;
    text-align: center;
}

.menu-list-table{
    border-spacing: 20px 10px;
}


.signLoginBtn{
    font-family: 'Apple SD Gothic Neo','Malgun Gothic';
    font-size:14px;
    padding:8px;
    border-radius: 8px;
    color:rgb(26, 113, 184) !important;
    background-color: rgb(234, 240, 246);
    border: 1px solid rgb(214, 230, 246);
}

.back{
    width: 100%;
    height: 100%;
    background-color: #e1eeff;
}


.bottom-div{
    background-color: #50555a;
    padding: 40px 0;
}

.bottom-flex{
    display: flex;
    flex: 1fr 4fr;
}
.bottom-menu-title{
    font-family: 'GmarketSansBold';
    font-size: 30px;
    color:white;
    padding: 20px 0;
    text-align: center;
}

.bottom-menu-title2{
    font-size: 24px;
}

.bottom-menu-list-table{
    font-size: 20px;
}

.bottom-company-info{
    border-top: 1px solid gray;
    padding: 20px 0 40px 0;
    max-width: 900px;
    margin: auto;
}

.comp-info-div{
    margin-left: 20px;
    font-size: 14px;
    color: rgb(168, 167, 167);
    line-height: 200%;
}
.comp-info-title{
    font-family: 'jejuGothic';
    font-size: 14px;
    color: rgb(208, 207, 207);
    margin-right:20px;
}

.bottom-ul{
    list-style-type: none;
    font-family: 'jejuGothic';
    line-height: 160%;
    color:white;
}

.myService-wrap{
    cursor: pointer;
    position: relative;
    background:url("img/defaultProfile.png") no-repeat;
    background-size: 25px;
    width:25px;
    height:25px;
}

.topMenuProfileImg{
    cursor: pointer;
    background-size: 25px;
    width:25px;
    height:25px;
    border-radius: 15px;
}

.myService-list{
    position: absolute;
    top:20px;
    right: 0px;
    font-size:12px;
    width:110px;
    list-style: none;
    padding: 8px 0;
    line-height: 250%;;
    text-align: left;
    border: 0.0625rem solid #e1e1e1;
    border-radius: 5px;
    box-shadow: 0 0 0.625rem 0 rgb(0 0 0 / 10%);
    background-color: white;
    z-index: 61;
}
.myService-list li{
    text-indent: 10px;
}
.myService-list li:hover{
    cursor: pointer;
    background-color: rgb(236, 239, 244);
}
/*매니저 권한 임시 구현*/
.manager-menu{
    cursor: default;
    color:white;
    background-color: rgb(67, 67, 67);
}

.manager-link{
    color:white;
    text-decoration: none;
}
/*매니저 권한 임시 구현 끝*/