.hide{display:none !important;}

.inBlock{
    display:inline-block;
}
.center{
    text-align: center;
}
.relative{
    position: relative;
}
.paddingLFive{
    padding-left: 5px;
}

.paddingLTen{
    padding-left: 10px;
}
.marginZero{
    margin:0 !important;
}
.marginFive{
    margin:5px;
}
.marginRFive{
    margin-right:5px;
}
.marginFiveVetical{
    margin:5px 0;
}
.marginTenVetical{
    margin:10px 0;
}
.mini-title.marginBox{
    margin:10px 0 30px 0;
}

.marginTen{
    margin:10px;
}

.marginLTwoZero{
    margin-left: 20px;
}

.marginTenAuto{
    margin:10px auto !important;
}

.marginTopTenAuto{
    margin:10px auto 0 auto;
}

.marginUpTen{
    margin-top:10px;
}

.marginLeftFive{
    margin-left:5px;
}

.marginSevenZero{
    margin:70px auto;
}

.uploadBtn{
    cursor: pointer;
    color:white;
    background: rgb(61, 147, 190);
    box-shadow: inset 0 -3px 0 0 rgb(0 0 0 / 10%);
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
}
.uploadBtn::after{
    cursor: pointer;
    display: inline-block;
    content:'';
    background: rgb(48,140,187) url("img/uploadBtn.JPG") no-repeat;
    background-size:25px;
    background-position: 2px 2px;
    border-left:2px solid rgb(56, 133, 172);
    box-shadow: inset 0 -3px 0 0 rgb(0 0 0 / 10%);
    position: relative;
    top: 8px;
    right:-5px;
    text-align: center;
    width: 30px;
    height: 28px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}
.descBox{
    font-size:13px;
    margin:5px;
    font-weight:bolder;
    color: rgb(61, 147, 190);
}

.bolder{
    font-weight:bolder;
}

.MJXc-display{
    display: inline-block !important;
}

.oneDivGrid{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}
.twoDivGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.threeDivGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
.twoFlexLayout{
    display:flex;
    flex:2;
    height:100%;
}

.boxHighLight:focus{
    border:1px solid #B2CCFF;
    box-shadow:0 0 2px 2px #B2CCFF;
}
.linkNoneCss{
    text-decoration: none;
    color:unset;
}

.mini-title{
    font-size:15px;
    font-weight:bold;
    margin:20px 0 2px 5px;
}

.mini-title2{
    font-size:13px;
    color:rgb(59, 59, 59);
    font-weight:bold;
    margin:15px 0 10px 5px;
}

.mini-title3{
    font-size: 14px;
    font-family: 'jejuGothic';
    color:rgb(148, 148, 148);
    margin:10px 0 10px 20px;
}
.mini-title4{
    color: #072e61;
    background-color: #f1f1f1;
    padding: 10px 0 10px 25px;
    border-top: 2px solid dimgray;
    border-bottom: 1px solid lightgray;
    font-family: 'jejuGothic';
    margin-bottom:10px;
}
.mini-title5{
    font-family: 'jejuGothic';
    color:rgb(117, 156, 228);
    margin:10px 0 10px 0;
}
.mini-title6{
    display: inline-block;
    font-family: 'jejuGothic';
    font-weight: 600;
}
.mini-title7{
    border-top: 0.5px solid rgb(211, 211, 211);
    font-size: 14px;
    font-family: 'jejuGothic';
    color:rgb(148, 148, 148);
    padding:10px 0 10px 20px;
}
.mini-title8{
    border-bottom: 0.5px solid rgb(211, 211, 211);
    font-size: 14px;
    font-family: 'jejuGothic';
    color:rgb(117, 156, 228);
    padding:10px 0 10px 20px;
}

.mini-title9{
    color:black;
    font-size: 17px;
    padding: 10px 0 15px 0;
}


.pointer{
    cursor: pointer;
}

.maginLTwoZero{
    margin-left: 20px;
}

.selBox{
    padding:3px;
    background-color: none;
    border-radius: 3px;
}

.selWrapper{
    width:200px;
    padding:20px;
    height: 100px;
}

.circleBox{
    cursor:pointer;
    display: inline-block;
    padding:8px 15px;
    background:rgba(8, 32, 80, 0.4);
    border-radius: 10px;
    font-family: 'jejuGothic';
    color:white;
    margin:2px;
}

.multiAnsInput[type="checkbox"]:checked+label {
    background:rgba(8, 32, 80, 1);
}

.mini-desc{
    font-size:10px;
}

.blindBox{
    position: fixed; 
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 100%;
    text-align: center; 
    background: rgb(236, 235, 235, .5);
    z-index: 10;
}

.closeBtn{
    font-weight: bold;
    font-family: 'GowunDodum-Regular';
    display: inline-block;
    float: right;
    clear:right;
    font-size:30px;
    cursor:pointer;
    padding:5px 15px;
    margin:5px;
    border-radius:5px;
    color:rgb(179, 179, 179);
}

.closeBtn2{
    font-weight: bold;
    font-family: 'GowunDodum-Regular';
    position: absolute;
    top:5px;
    right:5px;
    font-size: 30px;
    cursor: pointer;
    padding: 5px 15px;
    margin: 5px;
    border-radius: 5px;
    color: rgb(179, 179, 179);
}

.mini-closeBtn{
    position: absolute;
    top:15px;
    right:15px;
    display: inline-block;
    font-size:20px;
    cursor:pointer;
    border-radius:5px;
    color:rgb(72, 72, 72);
}

.detailedConDiv .closeBtn{
    font-family: 'malgunGothic';
    margin-bottom: 10px;
}
.rightAbsolBox{
    position: absolute; 
    top: 70px; 
    right: 30px; 
    width: 100px;
    text-align: center; 
}

.nabyBox{
    font-family: 'jejuGothic';
    cursor:pointer;
    padding:10px;
    border-radius:10px;
    color:white;
    background-color: #082050;
}

.blueBoxBtn{
    font-family: 'jejuGothic';
    font-size: 16px;
    display: inline-block;
    padding: 2px 20px;
    cursor:pointer;
    color:white;
    border-radius: 5px;
    background-color: rgb(70, 147, 234);
    vertical-align: middle;
}

.customBlueBox{
    padding-left:15px;
    font-family: 'jejuGothic';
    outline: none;
    width: 133px;
    height: 30px;
    border-radius: 4px;
    color:rgb(23, 104, 196);
    border: 2px solid rgb(173, 209, 250);
    background-color: white;
    margin-right:15px;
}

.customBlueBox::placeholder{
    color:rgb(148, 192, 243);
}

.customBlueBoxComplete{
    background: rgb(82, 141, 207);
    color:white;
}
.fixedTopMenu{
    position: fixed;
    top:0px;
    z-index: 1;
}

.mjx-chtml{
    font-size: 100% !important;
}

.borderBottom{
    border-bottom: 0.5px solid lightgray;
}

.notifyBox, .notifyBoxA {
    display: none;
	position: relative;
	background: #b39fd5;
    font-family: 'jejuGothic';
    padding:15px 20px;
    border-radius: 15px;
    font-size: 16px;
    color:white;
    position: fixed;
    top:50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    line-height: 160%;
}

.notifyBox:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #b39fd5;
	border-right: 0;
	border-top: 0;
	margin-top: -15px;
	margin-right: -15px;
}

.notifyBox.lowerTop{
    top:40%;
}

.notifyBoxA {
    z-index: 120;
    top:25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.notifyBoxB, .notifyBoxC{
    display: none;
	background: #f95f47;
    font-family: 'jejuGothic';
    padding:15px 20px;
    border-radius: 15px;
    font-size: 16px;
    line-height: 140%;
    color:white;
    position: fixed;
    top:20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 120;
    animation: upDownShake 0.5s cubic-bezier(.5,.05,.5,.97) both;
}

.notifyBoxC{
    top:20%;
    transform: translateX(-50%);
}
.notifyBoxC-Ok{
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
}


@keyframes upDownShake {
    0% { transform: translate(-51%, 2px) rotate(0deg); }
    15% { transform: translate(-49%, 0px) rotate(0deg); }
    30% { transform: translate(-51%, -2px) rotate(1deg); }
    45% { transform: translate(-49%, 0px) rotate(0deg); }
    60% { transform: translate(-51%, -2px) rotate(-1deg); }
    75% { transform: translate(-49%, 0px) rotate(-1deg); }
    90% { transform: translate(-51%, 2px) rotate(0deg); }
    100% { transform: translate(-50%, 0px) rotate(0deg); }
  }



.promptBoxScreen, .confirmBoxScreen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    background: rgb(0, 0, 0, 0.3);
}

.promptBox, .confirmBox{
    z-index: 103;
    opacity: 1;
	position: relative;
	background-color: white;
    font-family: 'jejuGothic';
    border-radius: 15px;
    font-size: 16px;
    color:dimgray;
    line-height: 130%;;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    box-shadow:0 0 10px 10px rgb(0, 0, 0, 0.1);
    padding-bottom: 15px;
}
.promptBoxTop, .confirmBoxTop{
    text-align: right;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 5px 10px;
    background: #a998c7;
}
.promptMsg, .confirmMsg{
    padding: 25px 20px 25px 20px;
    line-height: 160%;
}

.promptInputDiv{
    margin: 0 0 30px 0;
    text-align: center;
}
.promptInput{
    width: 80%;
    font-size: 16px;
    padding: 5px;
    border: none;
    box-shadow:0 0 2px 2px #d7d7d7;
}
.promptInput::placeholder{
    color:rgb(198, 198, 198);
}

.promptInput:focus{
    border:none;
    outline: unset;
    border-bottom: unset;
    box-shadow:0 0 2px 2px #B2CCFF;
}

.shake.promptInput:focus{
    border:none;
    outline: unset;
    border-bottom: unset;
    box-shadow:0 0 2px 2px #ff7171;
}

.promptBoxClose, .confirmBoxClose{
    cursor: pointer;
    color: white;
}
.promptBoxBtn, .confirmBoxBtn{
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    color:rgb(255, 255, 255);
    padding: 5px 10px;
    width: 40%;
    background: #a998c7;
    outline: 2px solid #a998c7;
}
.promptBoxBtn:hover, .confirmBoxBtn:hover{
    color:white;
    background: #8b76ae;
}

.confirmBoxCnclBtn{
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    color:rgb(255, 255, 255);
    padding: 5px 10px;
    width: 40%;
    color: #a998c7;
    outline: 2px solid #a998c7;
}

.confirmBoxCnclBtn:hover{
    background:#f9f7ff;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
.shake{
    animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.hidden{
    visibility:hidden 
}

.pointer{
    cursor: pointer;
}

.alignCenter{
    text-align: center;
}
.alignLeft{
    text-align: left;
}
.alignRight{
    text-align: right;
}
.emptyListMsg{
    width: 1000px;
    text-align: center;
    font-family: 'jejuGothic';
    font-size: 20px;
    margin:0px auto 40px auto;
    color:rgb(117, 156, 228);
    padding-top: 20px;
    white-space: pre-wrap;
    line-height: 160%;
}
.myContentsList .emptyListMsg{
    border-top:unset;
}
.emptyListImg{
    width:300px;
}

.emptyListImg.miniSize{
    width:150px;
}
.myProfileDiv{
    width:1000px;
    margin:30px auto 10px auto;
    padding:10px;
    background: #fafafb;
    border-radius: 5px;
}

.profileImgWrap, .profileImg{
    display: inline-block;
    cursor: pointer;
    position: relative;
    width:100px;
    height:100px;
}

.profileImg{
    border-radius: 50%;
}

.profileUpdateBtn{
    position: absolute;
    width:30px;
    height:30px;
    bottom: 0;
    left: 0;
}

.myProfileTable{
    border-spacing: 30px 0px;
    line-height: 160%;;
}

.myConSeachFilter{
    cursor: pointer;
    font-size: 14px;
    position: relative;
    display: inline-block;
    font-family: 'jejuGothic';
    padding: 6px 15px 6px 10px;
    background:rgb(246, 248, 250);
    border: 1px solid rgb(213, 216, 218);
    border-radius: 5px;
    margin-right: 15px;
}

.myConSeachFilter::after{
    font-size: 10px;
    content: '\25BC';
    position: relative;
    top:50%;
    right: -10px;
    transform: translateY(-50%);

}
	
.myPageMenuDIv{
    border-bottom: 0.5px solid rgb(196, 196, 196);
}

.myPageMenuWrap{
    color:rgb(151, 151, 151);
    font-family: 'jejuGothic';
    width: 1000px;
    margin:25px auto 0 auto;
}

.myPageMenu{
    cursor: pointer;
    display: inline-block;
    padding: 5px 15px;
    position:relative;
}

.myPageMenu.active{
    color:black;
    border-bottom: 3px solid rgb(255, 104, 35);
}
.myPageMenuTitle{
    display: inline-block;
    padding: 5px 10px ;
}

.myPageMenu:hover .myPageMenuTitle{
    background-color: #f5f5f5;
    border-radius: 5px;
}

.myProd::before, .myRepo::before, .myDocs::before, .myResource::before{
    vertical-align: middle;
    margin-right: 3px;
    display: inline-block;
    content: '';
    width: 20px;
    height: 20px;
    background-size:15px;
    opacity: 0.5;
}

.myProd::before{
    background:  url("img/content.png") no-repeat bottom;
    background-size:15px;
}

.myRepo::before{
    background:  url("img/boxes.png") no-repeat bottom;
    background-size:17px;
}

.myDocs::before{
    background:  url("img/documents.png") no-repeat bottom;
    background-size:15px;
}


.myResource::before{
    background:  url("img/geometric.png") no-repeat bottom;
    background-size:15px;
}

.myPageMenu.active .myProd::before, .myPageMenu.active .myRepo::before, .myPageMenu.active .myDocs::before
, .myPageMenu.active .myResource::before{
    opacity: 1;
}

.likeBtn, .putRepoBtn{
    display: inline-block;
    cursor: pointer;
    position: relative;
    background:url("img/like_gray.png") no-repeat;
    background-size:22px;
    width:22px;
    height:22px;
    vertical-align: middle;
}

.likeBtn.active{
    background:url("img/like_red.png") no-repeat;
    background-size: 22px;
    animation:scaleBounce .3s ;
}

.likeBtn.active2{
    background:url("img/like_red.png") no-repeat;
    background-size: 22px;
}

.putRepoBtn{
    position: relative;
    width:25px;
    height:25px;
    background:url("img/folder_gray.png") no-repeat;
    background-size:25px;
}

.putRepoBtn.active{
    background:url("img/folder_yellow.png") no-repeat;
    background-size: 25px;
    animation:scaleBounce .5s ;
}

.putRepoBtn.active2{
    background:url("img/folder_yellow.png") no-repeat;
    background-size: 25px;
}

@keyframes scaleBounce{
	from {transform:scale(1.4)}
	to {transform:scale(1)}
}

.putRepoToolTip{
    text-align: center;
    position: absolute;
    left: 0%; 
    bottom: 120%; 
    width:190px;
    padding: 3px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    visibility:hidden;
}
.putRepoBtn.active+.putRepoToolTip{
    animation:opacityTrans 2s ;
}

@keyframes opacityTrans{
	0% {visibility:visible;opacity: 0;}
    25%{opacity: 1;}
    75%{opacity: 1;}
	100% {visibility:hidden;opacity: 0;}
}

.justifyAlign{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transConCntCircle{
    font-family: 'jejuGothic';
    top: -10px;
    right: -12px;
    position: absolute;
    display: inline-block;
    background:white;
    border:2px solid #2d6bc2;
    color:#2d72d3;
    min-width:13px;
    height:13px;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    line-height: 15px;
}

.td1.userSearchPage{
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.td1.backHover:hover{
    background: rgba(201, 202, 203, 0.2);
}


.myNickName{
    font-size: 20px;
    font-weight: bold;
    color:rgb(63, 63, 63);
    vertical-align: middle;
}

.nicknameChngBtn{
    margin-left: 8px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    background:url("img/pencil.png") no-repeat;
    background-size: 17px;
    width: 17px;
    height: 17px;
    
}

.nicknameChngToolTip{
    display: none;
}

.nicknameChngBtn:hover+.nicknameChngToolTip{
    position: absolute;
    bottom:20px;
    width:85px;
    font-size: 10px;
    text-align: center;
    padding: 0px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    display: inline-block;
}
.profileNickname{
    width:250px;
    padding: 2px;
    border:1px solid rgb(130, 130, 130);
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(63, 63, 63);
    vertical-align: middle;
}
.profileNickname:focus{
    outline: none;
    border:1px solid #B2CCFF;
    box-shadow:0 0 2px 2px #B2CCFF;
}
.nickChngOkBtn, .nickChngCancelBtn{
    cursor: pointer;
    font-family: 'jejuGothic';
    font-size: 13px;
    display: inline-block;
    padding:0 6px;
    border-radius: 5px;
    margin-left:10px;
    background: #a998c7;
    color:white;
    vertical-align: middle;
}

.nickChngCancelBtn{
    outline: 2px solid #a998c7;
    background:unset;
    color:#a998c7;
}


.mySearchFilter-list{
    position: absolute;
    top:20px;
    left: 0px;
    font-size:12px;
    width:110px;
    list-style: none;
    padding: 8px 0;
    line-height: 250%;;
    text-align: left;
    border: 0.0625rem solid #e1e1e1;
    border-radius: 5px;
    box-shadow: 0 0 0.625rem 0 rgb(0 0 0 / 10%);
    background-color: white;
    
    z-index: 10;
}
.mySearchFilter-list li:first-child{
    border-top: 0.5px solid rgb(219, 219, 219);
}
.mySearchFilter-list li{
    text-indent: 10px;
    border-bottom: 0.5px solid rgb(219, 219, 219);
    border-collapse: collapse;
    border-spacing: 0;
}
.mySearchFilter-list li:hover{
    cursor: pointer;
    background-color: rgb(236, 239, 244);
}

.filetedEmptyMsg{
    width:1000px;
    position: absolute;
    top:50px;
    left:50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: 'jejuGothic';
}

.miniCircle{
    font-size: 10px;
    font-family: 'SCDream4';
    color:rgb(25, 50, 81);
    padding:1px 4px;
    vertical-align: middle;
    border: 0.5px solid rgb(25, 50, 81);
    border-radius: 5px;
    margin-left:10px;
}
.miniBtn{
    cursor: pointer;
    font-size: 10px;
    font-family: 'SCDream4';
    background: rgb(25, 50, 81);
    color:white;
    padding:1px 4px;
    vertical-align: middle;
    border: 0.5px solid rgb(25, 50, 81);
    border-radius: 5px;
    margin-left:10px;
}
.positionCenter{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.activeCircle{
    display: inline-block;
    line-height: 22px;
    width:20px;
    height:20px;
    font-size: 12px;
    color:white;
    background-color: green;
    border-radius: 50%;;
    text-align: center;
    vertical-align: middle;
}

.activeCircle, .inactiveCircle{
    display: inline-block;
    width:20px;
    height:20px;
    font-size: 12px;
    color:white;
    border-radius: 50%;;
    text-align: center;
    line-height: 20px;
    vertical-align: unset;
    font-family: 'malgunGothic';
    margin-bottom: 5px;
}

.activeCircle::after{
    content: '\2714';
}
.activeCircle{
    background-color: green;
}

.inactiveCircle::after{
    color:white;
    content: '\2716';
}
.inactiveCircle{
    background-color: rgb(244, 0, 0);
}

.followedUser{
    cursor: pointer;
    display: inline-block;
    content:'\2714';
    background: url("img/profileNobackground.png") no-repeat 65% center;
    background-size:25px;
    width:25px;
    height: 25px;
    vertical-align: middle;
    border: 2px solid #9A9898;
    border-radius: 5px;
    padding:1px 20px;
    margin-left: 20px;
}

.followedUser::before{
    color: #9A9898;
    content:'\2714';
    position: relative;
    left: -10px;
}

.followDiv{
    font-size: 14px;
    margin-top: 10px;
}

.followCnt{
    font-weight: bold;
   
}

.followWrap{
    cursor: pointer;
    margin-right: 20px;
}
@keyframes scaleBounceCenter{
	from {transform:translate(-50%, -50%) scale(1.4)}
	to {transform:translate(-50%, -50%) scale(1)}
}
.followCancelDiv{
    animation:scaleBounceCenter .3s ;
    display: inline-block;
    width: 350px;
    padding: 20px 0 0 0;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    text-align: center;
    line-height: 200%;
    font-size: 14px;
}

.followCncl{
    cursor: pointer;
    color:red;
    border-top: 1px solid rgb(186, 186, 186);
    padding: 10px 0;
    font-weight: bold;
}

.followCnclCncl{
    cursor: pointer;
    border-top: 1px solid rgb(186, 186, 186);
    padding: 10px 0;
}

@keyframes scaleBounceX{
	from {transform:translateX(-50%) scale(1.4)}
	to {transform:translateX(-50%) scale(1)}
}
.followList{
    animation:scaleBounceX .3s ;
    position: absolute;
    top:25%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    width:350px;
    max-height: 350px;
    overflow-y: auto;
    padding: 15px 0;
    border-radius: 10px;
}

.followListTable{
    border-spacing: 0 10px;
    width: 90%;
    text-align: left;
    font-size: 14px;
    margin:auto;
}

.followListTable td:first-child{
    width:30px;
}

.miniRedBtn{
    cursor: pointer;
    color : rgb(55, 55, 55);
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    border:1px solid rgb(195, 195, 195);
    padding: 2px 4px;
}

.hoverUnderLine:hover{
    text-decoration: underline;
    text-decoration-color: rgb(103, 103, 103);
}

.followListTitle{
    font-family: 'jejuGothic';
    text-align: center;
    padding:10px;
    border-bottom: 1px solid rgb(189, 188, 188);
    margin-bottom: 10px;
}

.scrollMoveBtn{
    width: 64px;
    height: 64px;
    position: fixed;
    bottom: 50px;
    right:60px;
    text-align: center;
    border: 3px solid rgb(225, 225, 225);
    border-radius:50%;
}

.conListScrollToTop{
    cursor: pointer;
    z-index: 3;
    width: 30px;
    height: 30px;
    margin:auto;
    background: url('img/scroll-to-top.png') center no-repeat;
    background-size: 30px;
    margin-bottom: 4px;
}

.conListScrollToBottom{
    cursor: pointer;
    z-index: 3;
    width: 30px;
    height: 30px;
    margin:auto;
    background: url('img/scroll-to-bottom.png') center no-repeat;
    background-size: 30px;
}

.conScrollCenterCircle{
    z-index: 3;
    display: inline-block;
    width: 9px; 
    height: 9px;
    background-color: rgb(59, 148, 235);
    border-radius:50%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.paddinHundreds{
    padding:100px;
}

.paddingFiveZero{
    padding:50px;
}

.paddingFive{
    padding: 5px;
}

.paddingTen{
    padding:10px;
}

.paddingZeroTen{
    padding:0 10px;
}

.backLightGray{
    background-color: rgb(239, 238, 238);
}

.delBtn{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background:  url("img/trashBox.png") no-repeat center;
    background-size: 20px;
    cursor: pointer;
    position: absolute;
    top:10px;
    right: 5px;
    padding: 6px;
}

.delBtn:hover{
    width: 20px;
    height: 20px;
    background:  url("img/trashBoxOrg.png") no-repeat center;
    background-size: 20px;
}


.errBtn{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background:  url("img/siren.png") no-repeat center;
    background-size: 20px;
    cursor: pointer;
    position: absolute;
    top:45px;
    right: 5px;
    padding: 6px;
}

.topErrBtn{
    top:10px;
}

.errBtn:hover{
    width: 20px;
    height: 20px;
    background:  url("img/sirenOrg.png") no-repeat center;
    background-size: 20px;
}

.allSpace{
    width: 100%;
    height: 100%;
}

.reviseBtn{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background:url("img/pencil.png") no-repeat center;
    background-size: 17px;
    cursor: pointer;
    position: absolute;
    top: 45px;
    right: 5px;
    padding: 4px;
}

.reviseBtn:hover{
    background:url("img/pencilOrg.png") no-repeat center;
    background-size: 17px;
}

.errorReportRootDiv, .serviceCenterRootDiv{
    display: inline-block;
    width: 400px;
    min-height: 250px;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 1rem rgb(0 0 0 / 7%);
    box-sizing: border-box;
    border-radius: 10px;
}

.serviceCenterRootDiv{
    width: 600px;
    text-align: left;
}

.serviceCenterTabMenu{
    width: 390px;
    text-align: center;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}

.serviceCenterTab{
    cursor: pointer;
    display: inline-block;
    width: 130px;
    font-family: 'jejuGothic';
    padding: 10px 0 7px 0;
    opacity: 0.7;
}

.serviceCenterTab.active{
    border-bottom: 3px solid rgb(255, 104, 35);
}

.serviceCenterTab:hover{
    background-color: #f5f5f5;
    opacity: 1;
}


.errorReportRootTitle{
    font-family: 'jejuGothic';
    color:orange;
    font-size: 20px;
    margin-top:10px;
    padding-bottom: 10px;
    border-bottom: 2px solid lightgrey;
}

.errorReportRootTitle::before{
    display: inline-block;
    content: '';
    width: 25px;
    height: 25px;
    background:  url("img/sirenOrg.png") no-repeat center;
    background-size: 24px;
    vertical-align: middle;
    margin-right: 10px;
}

.serviceCenterRootTitle{
    font-family: 'jejuGothic';
    font-size: 20px;
    margin-top:10px;
    padding:0 0 15px 10px;
    text-align: center;
}

.errorReportRootDesc{
    font-family: 'jejuGothic';
    font-size: 16px;
    margin: 20px 10px 20px 10px;
    text-align: left;
    color:gray;
}

.errCloseBtn{
    position: absolute;
    top:0;
    right:0;
}

.errorReportContents{
    font-family: 'jejuGothic';
    outline: none;;
    padding:5px;
    width: 90%;
    height: 50px;
    margin:auto;
    resize: none; /* 사용자 임의 변경 불가 */
    font-size:14px;
    line-height: 150%;
    border-radius: 5px;
}

.errorReportContents:focus{
    outline: none;
    border:1px solid rgb(237, 207, 150);
    box-shadow:0 0 2px 2px rgb(255, 184, 52);
}

.errRegisterBtn{
    cursor: pointer;
    font-family: 'jejuGothic';
    display: inline-block;
    padding: 3px 7px;
    background-color : rgb(255, 184, 52);
    color:white;
    border-radius: 5px;
    margin:20px auto;
}

.hourglass{
    display: inline-block;
    width: 100px;
    margin-bottom:20px;
}

.serviceCenterMenuCon{
    padding: 0 20px;
    font-family:'jejuGothic';
    color:rgb(111, 111, 111);
    line-height: 140%;
    height: 350px;
    overflow-y: scroll;
}

.questionText{
    width: 95%;
    height: 120px;
    padding: 5px;
    resize: none; /* 사용자 임의 변경 불가 */
}

.imgAddDesc{
    font-size: 12px;
    text-align: left;
    padding: 10px 0 0 20px; 
}

.imgAddBtn{
    font-size: 60px;
    cursor: pointer;
    display: inline-block;
    width:100px;
    height:100px;
    line-height: 100px;
    border:1px solid lightgray;
    margin:10px;
    color:rgb(220, 220, 220);
}

.serviceCenterMenuCon::-webkit-scrollbar {width: 6px;}
.serviceCenterMenuCon::-webkit-scrollbar-track {background: transparent; }
.serviceCenterMenuCon::-webkit-scrollbar-thumb {background: #aeaeaf; border-radius: 45px;}
.serviceCenterMenuCon::-webkit-scrollbar-thumb:hover {background: #504f4f;}

.myQnATb{
    font-family: 'Apple SD Gothic Neo','Malgun Gothic';
    font-size:12px;
    width: 100%;
    border-spacing: 0px;
}

.myQnATb tr:first-child{
    text-align: center;
    background-color: lightgrey;
}

.myQnATb tr td{
    padding-left:10px;
    border-bottom: 0.5px solid lightgrey;
}

.myQnATbContents{
    width:280px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.reportStts{
    text-align: center;
    width:50px;
}

.myQnATbContents:hover{
    cursor: pointer;
    text-decoration: underline;
}

.orgText{
    color:orange;
}

.greenText{
    color:green;
}

.backBtn{
    cursor: pointer;
    display: inline-block;
}

.detailedErrReportWrap{
    border: 1px solid gray;
    border-radius: 5px;
    margin-top:15px;
    font-family: 'Apple SD Gothic Neo','Malgun Gothic';
    font-size: 14px;
}

.detailedErrReportTitle{
    border-bottom: 1px solid gray;
    padding: 10px;
}

.detailedReportContents{
    padding: 10px;
}

.detailedReplyDiv{
    font-size: 14px;
    font-family: 'Apple SD Gothic Neo','Malgun Gothic';
    padding:20px 10px 10px 60px;
    color:black;
}

.detailedReplyTitle{
    font-weight: bold;
    position: relative;
    margin-bottom: 10px;
}

.detailedReplyTitle::before{
    font-weight: normal;
    content:'A';
    display: inline-block;
    background:rgb(123, 182, 255);
    color:white;
    width:20px;
    height:20px;
    border-radius: 50%;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top:1px;
    left:-25px;
}

.detailedReplyTitle::after{
    font-weight: 100;
    content:'';
    width:15px;
    height:17px;
    border-bottom: 1px solid rgb(199, 199, 199);
    border-left: 1px solid rgb(199, 199, 199);
    display: inline-block;
    text-align: center;
    position: absolute;
    top:-7px;
    left:-47px;
}

.customBtn{
    padding: 5px 10px;
    border-radius: 5px;
    background: #2d6bc2;
    color:white;
    cursor: pointer;
}

.customBtn2{
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    background: #b0b0b0;
    color:white;
    cursor: pointer;
}