@font-face {
    font-family: 'JejuGothic';
    src:url('font/JejuGothic-Regular.ttf')
    format('truetype');
}

@font-face {
    font-family: 'MJXc-TeX-size2-Rw'; 
    src /*1*/: url('font/MathJax_Size2-Regular.eot');
    src /*2*/: url('font/MathJax_Size2-Regular.woff')
    format('woff')
}

/*
* 한글 : U+AC00-D7A
* 숫자 : U+003A-0040
* 특수문자 : U+0020-002F
* 대괄호 및 기타 특수문자 : U+005B-0060
* 중괄호 : U+007B-007E

*/
@font-face {
    font-family: 'nbFormulaFont';
    src:url('font/JejuGothic-Regular.ttf')
    format('truetype');
    unicode-range: U+AC00-D7A3, U+0020-002F,  U+005B-0060, U+007B-007E;
}
/*
* ㄱ원형문자 : U+3260-3266
*/
@font-face {
    font-family: 'nbFormulaFont';
    src: url('font/OTJeongsogeonhaeLA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range:  U+3260-3266;
}

/*
* 중간점(곱하기 점) : U+00B7
*/
@font-face {
    font-family: 'nbFormulaFont';
    src: url('font/KOTRALEAP.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    unicode-range:   U+00B7;
}

/* 영어 대문자 */
@font-face {
    font-family: 'nbFormulaFont';
    src:url('font/STIXTwoText-MediumItalic.ttf')
    format('truetype');
    unicode-range: U+0061-007A;
}


/** 출력화면 문제번호 **/
@font-face {
    font-family: 'screenNumber';
    src:url('font/MinSans-Bold.ttf')
    format('truetype');
}
/* 
*  영어 대문자 : U+0041-005A
*  숫자        : U+0030-0039
*  그리스문자(알파, 베타, 감마, 오메가 등등 ) : U+03B1-03C9
*  부등호     : U+003C-003E
*  + 기호     : U+002B
*/
@font-face {
    font-family: 'nbFormulaFont';
    src:url("font/STIXTwoText-Medium.ttf")
    format('truetype');
    unicode-range: U+0041-005A, U+03B1-03C9, U+003C-003E, U+002B;
    letter-spacing: 2px;
}

@font-face {
    font-family: 'STIXTwoText-Medium';
    src:url("font/STIXTwoText-Medium.ttf")
    format('truetype');
    letter-spacing: 2px;
}

@font-face {
    font-family: 'nbFormulaFont';
    src:url("font/STIXTwoText-SemiBold.ttf")
    format('truetype');
    unicode-range: U+0030-0039;
    letter-spacing: 2px;
}
/*
* -(대쉬, 마이너스) 기호 : U+002D;
* 중복순열 기호 : U+002D;
*/
@font-face {
    font-family: 'nbFormulaFont';
    src: url('font/SB-UgroL.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+002D, U+220F;
}

@font-face {
    font-family: 'nbFormulaFont';
    src: url('font/SB-UgroL.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+223D;
}

@font-face {
    font-family: 'formulaFont';
    src:url('font/STIXTwoText-MediumItalic.ttf')
    format('truetype');
}

@font-face {
    font-family: 'rootFracFont';
    src: url('font/GmarketSansLight.woff') format('woff');
   /** src:url("font/GmarketSansTTFLight.ttf") 추후 변경 필요**/
    font-weight: 100;
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('font/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*경우의 수, 구버전*/
@font-face {
    font-family: 'caseBrck-old';
    src: url('font/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*경우의 수, 현재버전*/
@font-face {
    font-family: 'caseBrck';
    src: url('font/Dorsa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'MapoDacapo';
    src: url('font/MapoDacapoA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GowunDodum-Regular';
    src:url('font/GowunDodum-Regular.ttf')
    format('truetype');
}

@font-face {
    font-family: 'SCDream4';
    src:url('font/SCDream4.otf')
    format('truetype');
}

@font-face {
    font-family: 'TmoneyRoundWindExtraBold';
    src:url('font/TmoneyRoundWindExtraBold.ttf')
    format('truetype');
}

@font-face {
    font-family: 'CookieRun-Regular';
    src: url('font/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.nbFomularEditor { 
    border: 1px solid gray; 
    padding:10px;
    min-height:100px;
    font-family: "nbFormulaFont";
    font-size:16px;
}   
.nbFomularEditor::selection{
    background:rgb(192, 191, 191);
    color:black;
}

.nbFomularEditor *::selection{
    background:rgb(192, 191, 191);
    color:black;
}

/** nb공통 css **/
.nbBox{
    display:inline-block;
}

.nbIntegralBox, .nbDoubleIntegralBox, .nbTripleIntegralBox {
    position: relative;
    border-spacing: 0px;
    line-height: 160%;
}

.nbIntegralTbody, .nbIntegralTbody2{
    display: inline-block;
}

.nbIntegralTbody2{
    display: inline;
    vertical-align: unset;
}

.nbIntSign, .nbDoubleIntSign, .nbTripleIntSign {
    font-family: 'MJXc-TeX-size2-Rw'; 
    min-width: 1.2em;
    text-align: left;
}
.nbDoubleIntSign{
    min-width: 1.6em;
}

.nbTripleIntSign {
    min-width: 2em;
}
.nbIntBase, .nbDoubleIntBase, .nbTripleIntBase {
    line-height: 160%;
    min-width: 0.5em;
    display:inline;
    position: relative;
    left: -0.2em;
}

/*
.nbIntegralBox.nbFracInIntegral .nbIntBase, .nbDoubleIntegralBox.nbFracInIntegral .nbDoubleIntBase,
 .nbTripleIntegralBox.nbFracInIntegral .nbTripleIntBase{
    position: relative;
    top:0px;
}
*/

.nbDoubleIntBase{
    left: 0em;
}

.nbTripleIntBase {
    left: 0;
}

.nbIntSup, .nbDoubleIntSup, .nbTripleIntSup {
    text-align: left;
    line-height: 110%;
    padding: 0px;
    font-size: 0.3em;
    position: relative;
    vertical-align: top;
    top: 0em;
    left: -0.8em;
}

.nbFracInIntSub .nbIntSup, 
.nbFracInIntSub .nbDoubleIntSup, 
.nbFracInIntSub .nbTripleIntSup{
    top:6px
}

.nbFracInIntSup .nbIntSup, 
.nbFracInIntSup .nbDoubleIntSup, 
.nbFracInIntSup .nbTripleIntSup{
    padding-bottom: 20px;
}

.nbFracInIntSup .nbIntSub, 
.nbFracInIntSup .nbDoubleIntSub, 
.nbFracInIntSup .nbTripleIntSub{
    bottom:6px;
}
.nbFracInIntSup.nbFracInIntSub{
    margin:3px 0;
}
.nbFracInIntSup.nbFracInIntSub .nbIntSup, 
.nbFracInIntSup.nbFracInIntSub .nbDoubleIntSup, 
.nbFracInIntSup.nbFracInIntSub .nbTripleIntSup{
    top:-3px;
    padding-bottom:unset;
}
.nbFracInIntSup.nbFracInIntSub .nbIntSub, 
.nbFracInIntSup.nbFracInIntSub .nbDoubleIntSub, 
.nbFracInIntSup.nbFracInIntSub .nbTripleIntSub{
    bottom: -3px;
    padding-bottom:unset;
}

.nbFracInIntSup{
    margin-top: 0.3em;
}


.nbDoubleIntSup{
    left: -0.3em;
}

.nbTripleIntSup{
    left: 0em;
}


.onlyEdit:focus .nbIntSup.yellowBorderBox:before,
.onlyEdit:focus .nbDoubleIntSup.yellowBorderBox:before,
.onlyEdit:focus .nbTripleIntSup.yellowBorderBox:before{
    top: -2px;
    border: 2px dashed rgb(255, 196, 1) !important
}



.onlyEdit:focus .nbIntSup:before, .onlyEdit:focus .nbDoubleIntSup:before,
.onlyEdit:focus .nbTripleIntSup:before{
    content: '';
    border: 1px dashed gray;
    width: 100%;
    height: 40%;
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;
}

.onlyEdit:focus .nbIntSup:before, 
.onlyEdit:focus .nbDoubleIntSup:before, 
.onlyEdit:focus .nbTripleIntSup:before{
    height: 40%;
}


.nbIntSup.borderBox, .nbDoubleIntSup.borderBox, .nbTripleIntSup.borderBox{
    border: unset !important;
}
.onlyEdit:focus .nbIntSup.yellowBorderBox, 
.onlyEdit:focus .nbDoubleIntSup.yellowBorderBox, 
.onlyEdit:focus .nbTripleIntSup.yellowBorderBox{
    border: unset !important;
}


.nbIntSub, .nbDoubleIntSub, .nbTripleIntSub {
    line-height: 110%;
    padding: 0px;
    font-size: 0.3em;
    text-align: left;
    vertical-align: bottom;
    position: relative;
    bottom: 0em;
    left: -2em;
}

.nbTripleIntSub {
    left: -1.8em;
}

.onlyEdit:focus .nbIntSup, .onlyEdit:focus .nbIntSub,
.onlyEdit:focus .nbDoubleIntSup, .onlyEdit:focus .nbDoubleIntSub,
.onlyEdit:focus .nbTripleIntSup, .onlyEdit:focus .nbTripleIntSub{
    min-width: 1em;
}

.nbIntTR, .nbDoubleIntTR, .nbTripleIntTR{
    height: 2em;
}

/*
.nbIntBase .nbRootBase.nbFracInRoot::before,
.nbDoubleIntBase .nbRootBase.nbFracInRoot::before,
.nbTripleIntBase .nbRootBase.nbFracInRoot::before,
.nbLimBase .nbRootBase.nbFracInRoot::before{
    top: 0.368em;
}
*/

.nbFracBox.nbIntegralInDenom{
    vertical-align: -2.45em;
}

.nbFracBox.nbIntegralInNumer{
    vertical-align: -0.85em;
}

.nbFracBox.nbIntegralInDenom.nbFracInDenom {
    vertical-align: -2.45em;
}

.nbFracBox.nbIntegralInNumer.nbFracInNumer {
    vertical-align: -0.86em;
}

.nbFracBox.nbIntegralInNumer.nbIntegralInDenom{
    vertical-align: middle;
}

/** 시그마합 표현 **/
.nbSigmaSumBox {
    position: relative;
    border-spacing: 0;
    text-align: center;
    line-height: 110%;
}

.nbSigmaSumTbody{
    display: inline-block;
}

.nbSigmaSumTbody2{
    display: inline;
    line-height: 160%;
    vertical-align: unset;
}

.nbSigmaSumSub {
    bottom: -0.5em;
}

.nbSigmaSumSign, .nbSigmaSumSign2 {
    font-family: 'MJXc-TeX-size2-Rw';
    line-height: 110%;
}

.nbSigmaSumSup, .nbSigmaSumSub {
    font-size: 0.3em;
    line-height: 110%;
    position: relative;
    
}

.nbSigmaSumBase {
    line-height: 110%;
    position: relative;
    top: 2px;
}

.nbSigmaSumBase {
    display: inline;
    top:0;
}

/*
.nbSigmaSumBox.nbFracInSigmaSum .nbSigmaSumBase{
    position: relative;
    top:0px;

}
*/

.onlyEdit:focus .nbSigmaSumBase {
    min-width: 0.5em;
}

.nbFracBox.nbSigmaSumInDenom, .nbFracBox.nbSigmaSumInDenom.nbFracInDenom {
    vertical-align: -2.7em;
}
.nbFracBox.nbSigmaSumInNumer {
    vertical-align: -0.9em;
}

.nbFracBox.nbSigmaSumInDenom.nbSigmaSumInNumer{
    vertical-align: middle;
}

/** 로그 **/
.nbLogBox {
    position: relative;
    border-spacing: 0;
}

.nbLogSign.writeDisable {
    position: relative;
    left: 0.1em;
}
.nbLogBoxTbody{
    display: inline-block;
    position: relative;
    top: 2.5px;
}

.nbLogBoxTbody2{
    display: inline;
    vertical-align: unset;
}

.nbLogBase {
    display: inline;
    min-width: 0.5em;
}

.nbLogBase .nbRootBase.nbFracInRoot::before {
    top: 0.265em;
}
.nbLogSubBase {
    font-size: 0.3em;
    line-height: 110%;
    vertical-align: bottom;
    position: relative;
}


/*
.nbFracInLog .nbLogSubBase {
    top:-6px
}
*/

.onlyEdit:focus .borderBox{
    display: table-cell;
}

.onlyEdit:focus .nbLogSubBase:before{
    content: '';
    border: 1px dashed gray;
    width: 100%;
    height: 35%;
    display: block;
    position: absolute;
    bottom: 1px;
    left: -1px;
}

.onlyEdit:focus .nbLogSubBase{
    min-width: 0.5em;
}

.onlyEdit:focus .nbLogSubBase.yellowBorderBox:before{
    bottom: 2px;
    border: 2px dashed rgb(255, 196, 1) !important
}

.nbLogSubBase.borderBox{
    border: unset !important;
}
.onlyEdit:focus .nbLogSubBase.yellowBorderBox{
    border: unset !important;
}

.nbFracInLogSubBase{
    margin-bottom: 9px;
}
.nbFracInLogSubBase .nbLogSubBase{
    top: 9px;
}

/*
.nbLogBox.nbFracInLog{
    vertical-align: middle;
}
*/
/*
.nbIntBase .nbLogBox,
.nbDoubleIntBase .nbLogBox,
.nbTripleIntBase .nbLogBox{
    vertical-align: -0.37em;
}
*/
/*
.nbLimBase .nbLogBox {
    vertical-align: 0em;
}
.nbLimBase .nbNumer .nbLogBox {
    vertical-align: -0.395em;
}
.nbLimBase .nbDenom .nbLogBox {
    vertical-align: -0.39em;
}
.nbSigmaSumBase .nbLogBox {
    vertical-align: -0.362em;
}
.nbSigmaSumBase .nbNumer .nbLogBox {
    vertical-align: -0.338em;
}
*/
/** limit 박스 **/
.nbLimBox {
    position: relative;
    line-height: 110%;
    border-spacing: 0px;
}

.nbLimTbody{
    display: inline-block;
    position: relative;
    top: 7px;
}
.nbLimTbody2 {
    display: inline;
    vertical-align: unset;
    line-height: 160%;
}

.nbFracInLimSubBase .nbLimTbody {
    vertical-align: -1.58em;
}

/* lim 안 분수 
.nbLimBox.nbFracInLim .nbLimTbody2 {
    vertical-align: bottom;
}
*/
/* lim 안 시그마 안 분수
.nbLimBox.nbFracInLim.nbSigmaSumInLim .nbLimTbody2{
    vertical-align: -0.6em;
}
 */
/* lim 안 시그마 
.nbLimBox.nbSigmaSumInLim .nbLimTbody2{
    vertical-align: -0.695em;
}
*/
/* lim 안 분수(분수 안 분모 또는 분모, 분자 모두 분수 들어가는 경우) 
.nbLimBox.nbFracInFracInLim, .nbLimBox.nbFracInFracInLim.nbFracInDenomInLim {
    vertical-align: middle;
}
.nbLimBox.nbFracInFracInLim .nbLimTbody, .nbLimBox.nbFracInFracInLim.nbFracInDenomInLim .nbLimTbody {
    vertical-align: 1.15em;
}
.nbLimBox.nbFracInDenomInLim {
    vertical-align: -2.12em;
}

.nbLimBox.nbFracInDenomInLim .nbLimTbody{
    vertical-align: 1.15em;
}
*/

.nbLimSign {
    line-height: 110%;
    text-align: center;
}

.nbLimBase {
    min-width: 0.5em;
    display: inline;
}
.nbLimSubBase {
    font-size: 0.3em;
    min-width: 1em;
    line-height: 80%;
    position: relative;
    top: -4px;
}
.nbFracBox.nbLimInNumer {
    vertical-align: -0.9em;
}
.nbFracBox.nbBox.nbLimInDenom {
    vertical-align: -1.65em;
}

.nbFracBox.nbLimInDenom.nbFracInDenom {
    vertical-align: -2.5em;
}

.nbFracBox.nbLimInDenom.nbSigmaSumInDenom {
    vertical-align: -2.8em;
}
/** 지수 표현 **/
.nbExpBox{
    border-spacing: 0px;
    position: relative;
}

.nbExpBase{
    padding:0px;
    font-size:1em;
}
.nbExp{
    padding:0px;
    position: relative;
    bottom:0.9em;
    font-size:0.3em;
    text-align: center;
}
.nbExpTmp{
    min-width: 1em;
    line-height: 110%;
    padding:0px;
    position: relative;
    bottom:0.7em;
    right: -0.1em;
    font-size:0.3em;
    text-align: center;
}

/** 분수용 괄호 옆 지수 **/
.nbFracExpTmp{
    line-height: 110%;
    min-width: 1em;
    padding:0px;
    position: relative;
    top:-2em;
    right: 0.3em;
    font-size:0.3em;
}

/** 아래첨자 표현 **/
.nbSubBox{
    vertical-align: text-bottom;
    border-spacing: 0px;
    position: relative;
}
.nbSubBase{
    padding:0px;
    font-size:1em;
    text-align: center;
}
.nbSub{
    padding:0px;
    font-size:0.3em;
    position: relative;
    top:0.9em;
    right:0.3em;
    text-align: center;
}

.nbSubTmp{
    min-width: 1em;
    line-height: 110%;
    padding:0px;
    font-size:0.3em;
    position: relative;
    top:0.3em;
    right:0.1em;
    text-align: center;
}

.nbExpTmp .nbSubTmp, .nbIntSub .nbSubTmp,  .nbIntSup .nbSubTmp, 
.nbDoubleIntSub .nbSubTmp, .nbDoubleIntSup .nbSubTmp, .nbTripleIntSub .nbSubTmp, .nbTripleIntSup .nbSubTmp, 
.nbRootExpBase .nbSubTmp, .nbLogSubBase .nbSubTmp, .nbLimSubBase .nbSubTmp, .nbSigmaSumSub .nbSubTmp, .nbSigmaSumSup .nbSubTmp,
.nbIntBrckSupBase .nbSubTmp, .nbIntBrckSubBase .nbSubTmp, .nbFracExpTmp .nbSubTmp {
    top:2.3em;
}

/** 양방향 아래첨자 표현 **/
.nbBiDirSubBox{
    line-height: 110%;
    vertical-align:text-bottom;
    border-spacing: 0px;
    position: relative;
}
.nbBiDirSubBase{
    vertical-align:bottom;
    padding:0px;
    font-size:1em;
    text-align: center;

}
.nbLeftSub{
    padding:0px;
    font-size:0.3em;
    position: relative;
    top:0.9em;
    left:0.1em;
    text-align: center;

}

.nbRightSub{
    padding:0px;
    font-size:0.3em;
    position: relative;
    top:0.9em;
    right:0em;
    text-align: center;

}


/** 분수 표현 **/
.nbFracBox {
    vertical-align: middle;
    border-spacing: 0px;
    margin:0px 1px;

}

.nbNumer{
    padding: 4px 2px 0 2px;
    font-size:1em;
    min-width:1em;
    line-height: 110%;
    text-align: center;
}
.nbDenom{
    font-size:1em;
    padding: 0 2px 0 2px;
    min-width:1em;
    line-height: 110%;
    text-align: center;
}

.nbNumer:after {
    content: "";
    display: block;
    width: calc(100% + 4px);
    position: relative;
    left: -2px;
    border-bottom: 1px solid black;
  }
.nbDenom:before {
    content: "";
    display: block;
    width: calc(100% + 4px);
    position: relative;
    left: -2px;
    border-top: 1px solid black;
  }

  .nbExpTmp .nbNumer,
  .nbIntSup .nbNumer,
  .nbIntSub .nbNumer,
  .nbDoubleIntSup .nbNumer,
  .nbDoubleIntSub .nbNumer,
  .nbTripleIntSup .nbNumer,
  .nbTripleIntSub .nbNumer,
  .nbLogSubBase .nbNumer,
  .nbLimSubBase .nbNumer
  {
    padding: 0 2px 0px 2px;
    line-height: 110%;
  }

  .nbIntSup .nbRootBox.nbFracInRoot .nbNumer,
  .nbIntSub .nbRootBox.nbFracInRoot .nbNumer,
  .nbDoubleIntSup .nbRootBox.nbFracInRoot .nbNumer,
  .nbDoubleIntSub .nbRootBox.nbFracInRoot .nbNumer,
  .nbTripleIntSup .nbRootBox.nbFracInRoot .nbNumer,
  .nbTripleIntSub .nbRootBox.nbFracInRoot .nbNumer,
  .nbLimSubBase .nbRootBox.nbFracInRoot .nbNumer,
  .nbLogSubBase .nbRootBox.nbFracInRoot .nbNumer,
  .nbIntBrckSupBase .nbRootBox.nbFracInRoot .nbNumer,
  .nbIntBrckSubBase .nbRootBox.nbFracInRoot .nbNumer{
    padding: 2px 2px 0px 2px;
    line-height: 110%;
  }

/** 분수 안 지수 **/
.nbNumer .nbExpTmp{
    bottom:0.5em;
    right: 0em;
}
.nbDenom .nbExpTmp{
    bottom:0.2em;
    right: 0em;
}
/** 분수에 분수 **/
.nbFracBox .nbFracBox{
    vertical-align: middle;
}

/** 분수 안 루트 안 지수 **/
.nbNumer .nbRootBox .nbExpTmp{
    bottom:0.2em;
}
.nbDenom .nbRootBox .nbExpTmp{
    bottom:0.2em;
}

/** 삼각함수, ln함수는 글꼴이 달라 line-heigth가 다른 수식 요소와 다름 **/
.nbTrigonBox, .nbLnBox{
    line-height: 110%; 
    vertical-align:text-bottom;
    border-spacing: 0px;
    padding: 0;
}
.nbTrigon, .nbLnSign{
    padding:0px;
    font-family: "STIXTwoText-Medium";
}
.nbLnBox{
    vertical-align: unset;
}
.nbLnBoxTbody{
    display: inline-block;
    position: relative;
    top:2px;
}

.nbLnBoxTbody2{
    display:inline;
    vertical-align: unset;
}

.nbLnBase {
    display: inline;
}
/*
.nbLnBox{
    vertical-align: -0.35em;
}
*/
.onlyEdit:focus .nbLnBase {
    min-width: 0.5em;
}
/*
.nbLnBox.nbFracInLn {
    vertical-align: middle;
}

.nbLnBox.nbFracInLn .nbLnSign {
    position: relative;
    top: 2.5px;
}
*/



/*
.nbIntBase .nbLnBox,
.nbDoubleIntBase .nbLnBox,
.nbTripleIntBase .nbLnBox {
    vertical-align: -0.36em;
}
*/

/** 윗점 **/
.nbOverDotBox{
    vertical-align:text-bottom;
    line-height: 110%;
    border-spacing: 0px;
    position: relative;
}
.nbOverDotBase{
    padding: 0px;
}
.nbOverDotBase::before{
    content: '\2219';
    text-align: center;
    position: absolute;
    top:-0.6em;
    left: 50%;
    transform: translateX(-50%);
}

.nbDenom .nbOverDotBase::before{
    top:-0.5em;
}

/** 악센트 표현 **/
.nbAccentBox{
    vertical-align:text-bottom;
    line-height: 110%;
    border-spacing: 0px;
    padding: 0px;;
    position: relative;
}
.nbAccentBase{
    padding: 0px;;
}
.nbAccentBase::before{
    content: '\02C6';
    text-align: center;
    position: absolute;
    top:-0.2em;
    left: 50%;
    transform: translateX(-50%);
}

.nbDenom .nbAccentBase::before{
    top:-0.12em;
}


/** 지수에 지수 **/
/**
.nbExpBox .nbExpBox .nbExp{
    position: relative;
    bottom:10em;
    font-size:0.09em;
}
.nbExpBox .nbExpBox .nbExpBase{
    font-size:0.64em;
}

.nbExpBox .nbExpBox .nbExpBox .nbExpBase{
    font-size:0.512em;
}
.nbExpBox .nbExpBox .nbExpBox .nbExp{
    position: relative;
    bottom:100em;
    font-size:0.0027em;
}
**/

/** 루트 **/

.nbRootBox{
    padding-left: 0.6em;
    position: relative;
    vertical-align:text-bottom;
    border-spacing: 0px;
}

.nbRootBox.expRootType{
    padding-left: 0.4em;
}


.nbRootBase{
    font-size:1em;
    padding: 0px 2px;
    /* print시 좌우에 회색 실선 현상으로 좌우에 흰색 선 추가하여 버그 제거*/
     /* border-top 속성 사용시 공간 차지하여 분수 안에 넣었을 때, 분수 줄 간격 안맞음*/
    box-shadow: -0.5px 0 white, 0.5px 0 white, 0px -0.5px 0 0 black, inset 0px 0.5px 0 0 black;
    min-width: 1em; 
    text-align: center;
    line-height: 110%;
    position: relative;
}

.nbRootBase::before{
    content:'\221A';
    position: absolute;
    font-size:1.3em;
    top:0.105em;
    left:-0.505em;
}

.nbIntSub .nbRootBase,
.nbIntSup .nbRootBase,
.nbDoubleIntSub .nbRootBase,
.nbDoubleIntSup .nbRootBase,
.nbTripleIntSub .nbRootBase,
.nbTripleIntSup .nbRootBase,
.nbLogSubBase .nbRootBase,
.nbLimSubBase .nbRootBase,
.nbExpBox .nbRootBase,
.nbIntBrckSupBase .nbRootBase,
.nbIntBrckSubBase .nbRootBase{
    padding-top: 1px;
}

.nbIntSub .nbRootBase::before,
.nbIntSup .nbRootBase::before,
.nbDoubleIntSub .nbRootBase::before,
.nbDoubleIntSup .nbRootBase::before,
.nbTripleIntSub .nbRootBase::before,
.nbTripleIntSup .nbRootBase::before,
.nbLogSubBase .nbRootBase::before,
.nbLimSubBase .nbRootBase::before,
.nbExpBox .nbRootBase::before,
.nbLeftSub .nbRootBase::before,
.nbRightSub .nbRootBase::before,
.nbSubTmp .nbRootBase::before,
.nbSigmaSumSub .nbRootBase::before{
    left:-0.905em;
}

.nbIntBrckSupBase .nbRootBase::before,
.nbIntBrckSubBase .nbRootBase::before{
    top: 0.205em;
    left:-0.5em;
    font-size: 2.8em;
}

.nbIntSup .nbRootBox,
.nbIntSub .nbRootBox,
.nbDoubleIntSub .nbRootBox,
.nbDoubleIntSup .nbRootBox,
.nbTripleIntSub .nbRootBox,
.nbTripleIntSup .nbRootBox{
    vertical-align: -0.75em;
    margin:0 1px 0 2px;
}

.nbIntBrckSupBase  .nbRootBox,
.nbIntBrckSubBase  .nbRootBox{
    margin:0 1px 0 3px;
}

.nbExpTmp .nbRootBox {
    margin:0 1px 0 2px;
}

.nbLogSubBase .nbRootBox,
.nbLimSubBase .nbRootBox {
    vertical-align: -0.65em;
    margin:0 1px 0 2px;
}

.nbLogSubBase .nbDenom .nbRootBox,
.nbLogSubBase .nbNumer .nbRootBox,
.nbLimSubBase .nbDenom .nbRootBox,
.nbLimSubBase .nbNumer .nbRootBox,
.nbExpTmp .nbDenom .nbRootBox,
.nbExpTmp .nbNumer .nbRootBox {
    vertical-align: -0.775em;
    margin:0 1px 0 2px;
}



.nbExpTmp .nbNumer .nbRootBox {
    vertical-align: text-bottom;
    margin-left: 2px;
}

/* 맥북 크롬으로 접속한 경우*/
.macChrome .nbRootBase::before{
    top:0.155em;
}

.nbRootBox .nbRootBox{
    vertical-align:middle !important;
    position: relative;
    top:2.3px;
}
.nbRootBox .nbRootBox .nbRootBox{
    vertical-align: middle !important;
    position: relative;
    top:2.5px !important;
}


.nbRootExpBase {
    vertical-align: top;
    position: relative;
    top: -3px;
    left: -3px;
    min-width: 1em;
    line-height: 110%;
    padding: 0px;
    font-size: 0.3em;
    text-align: center;
}

.nbRootBase .nbRootExpBase{
    top: -1px;
    left:-2px
}

.nbRootBox.nbFracInRoot .nbRootExpBase{
    top: 0px;
}

.onlyEdit:focus .nbRootExpBase:before{
    content: '';
    border: 1px dashed gray;
    width: 100%;
    height: 40%;
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;
}

.onlyEdit:focus .nbFracInRoot .nbRootExpBase:before{
    height: 20%;
}

.onlyEdit:focus .nbRootExpBase.yellowBorderBox:before{
    top: -2px;
    border: 2px dashed rgb(255, 196, 1) !important
}

.expRootType .nbRootExpBase.borderBox{
    border: unset !important;
}
.onlyEdit:focus .nbRootExpBase.yellowBorderBox{
    border: unset !important;
}

/** 루트 안 순환소수 **/
.nbRootBase .nbOverDotBox{
    margin-top:0.2em;
    line-height: 110%;

}

.nbRootBase .nbOverDotBase::before{
    content: '\2219';
    text-align: center;
    position: absolute;
    top:-0.55em;
    left: 50%;
    transform: translateX(-50%);
}
/** 루트 안 악센트 **/
.nbRootBase .nbAccentBox{
    line-height: 110%;
    margin-top:0.2em;
}

.nbRootBase .nbAccentBase::before{
    content: '\02C6';
    text-align: center;
    position: absolute;
    top:-0.15em;
    left: 50%;
    transform: translateX(-50%);
}

/** 루트 안 지수 **/
.nbRootBase .nbExpTmp{
    bottom:0.2em;
    right: 0;
}

/** 루트 안 분수 **/
.nbRootFracBox{
    margin:0 1px 0 1.4em;
    position: relative;
    border-spacing: 0px;
    vertical-align: middle;
}
.nbRootFracBase{
    font-size:1em;
    padding: 0px 1px 0px 2px;
    border-top: 1px solid black;
    min-width: 1em;
    text-align: center;
}
.nbRootFracBase::before{
    content:'\221A';
    position: absolute;
    font-family:'rootFracFont';
    font-size:2.2em;
    font-weight: 100;
    top: 0.225em;
    left:-0.51em;
}
.nbRootFracBox .nbFracBox{
    display: inline-block;
} 
.nbRootFracBox .nbNumer .nbExpTmp {
    bottom:0.2em;
}
.nbRootFracBox .nbDenom .nbExpTmp {
    bottom:0.2em;
}


.nbRootFracBase .nbNumer {
    padding:0 2px;
}



.nbDenom .nbArcBase::before{
    top:-0.45em;
}

/** 선분, 직선**/
.nbOverlineBox, .nbArrowBox{
    vertical-align: text-bottom;
    position:relative;
    border-spacing: 0px;
    padding: 0px;
    margin:0 2px;
    line-height: 110%;
}
.nbOverlineBase, .nbRightArrowBase, .nbArcBase, .nbBiDirArrowBase{
    min-width: 0.8em;
    text-align: center;
    padding: 0px 1px;
    vertical-align: bottom;
    /* print시 좌우에 회색 실선 현상으로 좌우에 흰색 선 추가하여 버그 제거*/
    /* border-top 속성 사용시 공간 차지하여 분수 안에 넣었을 때, 분수 줄 간격 안맞음*/
    box-shadow: -0.5px 0 white, 0.5px 0 white, 0px -0.5px 0 0 black, inset 0px 0.5px 0 0 black;
}
.nbArcBase{
    min-width: 0.8em;
    text-align: center;
    padding: 0;
    vertical-align: bottom;
    box-shadow: unset;
}

.nbRightArrowBase::after{
    content:'\276F';
    font-size: 0.5em;;
    position:absolute;
    top:-1em;
    right: -0.2em;
}

.nbArcBase::before{
    content: ')';
    font-family: 'GowunDodum-Regular';
    font-size: 20px;
    position: absolute;
    top:-0.5em;
    left:50%;
    transform:translateX(-50%) rotate(270deg);
}

.nbBiDirArrowBase::after{
    content:'\276F';
    font-size: 0.5em;;
    position:absolute;
    top:-1em;
    right:-0.2em;
}

.nbBiDirArrowBase::before{
    content:'\276E';
    font-size: 0.5em;;
    position:absolute;
    top:-1em;
    left: -0.2em;
}

/* 루트 안에 직선, 선분이 들어갈 경우는 거의 없지만 ui오류 해결 */
.nbRootBase .nbOverlineBox, .nbRootBase .nbArrowBox{
    margin-top: 4px;
}

/** 큰 괄호(분수용) old_version **/
.nbL-R-BrckBox, .nbR-R-BrckBox, .nbL-C-BrckBox, .nbR-C-BrckBox, .nbL-S-BrckBox, .nbR-S-BrckBox, .nbAbsValBox{
    display: inline-block;
    vertical-align: middle;
}
.nbL-R-BrckBox, .nbL-C-BrckBox, .nbL-S-BrckBox{
   margin-left:-0.3em;
}

.nbR-R-BrckBox, .nbR-C-BrckBox, .nbR-S-BrckBox{
   margin-right:-0.3em;
}

.nbL-R-Brck, .nbR-R-Brck, .nbL-C-Brck, .nbR-C-Brck, .nbL-S-Brck, .nbR-S-Brck, .nbAbsVal{
    font-size: 16px;
    font-family: 'MJXc-TeX-size2-Rw';
    font-weight: 100;
}
.nbAbsVal{
    font-size: 30px;
    font-family: 'caseBrck';
    font-weight: 100;
}
.nbL-R-Brck, .nbL-C-Brck,.nbL-S-Brck{
    position: relative;
    left:0.15em;

}
.nbR-R-Brck, .nbR-C-Brck,.nbR-S-Brck{
    position: relative;
    right:0.15em;
}

/** 큰 괄호(분수용) new_version **/
.nb-Abs-BrckBox, .nb-R-BrckBox, .nb-C-BrckBox, .nb-S-BrckBox{
    border-spacing: 0;
    position: relative;
}

.nb-Abs-BrckBox.nbBrckInFrac, .nb-R-BrckBox.nbBrckInFrac, .nb-C-BrckBox.nbBrckInFrac, .nbIntBrckBox {
    border-spacing: 0;
    position: relative;
    padding: 0 0.45em;
}

.nb-R-BrckBox.nbBrckInFrac.nbLargeBrck.rightAbsBrck{
    padding: 0 4px 0 0.45em;
    margin: 0 2px 0 0;
}

.nb-Abs-BrckBox.nbBrckInFrac.nbLargeBrck.rightSBrck {
    padding: 0 6px 0 4px;
    margin: 0 0 0 4px;
}

.nb-R-BrckBox.nbBrckInFrac.nbLargeBrck.rightSBrck {
    padding: 0 2px 0 6px;
    margin-right: 2px;
}

.nb-S-BrckBox.nbBrckInFrac.nbLargeBrck.rightAbsBrck {
    margin-right: 2px;
}

.nb-C-BrckBox.nbBrckInFrac.nbLargeBrck.rightAbsBrck {
    padding: 0 3px 0 6px;
    margin-right: 1px;
}

.nb-S-BrckBox.nbBrckInFrac{
    padding: 0 4px;
}

.nb-R-BrckBox.nbBrckInFrac.noRightBrck, 
.nb-C-BrckBox.nbBrckInFrac.noRightBrck, .nb-S-BrckBox.nbBrckInFrac.noRightBrck{
    padding: 0 0.05em 0 0.45em;
}


.nb-Abs-BrckBox.nbBrckInFrac.noRightBrck{
    padding: 0 0.05em 0 0.25em;
}

.nb-R-BrckBox.nbBrckInFrac.noLeftBrck, 
.nb-C-BrckBox.nbBrckInFrac.noLeftBrck, .nb-S-BrckBox.nbBrckInFrac.noLeftBrck{
    padding: 0 0.45em 0 0.05em;
}

.nb-Abs-BrckBox.nbBrckInFrac.noLeftBrck{
    padding: 0 0.45em 0 0.05em;
}

.nb-Abs-BrckBox.nbBrckInFrac{
    padding: 0 0.25em;
}

.nb-Abs-BrckBox.nbBrckInFrac.nbBrckInFrac.rightRoundBrck, .nb-Abs-BrckBox.nbBrckInFrac.nbBrckInFrac.rightCBrck {
    padding: 0 0.3em 0 0.25em;
    margin:0 0 0 2px
}

.nbIntBrckBox{
    padding: 0 0.5em 0 0.4em;
    margin:3px 0;
}

.nb-Abs-BrckBox.nbBrckInFrac > .nb-Abs-Brck-Tbody:before, .nb-Abs-BrckBox.nbBrckInFrac > .nb-Abs-Brck-Tbody:after,
.nb-R-BrckBox.nbBrckInFrac > .nb-R-Brck-Tbody:before, .nb-R-BrckBox.nbBrckInFrac > .nb-R-Brck-Tbody:after,
.nb-C-BrckBox.nbBrckInFrac > .nb-C-Brck-Tbody:before, .nb-C-BrckBox.nbBrckInFrac > .nb-C-Brck-Tbody:after,
.nb-S-BrckBox.nbBrckInFrac > .nb-S-Brck-Tbody:before, .nb-S-BrckBox.nbBrckInFrac > .nb-S-Brck-Tbody:after,
.nbIntBrckTbody:before, .nbIntBrckTbody:after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    font-family: 'MJXc-TeX-size2-Rw';
    font-weight: 100;
}

.nb-Abs-Brck-Tbody, .nb-R-Brck-Tbody, .nb-C-Brck-Tbody, .nb-S-Brck-Tbody, .nbIntBrckTbody{
    display: inline;
    vertical-align: unset;
}

.nbIntBrckTbody{
    position: relative;
}

.nb-Abs-Brck-Tbody:before {
    content: "|";
    left: 0em;
}

.nb-Abs-Brck-Tbody:after {
    content: "|";
    right: 0em;
}

.nb-Abs-BrckBox.nbBrckInFrac > .nb-Abs-Brck-Tbody:before {
    content: "|";
    left: 0em;
    font-size: 30px;
    font-family: 'caseBrck-old';
    font-weight: 100;
}

.nb-Abs-BrckBox.nbBrckInFrac > .nb-Abs-Brck-Tbody:after {
    content: "|";
    font-size: 30px;
    font-family: 'caseBrck-old';
    font-weight: 100;
    right: 0.01em;
}

.nb-R-Brck-Tbody:before {
    content: "(";
    left: -0.1em;
}

.nb-R-BrckBox.nbLargeBrck > .nb-R-Brck-Tbody:before{
    content: "";
    background: url("img/roundLargeBrckLeft.png") no-repeat center center;
    width: 8px;
    height: 100%;
    background-size: 5px 90%;
    left: 0;
}
.nb-R-BrckBox.nbLargeBrck > .nb-R-Brck-Tbody:after{
    content: "";
    background: url("img/roundLargeBrckRight.png") no-repeat center center;
    width: 8px;
    height: 100%;
    background-size: 5px 90%;
    right: 0;
}

.nb-C-BrckBox.nbLargeBrck > .nb-C-Brck-Tbody:before{
    content: "";
    background: url("img/cLargeBrckLeft.png") no-repeat center center;
    width: 8px;
    height: 100%;
    background-size: 5px 90%;
    left: 0;
}
.nb-C-BrckBox.nbLargeBrck > .nb-C-Brck-Tbody:after{
    content: "";
    background: url("img/cLargeBrckRight.png") no-repeat center center;
    width: 8px;
    height: 100%;
    background-size: 5px 90%;
    right: 0;
}

.nb-S-BrckBox.nbLargeBrck > .nb-S-Brck-Tbody:before{
    content: "";
    background: url("img/squareLargeBrckLeft.png") no-repeat center center;
    width: 8px;
    height: 100%;
    background-size: 5px 90%;
    left: 0;
}
.nb-S-BrckBox.nbLargeBrck > .nb-S-Brck-Tbody:after{
    content: "";
    background: url("img/squareLargeBrckRight.png") no-repeat center center;
    width: 8px;
    height: 100%;
    background-size: 5px 90%;
    right: 0;
}

.nb-Abs-BrckBox.nbLargeBrck{
    padding: 0 2px;
    margin: 0 2px;
}

.nb-Abs-BrckBox.nbLargeBrck > .nb-Abs-Brck-Tbody:before{
    content: "";
    background: url("img/absLargeBrck.png") no-repeat center center;
    width: 2.5px;
    height: 100%;
    background-size: 1.5px 90%;
    left: 0;
}

.nb-Abs-BrckBox.nbLargeBrck > .nb-Abs-Brck-Tbody:after{
    content: "";
    background: url("img/absLargeBrck.png") no-repeat center center;
    width: 2.5px;
    height: 100%;
    background-size: 1.5px 90%;
    right: 0;
}

.nb-R-Brck-Tbody:after {
    content: ")";
    right: -0.1em;
}


.noLeftBrck > .nb-R-Brck-Tbody:before, .noRightBrck > .nb-R-Brck-Tbody:after,
.noLeftBrck > .nb-C-Brck-Tbody:before, .noRightBrck > .nb-C-Brck-Tbody:after,
.noLeftBrck > .nb-S-Brck-Tbody:before, .noRightBrck > .nb-S-Brck-Tbody:after,
.noLeftBrck > .nb-Abs-Brck-Tbody:before, .noRightBrck > .nb-Abs-Brck-Tbody:after {
    content: "";
}

.nb-Abs-BrckBox.nbBrckInFrac.noLeftBrck > .nb-Abs-Brck-Tbody::before,
.nb-Abs-BrckBox.nbBrckInFrac.noRightBrck > .nb-Abs-Brck-Tbody:after,
.nb-R-BrckBox.nbLargeBrck.noLeftBrck > .nb-R-Brck-Tbody:before, 
.nb-R-BrckBox.nbLargeBrck.noRightBrck > .nb-R-Brck-Tbody:after,
.nb-Abs-BrckBox.nbLargeBrck.noLeftBrck > .nb-Abs-Brck-Tbody:before,
.nb-Abs-BrckBox.nbLargeBrck.noRightBrck > .nb-Abs-Brck-Tbody:after,
.nb-C-BrckBox.nbLargeBrck.noLeftBrck > .nb-C-Brck-Tbody::before,
.nb-C-BrckBox.nbLargeBrck.noRightBrck > .nb-C-Brck-Tbody:after,
.nb-S-BrckBox.nbLargeBrck.noLeftBrck > .nb-S-Brck-Tbody::before,
.nb-S-BrckBox.nbLargeBrck.noRightBrck > .nb-S-Brck-Tbody:after{
    content: "";
    background: unset;
}



.rightRoundBrck > .nb-S-Brck-Tbody:after, .rightRoundBrck > .nb-Abs-Brck-Tbody:after,
.rightRoundBrck > .nb-C-Brck-Tbody:after {
    content: ")";
    right: 0.01em;
}



.rightCBrck > .nb-Abs-Brck-Tbody:after, .rightCBrck > .nb-R-Brck-Tbody:after,
.rightCBrck > .nb-S-Brck-Tbody:after {
    content: "}";
    right: 0em;
}

.nb-R-BrckBox.nbBrckInFrac.rightCBrck > .nb-R-Brck-Tbody:after{
    content: "}";
}

.rightSBrck > .nb-C-Brck-Tbody:after {
    content: "]";
    right: -0.1em;
}

.rightAbsBrck > .nb-C-Brck-Tbody:after {
    content: "|";
    right: -0.1em;
}

.rightSBrck > .nb-C-Brck-Tbody:after, .rightSBrck > .nb-Abs-Brck-Tbody:after, .rightSBrck > .nb-R-Brck-Tbody:after  {
    content: "]";
    right: -0.1em;
}



.rightAbsBrck > .nb-R-Brck-Tbody:after, .rightAbsBrck > .nb-S-Brck-Tbody:after,
.rightAbsBrck > .nb-C-Brck-Tbody:after  {
    content: "|";
    right: -0.1em;
}

.nbBrckInFrac.rightAbsBrck > .nb-R-Brck-Tbody:after {
    content: "|";
    font-size: 30px;
    font-family: 'caseBrck';
    font-weight: 100;
    right: 0.01em;
}

.nb-C-BrckBox.nbLargeBrck.rightRoundBrck > .nb-C-Brck-Tbody:after, 
.nb-S-BrckBox.nbLargeBrck.rightRoundBrck > .nb-S-Brck-Tbody:after,
.nb-Abs-BrckBox.nbLargeBrck.rightRoundBrck.nbBrckInFrac > .nb-Abs-Brck-Tbody:after{
    content: "";
    background: url("img/roundLargeBrckRight.png") no-repeat left center;
    width: 5px;
    height: 100%;
    background-size: 5px 90%;
    right: 0;
}

.nb-Abs-BrckBox.nbLargeBrck.rightCBrck.nbBrckInFrac > .nb-Abs-Brck-Tbody:after,
.nb-R-BrckBox.nbLargeBrck.rightCBrck.nbBrckInFrac  > .nb-R-Brck-Tbody:after,
.nb-S-BrckBox.nbLargeBrck.rightCBrck.nbBrckInFrac  > .nb-S-Brck-Tbody:after{
    content: "";
    background: url("img/cLargeBrckRight.png") no-repeat left center;
    width: 5px;
    height: 100%;
    background-size: 5px 90%;
    right: 0;
}



.nb-R-BrckBox.nbLargeBrck.rightSBrck.nbBrckInFrac > .nb-R-Brck-Tbody:after,
.nb-Abs-BrckBox.nbLargeBrck.rightSBrck.nbBrckInFrac > .nb-Abs-Brck-Tbody:after,
.nb-C-BrckBox.nbLargeBrck.rightSBrck.nbBrckInFrac > .nb-C-Brck-Tbody:after{
    content: "";
    background: url("img/squareLargeBrckRight.png") no-repeat center center;
    width: 6px;
    height: 100%;
    background-size: 5px 90%;
    right: 0;
}


.nb-C-BrckBox.nbLargeBrck.rightAbsBrck > .nb-C-Brck-Tbody:after, .nb-S-BrckBox.nbLargeBrck.rightAbsBrck > .nb-S-Brck-Tbody:after,
.nb-R-BrckBox.nbLargeBrck.rightAbsBrck > .nb-R-Brck-Tbody:after{
    content: "";
    background: url("img/absLargeBrck.png") no-repeat center center;
    width: 2.5px;
    height: 100%;
    background-size: 1.5px 90%;
    right: 0;
}



.nb-Abs-BrckBox.nbBrckInFrac.rightRoundBrck > .nb-Abs-Brck-Tbody:after{
    content: ")";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    font-family: 'MJXc-TeX-size2-Rw';
    font-weight: 100;
    right:-2px;
}

.nb-Abs-BrckBox.nbBrckInFrac.rightCBrck > .nb-Abs-Brck-Tbody:after{
    content: "}";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    font-family: 'MJXc-TeX-size2-Rw';
    font-weight: 100;
    right:-3px;
}

.nb-Abs-BrckBox.nbBrckInFrac.rightSBrck > .nb-Abs-Brck-Tbody:after{
    content: "]";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    font-family: 'MJXc-TeX-size2-Rw';
    font-weight: 100;
    right:-2px;
}

.nbBrckInFrac.rightAbsBrck > .nb-C-Brck-Tbody:after, .nbBrckInFrac.rightAbsBrck > .nb-S-Brck-Tbody:after {
    content: "|";
    font-size: 30px;
    font-family: 'caseBrck-old';
    font-weight: 100;
    right: 0.01em;
}

.nb-C-Brck-Tbody:before {
    content: "{";
    left: -0.1em;
}

.nb-C-Brck-Tbody:after {
    content: "}";
    right: -0.1em;
}


.nb-S-Brck-Tbody:before {
    content: "[";
    left: -0.1em;
}

.nb-S-Brck-Tbody:after {
    content: "]";
    right: -0.1em;
}

.nbIntBrckTbody::before{
    content: "[";
    left: -0.5em;
}

.nbIntBrckTbody::after{
    content: "]";
    right: -0.5em;
}

.nb-Abs-BrckBase, .nb-R-BrckBase, .nb-C-BrckBase, .nb-S-BrckBase{
    line-height: 110%;
}

.nbBrckInFrac .nb-Abs-BrckBase, .nbBrckInFrac .nb-R-BrckBase, .nbBrckInFrac .nb-C-BrckBase, .nbBrckInFrac .nb-S-BrckBase{
    line-height: 160%;
}

.nb-Abs-BrckBase, .nb-R-BrckBase, .nb-C-BrckBase, .nb-S-BrckBase, .nbIntBrckBase {
    min-width: 0.5em;
    display: inline;
}

.nbIntBrckTbody2{
    display: inline-block;
    position: relative;
    left: 0.5em;
}

.nbIntBrckSupBase {
    min-width: 1em;
    line-height: 110%;
    padding: 0px;
    position: relative;
    top: -0.3em;
    font-size: 0.3em;
    text-align: center;
}

.nbIntBrckSubBase {
    min-width: 1em;
    line-height: 110%;
    padding: 0px;
    font-size: 0.3em;
    position: relative;
    bottom: -1.8em;
    text-align: center;
}

.nbIntBrckBox.nbFracInIntBrckSup .nbIntBrckSupBase{
    top:-1em;
}
.nbIntBrckBox.nbFracInIntBrckSup .nbIntBrckSubBase{
    bottom:0em;
}

.nbIntBrckBox.nbFracInIntBrckSub{
    margin:0 0 10px 0;
}

.nbIntBrckBox.nbFracInIntBrckSub .nbIntBrckSupBase{
    top:1em;
}

.nbIntBrckBox.nbFracInIntBrckSup.nbFracInIntBrckSub{
    margin:0 0 3px 0;
}

.nbIntBrckBox.nbFracInIntBrckSup.nbFracInIntBrckSub .nbIntBrckSupBase{
    top:0.3em;
}

/** 이항계수 **/
.nbBinomCoBox {
    vertical-align: middle;
    border-spacing: 0px;
    margin: 0;
    padding: 0 0.4em;
    position: relative;
}

.nbBinomCoBox .nbBinomCoTBody::before {
    content: "(";
    position: absolute;
    left: -0.1em;
    top: 0.4em;
    font-size: 16px;
    font-family: 'MJXc-TeX-size2-Rw';
    font-weight: 100;
}

.nbBinomCoBox .nbBinomCoTBody::after {
    content: ")";
    position: absolute;
    right: -0.1em;
    top: 0.4em;
    font-size: 16px;
    font-family: 'MJXc-TeX-size2-Rw';
    font-weight: 100;
}

.nbBinomCoFir {
    padding: 0px 2px 0 2px;
    font-size:1em;
    min-width:1em;
    line-height: 110%;
    text-align: center;
}
.nbBinomCoSec {
    font-size:1em;
    padding: 0 2px 0 2px;
    min-width:1em;
    line-height: 110%;
    text-align: center;
}

/** 경우(연립방정식 표현) **/
.nbCaseBrckBox{
    position: relative;
    vertical-align: middle;
    border-spacing: 0px;
}
.nbCaseBrck{
    font-size: 50px;
    font-family: 'caseBrck';
    font-weight: 100;
}
.nbCaseFir, .nbCaseSec{
    min-width: 20px;
}

/** 세가지 경우(연립방정식 표현) **/
.nbThrCasekBox{
    position: relative;
    vertical-align: middle;
    border-spacing: 0px;
}
.nbThrCaseBrck{
    background: url("img/cLargeBrckLeft.png") no-repeat center left;
    width: 10px;
    font-size: 0px;
    background-size: 8px 90%;
    color:rgb(0,0,0,0);
    caret-color: black;
}
.nbThrCaseBrck.grayBorderBox{
    font-size: 50px !important;
}


.nbThrCaseFir, .nbThrCaseSec, .nbThrCaseThr{
    min-width: 20px;
}



/** 사각형 조건 박스 **/
.nbCondBox{
    position: relative;
    vertical-align: middle;
}
.nbCondBase{
    line-height: 130%;
    font-size: 14px;
    padding: 3px 8px 0 8px;
    min-width:22px;
    border: 1px solid black;
    text-align: center;
}
.onlyEdit:focus .nbCondBase.borderBox{
    border: 1px solid black !important;
}
.onlyEdit:focus .nbCondBase.yellowBorderBox{
    padding: 3px 8px 0 8px !important;
    border: 1px solid black !important;
}
/** 단축키 Ui에서만 사용 **/
.nbUiSmallAbsVal{
    font-size:12px;
}

/** 편집화면에서만 사용되는 속성, 시작 **/
.onlyEdit { 
    font-family: "nbFormulaFont";
    font-size:16px;
}   
.onlyEdit::selection {
    background:rgb(228, 226, 226);
    color:black;
}


.onlyEdit *::selection{
    background:rgb(230, 228, 228);
    color:black;
}

.onlyEdit .innerTbTd::selection{
    background:rgb(228, 226, 226) !important;;
}

.onlyEdit .nbBox::selection, .onlyEdit .borderBox::selection, .onlyEdit .borderBox span::selection,
 .onlyEdit .nbThrCaseBrck::selection, .onlyEdit .nbCaseBrck::selection{
    background:rgb(235, 238, 245) !important;
}
.onlyEdit .nbBox::-moz-selection, .onlyEdit .borderBox::-moz-selection, .onlyEdit .borderBox span::selection,
.onlyEdit .nbThrCaseBrck::selection, .onlyEdit .nbCaseBrck::selection{
    background:rgb(230, 233, 241) !important;
}
.onlyEdit .nbBox::-webkit-selection, .onlyEdit .borderBox::-webkit-selection, .onlyEdit .borderBox span::selection,
.onlyEdit .nbThrCaseBrck::selection, .onlyEdit .nbCaseBrck::selection{
    background:rgb(230, 233, 241) !important;
}

.onlyEdit .nbSelectionDiv{
    background:rgb(235, 238, 245) !important;
}

.onlyEdit .nbSelectionTbTd{
    background:rgb(235, 238, 245) !important;
}

.onlyEdit:focus .borderBox, .onlyEdit:focus .borderBox.writeDisable.nbTrigon,
.onlyEdit:focus .borderBox.writeDisable.nbL-R-Brck, .onlyEdit:focus .writeDisable.borderBox.nbR-R-Brck,
.onlyEdit:focus .writeDisable.borderBox.nbL-C-Brck, .onlyEdit:focus .writeDisable.borderBox.nbR-C-Brck,
.onlyEdit:focus .writeDisable.borderBox.nbL-S-Brck, .onlyEdit:focus .writeDisable.borderBox.nbR-S-Brck,
.onlyEdit:focus .writeDisable.borderBox.nbAbsVal
{
    border:1px dashed gray;
    box-shadow: unset;
}

.onlyEdit:focus .borderBox.writeDisable{
    border: unset;
    box-shadow: unset;
}

.onlyEdit:focus .yellowBorderBox{
    border :2px dashed rgb(255, 196, 1) !important;
    box-shadow: unset;
}

.onlyEdit:focus .grayBorderBox{
    border :2px dashed gray !important;
    box-shadow: unset;
}


.onlyEdit .nbTrigon.borderBox{
    min-width:1em;
}
.onlyEdit .nbSubBase.borderBox{
    min-width:0.8em;
}
.onlyEdit .nbSub.borderBox{
    min-width:0.3em;
    right:0em;
}
.onlyEdit .nbExpBase.borderBox{
    min-width:0.8em;
}
.onlyEdit .nbExp.borderBox{
    min-width: 0.8em;
}


.onlyEdit .nbBiDirSubBase.borderBox{
    min-width:0.8em;
}
.onlyEdit .nbLeftSub.borderBox, .onlyEdit .nbRightSub.borderBox{
    min-width:0.3em;
}

.onlyEdit .nbFracExpTmp{
    right:-0.3em;
}
.onlyEdit .nbOverDotBase {
    min-width: 0.5em;
}
.onlyEdit .nbAccentBase {
    min-width: 0.3em;
}


/*
.onlyEdit .nbL-R-BrckBox, .onlyEdit .nbL-C-BrckBox, .onlyEdit .nbL-S-BrckBox{
    margin:0 1px;
}

.onlyEdit .nbR-R-BrckBox, .onlyEdit .nbR-C-BrckBox, .onlyEdit .nbR-S-BrckBox{
    margin:0 1px;
}

.onlyEdit .nbL-R-Brck, .onlyEdit .nbL-C-Brck, .onlyEdit .nbL-S-Brck{
    position: relative;
    left:unset;
}
.onlyEdit .nbR-R-Brck, .onlyEdit .nbR-C-Brck, .onlyEdit .nbR-S-Brck{
    position: relative;
    right:unset;

}
*/
/** 편집화면에서만 사용되는 속성, 끝**/
.contents-show p, .contentsFormulaEditor p, .solutionFormulaEditor p{
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


/*
* 버그해결. 키보드 상하 이동의 tmpCaretPoint의 글자 크기를 지정하지 않으면 getBoundingClientRect의 높이가 
* 다른 요소의 글자크기에 의해 지정되어 정상적인 상하 이동이 되지 않음
*/
.tmpCaretPoint{
    font-size:16px; 
}

.nbExpTmp .tmpCaretPoint, .nbSubTmp .tmpCaretPoint, .nbFracExpTmp .tmpCaretPoint, .nbLeftSub .tmpCaretPoint, .nbRightSub .tmpCaretPoint{
    font-size:0.3em;
}

/*
* 버그해결. 라인의 처음에 수식있을 때 엔터시 줄바꿈 안됨
* 포커스 앞에 img태그 추가하여 윗줄과 아랫줄 div로 분기되게구현
* css 효과는 버그 해결에 의미 없지만 편집기 img태그에 기본 여백 등 효과 적용되어있어 엔터시 여백이 생겼다 사라지는 불편함 제거
*/
.tmpEnterBugCaret{
    width:0px;
    margin: 0;
    cursor: none;
}


/*
* 버그해결. 키보드 상하 이동 시 지수(윗첨자), 아래첨자, 순열과 조합(첨자)의 경우  
* 줄간격, position, 글자크기가 일반 텍스트와 맞지 않아 위치 이동 정상적이지 않음.
*/
.upDownLineMoveBugFixTb{
    vertical-align: text-bottom;
    top:unset;
    bottom:unset;
    padding:unset;
}
.upDownLineMoveBugFixTd{
    line-height: 160% !important;
    top:unset;
    bottom:unset;
    padding:unset;
}

.upDownLineMoveBugFixFont{
    font-family: unset;
    font-size: unset;
    font-weight: unset;
    padding:0 2.5px
}


/* nbConvert 방식 */

/* 루트 안의 분수 */
.nbRootBox.nbFracInRoot{
    vertical-align: middle;
    padding-left: 1.4em;
}

.nbRootBox.nbFracInRoot.expRootType {
    padding-left: 0.8em;
}

.nbRootBase.nbFracInRoot {
    padding: 0px 1px 0px 2px;
    line-height:unset
}

.nbRootBase.nbFracInRoot::before{
    content: '\221A';
    position: absolute;
    font-family: 'rootFracFont';
    font-size: 2.4em;
    font-weight: 100;
    top: 0.26em;
    left: -0.5em;
}

.macChrome .nbRootBase.nbFracInRoot::before{
    top: 0.205em;
}

.nbLnBase .nbRootBase.nbFracInRoot::before{
    top: 0.356em;
}

.nbRootBox.nbFracInRoot .nbNumer{
    padding: 4px 2px 0 2px;
}

.nbFracBox .nbRootBase.nbFracInRoot::before {
    top: 0.35em;
}

.nbNumer .nbLimBox .nbRootBase.nbFracInRoot::before,
.nbDenom .nbLimBox .nbRootBase.nbFracInRoot::before {
    top: 0.25em;
}

.macChrome .nbFracBox .nbRootBase.nbFracInRoot::before {
    top: 0.33em;
}

.nbFracBox .nbDenom .nbRootBase.nbFracInRoot .nbFracBox{
    margin-top: 3px;
}

.nbLogSubBase .nbRootBox.nbFracInRoot,
.nbLimSubBase .nbRootBox.nbFracInRoot,
.nbIntSup .nbRootBox.nbFracInRoot,
.nbIntSub .nbRootBox.nbFracInRoot,
.nbDoubleIntSup .nbRootBox.nbFracInRoot,
.nbDoubleIntSub .nbRootBox.nbFracInRoot,
.nbTripleIntSup .nbRootBox.nbFracInRoot,
.nbTripleIntSub .nbRootBox.nbFracInRoot,
.nbIntBrckSupBase .nbRootBox.nbFracInRoot,
.nbIntBrckSubBase .nbRootBox.nbFracInRoot {
    margin-left: 5px;
}

.nbLogSubBase .nbRootBase.nbFracInRoot::before,
.nbLimSubBase .nbRootBase.nbFracInRoot::before,
.nbIntSup .nbRootBase.nbFracInRoot::before,
.nbIntSub .nbRootBase.nbFracInRoot::before,
.nbDoubleIntSup .nbRootBase.nbFracInRoot::before,
.nbDoubleIntSub .nbRootBase.nbFracInRoot::before,
.nbTripleIntSup .nbRootBase.nbFracInRoot::before,
.nbTripleIntSub .nbRootBase.nbFracInRoot::before,
.nbIntBrckSupBase .nbRootBase.nbFracInRoot::before,
.nbIntBrckSubBase .nbRootBase.nbFracInRoot::before  {
    font-size: 5em;
    top: 0.35em;
}

.nbLimSubBase .nbRootBase.nbFracInRoot::before{
    top: 0.4em;
}

/* 분모 안의 조건 박스 */
.nbCondBoxInFracDenomConvert .nbDenom, .nbCondBoxInFracDenomConvert .nbNumer{
    position: relative;
    top:4px;
}

.nbCondBoxInFracNumerConvert .nbDenom, .nbCondBoxInFracNumerConvert .nbNumer{
    position: relative;
    top:-4px;
}

.nbCondBoxInFracDenomConvert.nbCondBoxInFracNumerConvert .nbDenom, .nbCondBoxInFracDenomConvert.nbCondBoxInFracNumerConvert .nbNumer{
    position: unset;
    top:0px;
}

/* 분자 안의 분수 */
.nbFracBox.nbFracInNumer{
    vertical-align: -0.9em;
}

/* 최상위 분모 분자는 padding 양옆 +3px 및 구분선 너비 양옆 +3px*/
.nbFracBox.nbFracInNumer .nbNumer{
    padding: 4px 3px 0 3px;
}

.nbFracBox.nbFracInNumer .nbDenom{
    padding: 0 3px 0 3px;
}

.nbFracBox.nbFracInNumer .nbNumer::after, .nbFracBox.nbFracInNumer .nbDenom::before{
    width: calc(100% + 6px);
    left: -3px;
}


/* 하위 분모 분자는 그대로 (padding 양옆 +2px 및 구분선 너비 양옆 +2px)*/
.nbFracBox .nbNumer .nbFracBox .nbNumer{
    padding: 4px 2px 0 2px;
}

.nbFracBox .nbNumer .nbFracBox .nbDenom{
    padding: 0 2px 0 2px;
}


.nbFracBox .nbNumer .nbFracBox .nbNumer::after, .nbFracBox .nbNumer .nbFracBox .nbDenom::before{
    width: calc(100% + 4px);
    left: -2px;
}



/* 분모 안의 분수 */
.nbFracBox.nbFracInDenom{
    vertical-align: -2.35em;
}

/* 최상위 분모 분자는 padding 양옆 +3px 및 구분선 너비 양옆 +3px*/
.nbFracBox.nbFracInDenom .nbNumer{
    padding: 4px 3px 0 3px;
}
.nbFracBox.nbFracInDenom .nbDenom{
    padding: 0 3px 0 3px;
}

.nbFracBox.nbFracInDenom .nbNumer::after, .nbFracBox.nbFracInDenom .nbDenom::before{
    width: calc(100% + 6px);
    left: -3px;
}

.nbFracBox .nbDenom .nbFracBox .nbNumer{
    padding: 4px 2px 0 2px;
}

.nbFracBox .nbDenom .nbFracBox .nbDenom{
    padding: 0 2px 0 2px;
}


.nbFracBox .nbDenom .nbFracBox .nbNumer::after, .nbFracBox .nbDenom .nbFracBox .nbDenom::before{
    width: calc(100% + 4px);
    left: -2px;
}


/* 분모, 분자 안의 분수 */
.nbFracBox.nbFracInNumer.nbFracInDenom{
    vertical-align: middle;
}

/*nbConvert 분수의 분모 안에 분수가 있고 이 분수의 분모 또는 분자에 
* 루트 순환소수, 루트 악센트, 루트 직선, 루트 선분 들어가는 경우는 구현 안함, 추후 이런 수식 기호를 사용할 일 있으면 추가해야함
* 사용성이 낮아보여 구현 안함, 현재 줄맞춤 안맞는 에러 존재*/

/*
* 분수 안에 루트, 직선, 순환소수, 악센트 들어가는 경우
* 분수 줄 간격 안 맞는 버그 컴파일 해결
*/
.nbFracBox.nbFracLineConvert .nbNumer{
    position: relative;
    bottom:2px;
}

.nbFracBox.nbFracLineConvert .nbDenom{
    position: relative;
    top:2px;
}

.nbFracBox.nbFracLineConvert2 .nbNumer{
    position: relative;
    bottom:3px;
}
.nbFracBox.nbFracLineConvert2 .nbDenom{
    position: relative;
    top:3px;
}

.nbFracBox.nbFracLineConvert .nbNumer:after, .nbFracBox.nbFracLineConvert2 .nbNumer:after {
    content: "";
    display: block;
    width: calc(100% + 4px);
    position: relative;
    left: -2px;
    border-bottom: 1px solid black;
    position: relative;
    bottom:-2px;
  }
.nbFracBox.nbFracLineConvert2 .nbNumer:after{
    bottom:-3px;
}

.nbFracBox.nbFracLineConvert .nbDenom:before, .nbFracBox.nbFracLineConvert2 .nbDenom:before{
    content: "";
    display: block;
    width: calc(100% + 4px);
    position: relative;
    left: -2px;
    border-top: 1px solid black;
    position: relative;
    top:-2px;
  }
.nbFracBox.nbFracLineConvert2 .nbDenom:before{
    top:-3px;
}

.cusUnderLine{
    text-decoration: underline;
}
/*에딧 모드에서는 borderbox 보여지므로 포지션 borderbox 두께 만큼 추가*/
.onlyEdit:focus .nbNumer:after{
    position: relative;
    bottom:-1px;
}
.onlyEdit:focus .nbDenom:before{
    position: relative;
    top:-1px;
}

.onlyEdit:focus .nbFracBox.nbFracLineConvert .nbNumer:after{
    position: relative;
    bottom:-3px;
}
.onlyEdit:focus .nbFracBox.nbFracLineConvert .nbDenom:before{
    position: relative;
    top:-3px;
}

.onlyEdit:focus .nbFracBox.nbFracLineConvert2 .nbDenom:before{
    position: relative;
    top:-4px;
}
.onlyEdit:focus .nbFracBox.nbFracLineConvert2 .nbNumer:after{
    position: relative;
    bottom:-4px;
}

/*에딧 모드 yellowBorderBox에서 yellowBorderBox 두께 만큼 추가*/
.onlyEdit:focus .yellowBorderBox.nbNumer, .onlyEdit:focus .yellowBorderBox{
    padding-left: 1px;
    padding-right: 1px;
}

.onlyEdit:focus .yellowBorderBox.nbNumer:after{
    position: relative;
    bottom:-3px;
}

.onlyEdit:focus .yellowBorderBox.nbDenom:before{
    position: relative;
    top:-3px;
}

.onlyEdit:focus .nbFracBox.nbFracLineConvert .yellowBorderBox.nbNumer:after{
    position: relative;
    bottom:-4px;
}
.onlyEdit:focus .nbFracBox.nbFracLineConvert .yellowBorderBox.nbDenom:before{
    position: relative;
    top:-4px;
}

.onlyEdit:focus .nbFracBox.nbFracLineConvert2 .yellowBorderBox.nbDenom:before{
    position: relative;
    top:-5px;
}
.onlyEdit:focus .nbFracBox.nbFracLineConvert2 .yellowBorderBox.nbNumer:after{
    position: relative;
    bottom:-5px;
}

.makeContentsBtn, .makeContentsForImgBtn{
    width: 35px;
    height: 35px;
    margin:5px 0;
    cursor: pointer;
}

.makeContentsBtn{
    background:  url("img/writeBtn.png") no-repeat center;
    background-size: 20px;
}
.makeContentsBtn.active{
    background:  url("img/writeBtnBlue.png") no-repeat center;
    background-size: 20px;
}

.makeContentsForImgBtn{
    background:  url("img/multiContentsBtn-gray.png") no-repeat center;
    background-size: 22px;
}


.makeContentsBtn:hover+.makeContentsForImgBtnDesc, .makeContentsForImgBtn:hover+.makeContentsForImgBtnDesc{
    visibility:visible;
    animation:opacityTrans 0.3s ;
}

.makeContentsForImgBtnDesc{
    font-size: 14px;
    font-family: 'jejuGothic';
    display: inline-block;
    visibility:hidden;
    width: 115px;
    text-align: center;
    background: black;
    color:white;
    border-radius: 5px;
    padding: 8px 3px;
    opacity: 0.9;
    position: absolute;
    top:5px;
    left: 35px;
    z-index: 3;
}

@keyframes opacityTrans{
	0% {opacity: 0;}
    50%{opacity: 0.4;}
	100% {opacity: 0.9;}
}

.makeContentsForImgBtn.active{
    background:  url("img/multiContentsBtn-blue.png") no-repeat center;
    background-size: 22px;
}