@font-face {
    font-family: 'JejuGothic';
    src:url('font/JejuGothic-Regular.ttf')
    format('truetype');
}

/* 한글, 특수문자 기호 */
@font-face {
    font-family: 'nbFormulaFont';
    src:url('font/JejuGothic-Regular.ttf')
    format('truetype');
    unicode-range: U+AC00-D7A3, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
    
}

/* 영어 대문자 */
@font-face {
    font-family: 'nbFormulaFont';
    src:url('font/STIXTwoText-MediumItalic.ttf')
    format('truetype');
    unicode-range: U+0061-007A;
}



/** 출력화면 문제번호 **/
@font-face {
    font-family: 'screenNumber';
    src:url('font/MinSans-Bold.ttf')
    format('truetype');
}
/* 
*  영어 대문자 : U+0041-005A
*  숫자        : U+0030-0039
*  그리스문자(알파, 베타, 감마, 오메가 등등 ) : U+03B1-03C9
*  부등호     : U+003C-003E
*  + 기호     : U+002B
*/
@font-face {
    font-family: 'nbFormulaFont';
    src:url("font/STIXTwoText-Medium.ttf")
    format('truetype');
    unicode-range: U+0041-005A, U+0030-0039, U+03B1-03C9, U+003C-003E, U+002B;
    letter-spacing: 2px;
}

/*
* -(대쉬, 마이너스) 기호 : U+002D;
*/
@font-face {
    font-family: 'nbFormulaFont';
    src: url('font/SB-UgroL.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+002D;
}


@font-face {
    font-family: 'rootFracFont';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
   /** src:url("font/GmarketSansTTFLight.ttf") 추후 변경 필요**/
    font-weight: 100;
}

@font-face {
    font-family: 'formulaFont';
    src:url('font/STIXTwoText-MediumItalic.ttf')
    format('truetype');
}

.nbFomularEditor { 
    border: 1px solid gray; 
    padding:10px;
    min-height:100px;
    font-family: "nbFormulaFont";
    font-size:16px;
}   
.nbFomularEditor::selection{
    background:rgb(192, 191, 191);
    color:black;
}

.nbFomularEditor *::selection{
    background:rgb(192, 191, 191);
    color:black;
}

/** nb공통 css **/
.nbBox{
    display:inline-block;
}



/** 지수 표현 **/
.nbExpBox{
    border-spacing: 0px;
    margin-right: 0.2em;
    text-align: center;
    position: relative;
}

.nbExpBase{
    padding:0px;
    font-size:1em;
}
.nbExp{
    padding:0px;
    position: relative;
    bottom:0.9em;
    font-size:0.3em;
    
}
.nbExpTmp{
    min-width: 1em;
    line-height: 110%;
    padding:0px;
    position: relative;
    bottom:0.7em;
    right: -0.1em;
    font-size:0.3em;
}

/** 분수용 괄호 옆 지수 **/
.nbFracExpTmp{
    line-height: 110%;
    min-width: 1em;
    padding:0px;
    position: relative;
    top:-2em;
    right: 0.3em;
    font-size:0.3em;
}

/** 아래첨자 표현 **/
.nbSubBox{
    vertical-align: text-bottom;
    border-spacing: 0px;
    text-align: center;
    position: relative;
}
.nbSubBase{
    padding:0px;
    font-size:1em;
}
.nbSub{
    padding:0px;
    font-size:0.3em;
    position: relative;
    top:0.9em;
    right:0.3em;
}

.nbSubTmp{
    min-width: 1em;
    line-height: 110%;
    padding:0px;
    font-size:0.3em;
    position: relative;
    top:0.3em;
    right:0.1em;
}

/** 양방향 아래첨자 표현 **/
.nbBiDirSubBox{
    line-height: 110%;
    vertical-align:text-bottom;
    border-spacing: 0px;
    text-align: center;
    position: relative;
}
.nbBiDirSubBase{
    vertical-align:bottom;
    padding:0px;
    font-size:1em;
}
.nbLeftSub{
    padding:0px;
    font-size:0.3em;
    position: relative;
    top:0.9em;
    left:0.1em;
}

.nbRightSub{
    padding:0px;
    font-size:0.3em;
    position: relative;
    top:0.9em;
    right:0em;
}


/** 분수 표현 **/
.nbFracBox {
    vertical-align: middle;
    border-spacing: 0px;
    text-align: center;
    margin:0px 1px;

}

.nbNumer{
    padding: 4px 2px 0 2px;
    font-size:1em;
    border-bottom:0.5px solid black;
    min-width:1em;
    line-height: 110%;
}
.nbDenom{
    font-size:1em;
    padding: 0 2px 0 2px;
    border-top:0.5px solid black;
    min-width:1em;
    line-height: 110%;
}

/** 분수 안 지수 **/
.nbNumer .nbExpTmp{
    bottom:0.5em;
    right: 0em;
}
.nbDenom .nbExpTmp{
    bottom:0.2em;
    right: 0em;
}
/** 분수에 분수 **/
.nbFracBox .nbFracBox{
    vertical-align: middle;
}

/** 분수 안 루트 안 지수 **/
.nbNumer  .nbRootBox .nbExpTmp{
    bottom:0.2em;
}
.nbDenom  .nbRootBox .nbExpTmp{
    bottom:0.2em;
}

/** 삼각함수, 삼각함수는 글꼴이 달라 line-heigth가 다른 수식 요소와 다름 **/
.nbTrigonBox{
    line-height: 120%;
    vertical-align:text-bottom;
    border-spacing: 0px;
    padding: 0;
}
.nbTrigon{
    padding:0px;
    font-family: "JejuGothic";
}



/** 윗점 **/
.nbOverDotBox{
    vertical-align:text-bottom;
    line-height: 110%;
    border-spacing: 0px;
    position: relative;
}
.nbOverDotBase{
    padding: 0px;
}
.nbOverDotBase::before{
    content: '\2219';
    text-align: center;
    position: absolute;
    top:-0.6em;
    left:0.15em;
}

/** 악센트 표현 **/
.nbAccentBox{
    vertical-align:text-bottom;
    line-height: 110%;
    border-spacing: 0px;
    padding: 0px;;
    position: relative;
}
.nbAccentBase{
    padding: 0px;;
}
.nbAccentBase::before{
    content: '\02C6';
    text-align: center;
    position: absolute;
    top:-0.2em;
    left:0.14em;
}

/** 지수에 지수 **/
/**
.nbExpBox .nbExpBox .nbExp{
    position: relative;
    bottom:10em;
    font-size:0.09em;
}
.nbExpBox .nbExpBox .nbExpBase{
    font-size:0.64em;
}

.nbExpBox .nbExpBox .nbExpBox .nbExpBase{
    font-size:0.512em;
}
.nbExpBox .nbExpBox .nbExpBox .nbExp{
    position: relative;
    bottom:100em;
    font-size:0.0027em;
}
**/

/** 루트 **/

.nbRootBox{
    margin-left: 0.8em;
    position: relative;
    vertical-align:text-bottom;
    border-spacing: 0px;
}

.nbRootBase{
    font-size:1em;
    padding: 0px 2px;
    border-top: 2px solid black;
    min-width: 1em;
    text-align: center;
    line-height: 110%;
}

.nbRootBase::before{
    content:'\221A';
    position: absolute;
    font-size:1.4em;
    top:0.15em;
    left:-0.5em;
}

/** 루트 안 순환소수 **/
.nbRootBase .nbOverDotBox{
    margin-top:0.2em;
    line-height: 110%;

}

.nbRootBase .nbOverDotBase::before{
    content: '\2219';
    text-align: center;
    position: absolute;
    top:-0.6em;
    left:0.15em;
}
/** 루트 안 악센트 **/
.nbRootBase .nbAccentBox{
    line-height: 110%;
    margin-top:0.2em;
}

.nbRootBase .nbAccentBase::before{
    content: '\02C6';
    text-align: center;
    position: absolute;
    top:-0.2em;
    left:0.14em;
}

/** 루트 안 지수 **/
.nbRootBase .nbExpTmp{
    bottom:0.35em;
    right: 0;
}

/** 루트 안 분수 **/
.nbRootFracBox{
    margin:0 1px 0 1.4em;
    position: relative;
    border-spacing: 0px;
    vertical-align: middle;
}
.nbRootFracBase{
    font-size:1em;
    padding: 0px 1px 0px 2px;
    border-top: 2px solid black;
    min-width: 1em;
    text-align: center;
}
.nbRootFracBase::before{
    content:'\221A';
    position: absolute;
    font-family:'rootFracFont';
    font-size:2.2em;
    font-weight: 100;
    top:0.25em;
    left:-0.51em;
}

.nbRootFracBox .nbNumer .nbExpTmp {
    bottom:0.2em;
}
.nbRootFracBox .nbDenom .nbExpTmp {
    bottom:0.2em;
}


.nbRootFracBase .nbNumer {
    padding:0 2px;
}

.nbDenom .nbRootBox{
    margin-top:2px;
}

/** 선분, 직선**/
.nbOverlineBox, .nbArrowBox{
    vertical-align: text-bottom;
    position:relative;
    border-spacing: 0px;
    padding: 0px;
    margin:0 2px;
    line-height: 110%;
}
.nbOverlineBase, .nbRightArrowBase, .nbLeftArrowBase, .nbBiDirArrowBase{
    min-width: 0.8em;
    text-align: center;
    padding: 0px;
    vertical-align: bottom;
    height: 1.2em;
    border-top:1px solid black;
}

.nbRightArrowBase::after{
    content:'\276F';
    font-size: 0.5em;;
    position:absolute;
    top:-0.9em;
    right: -0.2em;
}

.nbLeftArrowBase::before{
    content:'\276E';
    font-size: 0.5em;;
    position:absolute;
    top:-0.9em;
    left: -0.2em;
}

.nbBiDirArrowBase::after{
    content:'\276F';
    font-size: 0.5em;;
    position:absolute;
    top:-0.9em;
    right:-0.2em;
}

.nbBiDirArrowBase::before{
    content:'\276E';
    font-size: 0.5em;;
    position:absolute;
    top:-0.9em;
    left: -0.2em;
}


/** 큰 괄호(분수용) **/
.nbL-R-BrckBox, .nbR-R-BrckBox, .nbL-C-BrckBox, .nbR-C-BrckBox, .nbL-S-BrckBox, .nbR-S-BrckBox{
    display: inline-block;
    vertical-align: middle;
}
.nbAbsValBox{
    display: inline-block;
    vertical-align: middle;
}
.nbL-R-BrckBox, .nbL-C-BrckBox, .nbL-S-BrckBox{
   margin-left:-0.3em;
}

.nbR-R-BrckBox, .nbR-C-BrckBox, .nbR-S-BrckBox{
   margin-right:-0.3em;
}

.nbL-R-Brck, .nbR-R-Brck, .nbL-C-Brck, .nbR-C-Brck, .nbL-S-Brck, .nbR-S-Brck, .nbAbsVal{
    font-size: 16px;
    font-family: 'MJXc-TeX-size2-Rw';
    font-weight: 100;
}
.nbAbsVal{
    font-size: 30px;
    font-family: 'malgunGothic';
    font-weight: 100;
}
.nbL-R-Brck, .nbL-C-Brck,.nbL-S-Brck{
    position: relative;
    left:0.15em;

}
.nbR-R-Brck, .nbR-C-Brck,.nbR-S-Brck{
    position: relative;
    right:0.15em;
}


/** 경우(연립방정식 표현) **/
.nbCaseBrckBox{
    position: relative;
    vertical-align: middle;
    border-spacing: 0px;
}
.nbCaseBrck{
    font-size:20px;
    font-family: 'MJXc-TeX-size2-Rw';
    font-weight: 100;
}
.nbCaseFir{

}

.nbCaseSec{
}

/** 사각형 조건 박스 **/
.nbCondBox{
    position: relative;
    vertical-align: -0.55em;
}
.nbCondBase{
    line-height: 130%;
    font-size: 14px;
    padding: 3px 8px 0 8px;
    min-width:22px;
    border: 1px solid black;
    text-align: center;
}

/** 단축키 Ui에서만 사용 **/
.nbUiSmallAbsVal{
    font-size:12px;
}

/** 편집화면에서만 사용되는 속성, 시작 **/
.onlyEdit { 
    font-family: "nbFormulaFont";
    font-size:16px;
}   
.onlyEdit::selection {
    background:rgb(228, 226, 226);
    color:black;
}


.onlyEdit *::selection{
    background:rgb(228, 226, 226);
    color:black;
}

.onlyEdit .nbBox::selection, .onlyEdit .borderBox::selection {
    background:rgb(192, 191, 191) !important;
    color:rgb(77, 76, 76) !important;
}
.onlyEdit .nbBox::-moz-selection, .onlyEdit .borderBox::-moz-selection  {
    background:rgb(192, 191, 191) !important;
    color:rgb(77, 76, 76) !important;
}
.onlyEdit .nbBox::-webkit-selection, .onlyEdit .borderBox::-webkit-selection  {
    background:rgb(192, 191, 191) !important;
    color:rgb(77, 76, 76) !important;
}

.onlyEdit:focus .borderBox{
    border:1px dashed gray;
}

.onlyEdit:focus .yellowBorderBox{
    border :2px dashed rgb(255, 196, 1) !important;
}

.onlyEdit .nbTrigon.borderBox{
    min-width:1em;
}
.onlyEdit .nbSubBase.borderBox{
    min-width:0.8em;
}
.onlyEdit .nbSub.borderBox{
    min-width:0.3em;
    right:0em;
}
.onlyEdit .nbExpBase.borderBox{
    min-width:0.8em;
}
.onlyEdit .nbExp.borderBox{
    min-width: 0.8em;
}


.onlyEdit .nbBiDirSubBase.borderBox{
    min-width:0.8em;
}
.onlyEdit .nbLeftSub.borderBox, .onlyEdit .nbRightSub.borderBox{
    min-width:0.3em;
}

.onlyEdit .nbFracExpTmp{
    right:-0.3em;
}
.onlyEdit .nbOverDotBase {
    min-width: 0.5em;
}
.onlyEdit .nbAccentBase {
    min-width: 0.3em;
}
/*
.onlyEdit .nbL-R-BrckBox, .onlyEdit .nbL-C-BrckBox, .onlyEdit .nbL-S-BrckBox{
    margin:0 1px;
}

.onlyEdit .nbR-R-BrckBox, .onlyEdit .nbR-C-BrckBox, .onlyEdit .nbR-S-BrckBox{
    margin:0 1px;
}

.onlyEdit .nbL-R-Brck, .onlyEdit .nbL-C-Brck, .onlyEdit .nbL-S-Brck{
    position: relative;
    left:unset;
}
.onlyEdit .nbR-R-Brck, .onlyEdit .nbR-C-Brck, .onlyEdit .nbR-S-Brck{
    position: relative;
    right:unset;

}
*/
/** 편집화면에서만 사용되는 속성, 끝**/
.contents-show p, .contentsFormulaEditor p, .solutionFormulaEditor p{
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
