.staff-title{
    font-size:20px;
    margin:10px;  
  }

.register-div{
    background: #F2F2F5;
    border-top:1px solid gray;
    height:120%;
}

.thrFlexLayout{
    display:flex;
    flex:3;
    height:100%;
}

.left{
    width:33%;
    color:white;
    display:inline-block;
    padding:10px 0px;
}
.center{
    width:33%;
    display:inline-block;
    padding:10px 0px;
}

.right{
    width:33%;
    display:inline-block;
    padding:10px;
    line-height:120%;
}

.latex-show{
    width:100%;
    margin:auto;
    line-height:130%;
    font-size:16px;
}


.contents, .solution{
    width:calc(100% - 5px);
    margin-left:5px;
    line-height:130%;
    font-size:16px;
    color: black;
    min-height: 40vh;
    background: #F2F2F5;
    border:1px solid lightgray;
}

.contents:focus, .solution:focus{
    outline: none;
    border:1px solid #B2CCFF;
    box-shadow:0 0 2px 2px #B2CCFF;
}

.latex-show{
    word-break:break-all;
    border:1px solid lightgray;
    background:white;
    color:black;
    width:100%;
    height:90vh;
    text-align:left;
    position:relative;
    overflow-y: scroll;
}


 #subject, #firUnit, #secUnit, #thrUnit, #quesType, #quesLevel, #workMem
 ,#originNo, #originRef, #answer, #firNo, #secNo, #thrNo, #fourNo, #fifNo, #multi-answer{
    font-size:15px;
    padding:5px;
    margin:5px;
}
#subject:focus, #firUnit:focus, #secUnit:focus, #thrUnit:focus, #quesType:focus, #quesLevel:focus, #workMem:focus
,#originNo:focus, #originRef:focus, #answer:focus, #firNo:focus, #secNo:focus, #thrNo:focus, #fourNo:focus, #fifNo:focus, #multi-answer:focus{
    outline: none;
    border:1px solid #B2CCFF;
    box-shadow:0 0 2px 2px #B2CCFF;
}

.mini-title{
    font-size:15px;
    font-weight:bold;
    margin:5px;
}

#quesType{
    display: block;
    width:90%;
}

.choice{
    margin-top:20px;
    font-size:25px;
    color:black;
}

.shortKeyBoard{
    background:rgb(20, 71, 101);   
    width:850px;
    margin:auto;
    text-align: center;
    border-radius: 10px;
}
.shortCutKey{
    display:inline-block;
    min-width: 50px;
    line-height:150%;
    position: relative;
    left: -3px;
}


.supShortCut{
    position: relative;
    left:5px;
    top:-7px;
}

.keySpan{
    display: inline-block;
    padding:7px 0 3px 0;
    margin:5px 3px;
    border:2px solid white;
    border-radius: 10px;
    font-size:12px;
    background:rgb(20, 71, 101);
    color:white;
    
}
.keySpan:hover{
    background:white;
    color:rgb(20, 71, 101);
    cursor:pointer;
}

.tabTable{
    border-spacing: 0px;
}

.tabTable td{
    padding:10px;
    border:1px solid lightgray;
    cursor:pointer;
}

.checkedTap{
    background:gray;
    color:white;
}

.checkedTap2{
    background:rgb(20, 71, 101);
    color:white;
}

#quesImg-show{
    text-align: center;
    width:80%;
}
#ques-show, #multi-show{
    padding:0 10px;
}
#sol-show, #ans-show{
    border-top:1px solid gray;
    padding:20px 10px;
}

#contentsImgOutput{
    width:80%;
}