.staff-title{
    font-size:20px;
    margin:10px;  
  }

.register-div{
    background: #F2F2F5;
    border-top:1px solid gray;
    height:100%;
}



.left{
    width:33%;
    color:white;
    display:inline-block;
    padding:10px 0px;
}


.right{
    width:50%;
    display:inline-block;
    padding:10px 0px;
}

.contentsInfo{
    line-height:120%;
    width:600px;
    padding:20px 30px;
    background-color:rgb(244, 247, 255);
    border:2px solid rgb(204, 221, 245);
    border-radius:10px;

    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    
    z-index: 11;
}


.contentsFormulaEditor[placeholder]:empty::before, .multiChoiceView[placeholder]:empty::before {
    content: attr(placeholder);
    color: #555; 
    opacity: .5;
}

.contentsFormulaEditor[placeholder]:empty:focus::before, .multiChoiceView[placeholder]:empty:focus::before {
    content: "";
}
.solutionFormulaEditor[placeholder]:empty::before, .multiChoiceView[placeholder]:empty::before {
    content: attr(placeholder);
    color: #555; 
    opacity: .5;
}

.solutionFormulaEditor[placeholder]:empty:focus::before {
    content: "";
}
.contentsFormulaEditor, .solutionFormulaEditor{
    width:calc(100% - 5px);
    margin-left:5px;
    font-size:16px;
    color: black;
    height: 20vh;
    background: #F2F2F5;
    border:1px solid rgb(153, 153, 153);
    overflow-y: scroll;
    padding:3px;
}

.contents, .solution{
    width:calc(100% - 5px);
    margin-left:5px;
    line-height:130%;
    font-size:16px;
    color: black;
    min-height: 40vh;
    background: #F2F2F5;
    border:1px solid lightgray;
}

.contents:focus, .solution:focus, .contentsFormulaEditor:focus, .solutionFormulaEditor:focus, .multiChoiceView:focus{
    outline: none;
    border:1px solid #B2CCFF;
    box-shadow:0 0 2px 2px #B2CCFF;
}

.answerFormulaEditor, #answer{
    width:300px;
    min-height: 1em;
    border:1px solid rgb(97, 97, 97);
    border-radius:3px;
}

.latex-show{
    font-family: 'msbFormulaFont';
    word-break:break-all;
    border:1px solid lightgray;
    background:white;
    color:black;
    width:100%;
    height:90vh;
    text-align:left;
    position:relative;
    overflow-y: scroll;
    font-size:16px;
}


 #subject, #firUnit, #secUnit, #thrUnit, #quesType, #quesLevel
 , #originRef, #answer, #firNo, #secNo, #thrNo, #fourNo, #fifNo, #multi-answer, .answerFormulaEditor{
    font-size:15px;
    padding:5px;
    margin:5px;
}
#subject:focus, #firUnit:focus, #secUnit:focus, #thrUnit:focus, #quesType:focus, #quesLevel:focus, #workMem:focus
,#originNo:focus, #originRef:focus, #answer:focus, #firNo:focus, #secNo:focus, #thrNo:focus, #fourNo:focus, #fifNo:focus, #multi-answer:focus{
    outline: none;
    border:1px solid #B2CCFF;
    box-shadow:0 0 2px 2px #B2CCFF;
}


#quesType{
    display: block;
    width:90%;
}

.choice{
    margin-top:20px;
    font-size:25px;
    color:black;
}

.shortKeyBoard{
    font-size:12px;
    background:#3e6599;
    margin:auto;
    text-align: center;
    border-radius: 10px;
}


.shortCutKey{
    display:inline-block;
    min-width: 35px;
    position: relative;
    left: -3px;
    vertical-align: -0.5em;
}
.shortCutKey.shortCutKeyEtc{
    left: unset;
}


.supShortCut{
    font-size: 0.7em;
    position: relative;
    left:5px;
    top:-2px;
}

.keySpan{
    display: inline-block;
    padding:3px 0 3px 0;
    margin:2px;
    border:2px solid white;
    border-radius: 10px;
    color:white;
    font-family: "msbFormulaFont";
}
.keySpan:hover{
    background:white;
    color:rgb(20, 71, 101);
    cursor:pointer;
}

.tabTable{
    border-spacing: 0px;
    margin-left:5px;
}

.tabTable td{
    padding:8px 10px;
    border:1px solid lightgray;
    cursor:pointer;
}

.checkedTap{
    background:#a5a5a5;
    color:white;
}

.checkedTap2{
    background:rgb(20, 71, 101);
    color:white;
}

#quesImg-show{
    text-align: center;
    width:80%;
}
#ques-show, #multi-show{
    padding:0 10px;
    margin-bottom:20px;
}
#sol-show, #ans-show{
    border-top:1px solid gray;
    padding:20px 10px;
}

#contentsImgOutput, #solutionImgOutput{
    width:80%;
}

.multiChoiceView{
    display: inline-block;
    width:50%;
    min-height: 1em;
    background: white;
    color:black;
    border:2px solid rgba(8, 32, 80, 0.5);
    margin:5px 5px 5px 24px;
    padding:5px;
    position: relative;
}
.multiChoiceView::before{
    display: flex;
    align-items: center;
    justify-content: center;
    width:24px;
    height: 100%;
    border-top:2px solid rgba(8, 32, 80, 0);
    border-bottom:2px solid rgba(8, 32, 80, 0);
    background: rgba(8, 32, 80, 0.5);
    position: absolute;
    top:-2px;
    left:-26px;
    color:white;
}
#firNoFormulaEditor::before{
    content: '\2460';
}
#secNoFormulaEditor::before{
    content: '\2461';
}
#thrNoFormulaEditor::before{
    content: '\2462';
}
#fourNoFormulaEditor::before{
    content: '\2463';
}
#fifNoFormulaEditor::before{
    content: '\2464';
}

.shortCutKey .msbNumer{
    border-bottom:0.5px solid white;
}
.shortCutKey .msbDenom{
    border-top:0.5px solid white;
}
.keySpan:hover .shortCutKey .msbNumer{
    border-bottom:0.5px solid rgb(20, 71, 101);
}
.keySpan:hover .shortCutKey .msbDenom{
    border-top:0.5px solid rgb(20, 71, 101);
}


.shortCutKey .msbRootBase{
    border-top: 1px solid white;
}
.keySpan:hover .shortCutKey .msbRootBase{
    border-top: 1px solid rgb(20, 71, 101);
}


.shortCutKey .msbOverlineBase, .shortCutKey .msbRightArrowBase, .shortCutKey .msbLeftArrowBase, .shortCutKey .msbBiDirArrowBase{
    border-top:1px solid white;
}
.keySpan:hover .shortCutKey .msbOverlineBase, .keySpan:hover .shortCutKey .msbRightArrowBase, .keySpan:hover .shortCutKey .msbLeftArrowBase, .keySpan:hover .shortCutKey .msbBiDirArrowBase{
    border-top:1px solid rgb(20, 71, 101);
}

.numberBox{
    color:white;
    background-color: rgba(8, 32, 80, 0.5);
    display: inline-block;
    min-height: 1em;
    border-radius:2px;
    padding:5px;
    margin-right:-1px;
    font-family: "msbFormulaFont";
}

.shortKeyBoard .keySpan{
    height:25px;
}


/** msbCustomSel 박스 시작 **/
.msbCustomSel * { 
    box-sizing: border-box; 
    font-family: 'jejuGothic';
    
}
.msbCustomSel {
  position: relative;
  width: 150px;
  padding:10px 0;
  border-radius: 4px;
  color:rgb(23, 104, 196);
  border: 2px solid rgb(173, 209, 250);
  background: url('img/down.png') calc(100% - 10px) center no-repeat;
  background-size: 15px;
  cursor: pointer;

}

.msbCustomSel.msbCustom2{
    width: 350px;
    margin:20px 0;
}

.msbCustomSel.msbCustom3{
    width: 550px;
    margin:20px 0;
}

.msbCustomSel.msbCustom4{
    width: 150px;
    margin:20px 0;
}

.msbCustomSel:after {
  content: '';
  display: block; 
  width: 2px;
  height: 100%; 
  position: absolute; 
  top: 0; 
  right: 35px;
  background: rgb(173, 209, 250);
}

.msbCustomSel .msbCustomSelVal {
  align-items: center;
  width: inherit;
  height: inherit;
  border: 0 none;
  outline: 0 none;
  padding-left: 15px;
  background: transparent;
  cursor: pointer;
}

.msbCustomSel .msbCustomOptList {
  position: absolute; 
  top: 28px;
  left: -3px;
  width: calc(100% + 6px);
  background: rgb(185, 215, 248);
  color: #fff;
  list-style-type: none;
  padding: 0;
  border-radius: 6px;
  overflow: hidden;
  max-height: 0;
  transition: .1s ease-in;
  z-index: 20;
}

.msbCustomSel .msbCustomOptList.msbCustomOptList2{
    top: unset;
    bottom:28px;
}

.msbCustomSel .msbCustomOptList.msbCustomOptList3{
    top: unset;
    bottom:28px;
}
.msbCustomSel.active .msbCustomOptList.msbCustomOptList3{
    max-height: 255px;
    overflow-y: scroll;
}
.msbCustomSel .msbCustomOptList.msbCustomOptList3::-webkit-scrollbar-thumb{
    background: rgb(152, 175, 201);
}
.msbCustomSel .msbCustomOptList::-webkit-scrollbar {width: 6px;}
.msbCustomSel .msbCustomOptList::-webkit-scrollbar-track {background: transparent; }
.msbCustomSel .msbCustomOptList::-webkit-scrollbar-thumb {background: #303030; border-radius: 45px;}
.msbCustomSel .msbCustomOptList::-webkit-scrollbar-thumb:hover {background: #303030;}

.msbCustomSel.active .msbCustomOptList {
  max-height: 500px;
}

.msbCustomOptList li:first-child{
    background: rgb(220, 226, 233);
    color:rgb(155, 155, 155);
    cursor:unset;
}

.msbCustomOptList li:first-child:hover{
    background: rgb(222, 225, 228);
}

.msbCustomSel .msbOptItem {
  border-bottom: 1px dashed rgb(84, 160, 247);
  padding: 5px 15px 5px;
  transition: .1s;
}

.msbCustomSel .msbOptItem:hover {
  background: rgb(82, 141, 207);
}

.msbCustomSel .msbOptItem:last-child {
  border-bottom: 0 none;
}

.msbCustomSelected{
    background:url('img/down.png') calc(100% - 10px) center no-repeat rgb(84, 139, 202);
    background-size:15px;
    color:white;
}
/** msbCustomSel 박스 끝. **/
