.regResourceTb{
    background-color: white;
    padding: 0 40px;
    margin: 30px auto 0 auto;
    border-radius: 10px;
    font-family: 'Apple SD Gothic Neo','Malgun Gothic';
}


.regResourceTb td:first-child{
    vertical-align: top;
    font-size: 14px;
    color:gray;
    font-weight: bold;
    font-family: 'Apple SD Gothic Neo','Malgun Gothic';
    padding-right: 15px;
    border: none;
}

.regResourceTb td{
    line-height: 200%;
    padding: 10px 0px;
    border-collapse: collapse;
}

#mainCate, #midCate{
    font-size: 16px;
    font-family: 'Apple SD Gothic Neo','Malgun Gothic';
    width: 250px;
    border: none;
    outline:none !important;
    margin:0;
    cursor: pointer;
    border: 1px solid rgb(211, 211, 216);
    padding: 2px;
}

#mainCate option, #midCate option{
    color:black;
}


#description{
    font-family: 'Apple SD Gothic Neo','Malgun Gothic';
    font-size: 16px;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    resize: none;
    border: 2px solid rgb(211, 211, 216);
    outline:none !important;
}

.regResTitle{
    font-size: 16px;
    width: 250px;
    outline:none !important;
    border: 0.5px solid gray;
    padding: 5px;
    border: none;
    border-bottom: 2px solid rgb(211, 211, 216);
}
.submit-btn{
    cursor: pointer;
    text-align: center;
    width: 80%;
    margin: 30px auto 0 auto;
    padding: 5px;
    color: white;
    background: rgb(55, 113, 178);
    border: none;
    border-radius: 5px;
    font-family: 'Apple SD Gothic Neo','Malgun Gothic';
    font-size: 16px;
    font-weight: bold;
}

.regResTitle::placeholder{
    color:rgb(189, 189, 189);
}

#description::placeholder{
    color:rgb(189, 189, 189);
}

.regResDesc{
    font-family: 'JejuGothic';
    font-size: 20px;
    text-align: center;
    margin: 20px;
}

.redText2{
    color:red;
    font-size: 11px;
    font-weight: bold;
    text-align: right;
}

.redBoxValid{
    box-shadow: 0 0 4px red;
}

.bageText{
    color: rgb(189, 189, 189);
}

.imgFileCustomDesc{
    font-family: 'jejuGothic';
    display: inline-block;
    width: 150px;
    line-height: 120%;
    padding: 2px 10px;
    margin-right: 5px;
    border: 1px solid gray;
    border-radius: 2px;
    text-align: center;
    background:rgb(245, 241, 241);
    border:2px solid rgb(192, 190, 190);
    color:rgb(208, 205, 205);
    cursor: pointer;
    font-size: 14px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.imgFileCustomBtn{
    overflow:hidden;
    text-align: center;
    font-family: 'jejuGothic';
    cursor: pointer;
    display: inline-block;
    line-height: 120%;
    width: 80px;
    padding: 3px;
    background:rgb(90, 134, 182);
    color:white;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    font-size: 14px;
}

.imgFileCustomBtn2{
    overflow:hidden;
    text-align: center;
    font-family: 'jejuGothic';
    cursor: pointer;
    display: inline-block;
    line-height: 120%;
    width: 80px;
    padding: 3px 0 3px 10px;
    background:rgb(102, 158, 242) url("img/folder-icon.png") no-repeat;
    background-size: 15px;
    background-position: 2px center;
    border:1px solid rgb(102, 158, 242);
    color:white;
    border-radius: 2px;
    font-size: 14px;
}

#imgDiv, #pptDiv{
    display: inline-block;
    line-height: 100%;
    position: relative;
}


.representImg{
    cursor: pointer;
    width:250px;
}

.regImgDesc{
    width: 330px;
    color:rgb(88, 115, 213);
    margin:auto;
    font-size: 13px;
    line-height: 160%;
}

.regRepImg{
    cursor: pointer;
    position: absolute;
    bottom:0px;
    right: 0;
    width:60px;
    opacity: 0.5;
}

.regResourceDesc{
    font-family: 'jejuGothic';
    font-size: 12px;
    color:rgb(114, 154, 219);
    line-height: 150%;
    margin-top:5px;
}

.userCateDiv{
    width: 385px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    gap: 12px;
}

.userCateBtn{
    display: inline-block;
    cursor: default;
    font-size: 13px;
    font-weight: bold;
    color:rgb(56, 68, 109);
    padding: 0 5px;
    background-color: rgb(237, 236, 236);
    border-radius: 5px;
    margin-right: 5px;
}



.cate-del{
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;

}


.paddingZero{
    padding: 0 0 15px 0 !important;
}