.resourceMenuWrap{
    padding:10px;
    background-color: rgb(11, 34, 57);
}

.resourceMenuDiv{
    font-family: 'Apple SD Gothic Neo','Malgun Gothic';
    font-size: 14px;
    width: 900px;
    margin: auto;
}

.resourceMenuDiv.mobile{
    width:100%;
}

.resourceMenuBtn{
    font-size: 16px;
    color:rgb(221, 221, 221);
    cursor: pointer;
    margin:0 25px 0 10px;
}

.resourceMenuBtn.active{
    color:white;
    font-weight: bold;
}

.resourceMenuBtn:hover{
    color:white;
}

.cateDiv{
    margin:20px auto 10px auto;
    padding:0px 50px;
    border-bottom: 1px solid rgb(146, 146, 147);;
}

.cateDiv.mobile{
    width: 100%;
    margin:0 auto;
    padding: 0;
}


.cateMenu{
    cursor: pointer;
    font-family: 'Apple SD Gothic Neo','Malgun Gothic';
    font-size: 14px;
    display: inline-block;
    font-weight: bold;
    color : rgb(103, 119, 157);
    padding: 10px;
}  

.cateMenu.active{
    color : rgb(24, 41, 82);
    border-bottom: 3px solid rgb(24, 41, 82);;
}

.cateMenu:hover{
    color : rgb(24, 41, 82);
}

.cateWrap{
    background: rgb(231, 236, 240);
}

.res-div{
    position: relative;
    border: 0.5px dashed gray;
    padding:15px 0;
    min-height: 120px;
}
.resWrap{
    display: grid;
    padding:10px 0;
    gap: 5px;
}
@media screen and (min-width: 1400px){
    .resWrap{
        grid-template-columns: repeat(5, 1fr);
    }
    .resWrap.contentsDiv{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (min-width: 1120px) and (max-width: 1400px){
    .resWrap{
        grid-template-columns: repeat(4, 1fr);
    }
    .resWrap.contentsDiv{
        width:100%;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width: 840px) and (max-width: 1120px){
    .resWrap{
        grid-template-columns: repeat(3, 1fr);
    }
    .resWrap.contentsDiv{
        width:100%;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 560px) and (max-width: 840px){
    .resWrap{
        grid-template-columns: repeat(2, 1fr);
    }
    .resWrap.contentsDiv{
        width:100%;
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width: 560px){
    .resWrap{
        grid-template-columns: repeat(1, 1fr);
    }
    .resWrap.contentsDiv{
        width:100%;
        grid-template-columns: repeat(1, 1fr);
    }
}

.res-img{
    cursor: pointer;
    width: calc(100% - 33px);
    position: relative;
    top:50%;
    transform: translateY(-50%);
    margin-top:10px;
}

.res-over-lay{
    cursor: pointer;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 3;
}
.res-over-lay:hover{
    background: rgba(106, 119, 157, 0.1);
}

.pptPageCnt{
    position: absolute;
    top:5px;
    right: 5px;
    display: inline-block;
    color:white;
    background: rgb(18, 49, 141);
    width: 30px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    line-height: 30px;
}

.pptPageCnt:hover{
    cursor: default;
}

.pptPageCnt::after{
    font-family: 'jejuGothic';
    content: '+';
    font-size: 13px;
    position: relative;
    top: -8px;
}

.res-over-lay:hover .down-btn{
    position: absolute;
    top:45px;
    right: 5px;
    display: inline-block;
    width: 32px;
    height: 30px;
    background:  rgb(0, 175, 128, 0.7) url("img/down-load.png") no-repeat;
    background-position: center;
    background-size: 18px;
    border-radius: 10px;
}

.res-over-lay:hover .down-btn:hover{
    background: rgba(2, 139, 103, 0.8) url("img/down-load.png") no-repeat;
    background-position: center;
    background-size: 18px;
}


.res-over-lay:hover  .down-ppt-btn{
    position: absolute;
    top:45px;
    right: 8px;
    display: inline-block;
    width: 26px;
    height: 22px;
    background: url("img/down-load.png") no-repeat center rgb(255, 0, 0, 0.7);
    background-size: 16px;
    border-radius: 5px;
}

.res-over-lay:hover .down-ppt-btn:hover{
    background: url("img/down-load.png") no-repeat center red;
    background-size: 16px;
}

.img-title{
    z-index: 2;
    position: absolute;
    top:5px;
    left:5px;
    font-size: 12px;
    color:dimgray;
    font-family: 'jejuGothic';
}

.downAnchorBtn{
    display: inline-block;
    width: 100%;
    height: 100%;
}

.resDetailedDiv{
    text-align: left;
    width: 600px;
    min-height: 200px;
    max-height: 90%;
    margin: auto;
    background: white;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 15px 10px;
    box-shadow: 0 0 1rem rgb(0 0 0 / 7%);
    box-sizing: border-box;
    overflow-y: scroll;
}

.resDetailedDiv.mobile{
    width: 95%;
}

.resDetailedDiv::-webkit-scrollbar {width: 6px;}
.resDetailedDiv::-webkit-scrollbar-track {background: transparent; }
.resDetailedDiv::-webkit-scrollbar-thumb {background: #aeaeaf; border-radius: 45px;}
.resDetailedDiv::-webkit-scrollbar-thumb:hover {background: #504f4f;}

.resDetailedImg{
    width : 100%;
    max-height: 70%;
}

.resDetailedTitle {
    font-size: 18px;
    font-family: 'jejuGothic';
    padding: 0 10px 5px 10px;
}

.resDetailedDesc{
    font-family: 'jejuGothic';
    color:#7ea6f8;
    font-size: 13px;
    padding: 0 0 10px 10px;
    line-height: 140%;
}

.resDetailedPPtDownBtn{
    cursor: pointer;
    font-family: 'jejuGothic';
    font-size: 14px;
    width: 130px;
    padding: 10px;
    text-align: center;
    color:white;
    margin:15px auto;
    border-radius: 10px;
    display: inline-block;
    margin: 10px 5px;
    background: rgb(247, 55, 55);
}

.resDetailedPPtDownBtn::before{
    display: inline-block;
    content: '';
    width: 16px;
    height: 16px;
    background: url("img/powerpointWhite.png") no-repeat;
    vertical-align: text-top;
    background-size: 16px;
    margin-right: 5px;
}

.resDowwBtnWrap{
    text-align: center;
}




.overflowHidden{
    position: relative;
    overflow: hidden;
}


.customImgSliderContainerDiv{
    width: 100%;
    transition: all 0.8s;
  }
  
  .customSliderBox{
    width: 580px;
    float: left;
  }

  .customSliderImg{
    width: 580px;
  }
  @media screen and (max-width: 580px){
    .customImgSliderContainerDiv{
        width: 100% !important;
    }
    .customSliderImg{
        width:100% !important
      }
  }
  
  .customImgSliderBtnDiv{
    margin : 0 auto 10px auto;
    width: 300px;
    text-align: center;
  }
  
  .customSliderBtn{
    cursor: pointer;
    margin: 4px;
    color: white;
    border: none;
    border-radius: 3px;
    width: 22px;
    height: 22px;
    background-color: rgba(93, 113, 143, 0.5);
    padding: 0;
  }
  
  .customSliderBtn.active{
    background-color: rgba(93, 113, 143, 1);
  }


  .resDetailedTimeDesc{
    text-align: center;
    font-size: 20px;
    font-family: 'jejuGothic';
    line-height: 180%;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    background-color: rgb(251, 251, 251);
    color: rgb(23, 104, 196);;
    padding: 40px 20px;
    border-radius: 10px;
  }

  .res-over-lay:hover .errBtn{
    display:block;
    top:80px;
    background:  url("img/siren.png") no-repeat center;
    background-size: 20px;
    border-radius: 5px;
  }

  .res-over-lay .errBtn:hover{
    width: 20px;
    height: 20px;
    background:  url("img/sirenOrg.png") no-repeat center;
    background-size: 20px;
}

  .res-over-lay .errBtn{
    display: none;
  }
  
  .customImgSliderErrBtn{
    z-index: 1;
    top:80px;
    right: 18px;
    background-size:22px ;
  }

  .customImgSliderErrBtn:hover{
    background:  url("img/sirenOrg.png") no-repeat center;
    background-size:22px ;
  }
  
  .resourceCateDesc{
    display: inline-block;
    font-family: 'jejuGothic';
    font-size: 12px;
    color:white;
    background: #0b2c6c;
    padding:5px;
    border-radius: 5px;
    margin:0 0px 10px 10px;
  }

  .res-div .delBtn{
    top:80px;
  }

  .res-div .delBtn:hover{
    width: 20px;
    height: 20px;
    background-size: 20px;
    top:80px;
  }

  .updateResCenterDiv{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 95%;
    overflow-y: scroll;
    box-shadow: 0 0 1rem rgb(0 0 0 / 30%);
    box-sizing: border-box;
  }

.updateResCenterDiv::-webkit-scrollbar {width: 6px;}
.updateResCenterDiv::-webkit-scrollbar-track {background: transparent; }
.updateResCenterDiv::-webkit-scrollbar-thumb {background: #aeaeaf; border-radius: 45px;}
.updateResCenterDiv::-webkit-scrollbar-thumb:hover {background: #504f4f;}


  .updateResouceDiv{
    display: inline-block;
  }

  .regResUpdtTitle{
    text-align: center;
    font-weight: normal;
    font-family: 'jejuGothic';
    padding-top:10px;
    color:black;
    font-size:20px;
  }