.ggb-wrap{
    width:1200px;
    margin:auto;
}
.ggb-custom-menu{
    font-family: 'jejuGothic';
    width:1198px;
    margin:auto;
    background-color: rgb(247, 247, 247);
    border-left: 1px solid black;
    border-right: 1px solid black;
    position: relative;
}

.ggb-cus-btn, .ggb-cus-btn3, .ggb-cus-btn-manual, .ggb-cus-btn3-manual{
    font-size:13px;
    font-family: 'jejuGothic';
    cursor: pointer;
    margin:5px;
    padding:5px 10px;
    display: inline-block;
    background-color: #1984c3;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 0.5em;
    border-bottom: 4px solid #0f5177;
    -moz-transition: 0.1s;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    box-shadow: 0 2px 3px #ccc;
    position: relative;
}
.ggb-cus-btn3, .ggb-cus-btn3-manual{
    vertical-align: bottom;
    padding:2px 13px 11px 2px;
    font-size:10px;
    background:#1984c3 url("img/eraser.png") no-repeat;
    background-size: 22px;
    background-position: right top;
}
.ggb-cus-btn3-manual{
    vertical-align: middle;
    position: relative;
    left:2px;
}
  .ggb-cus-btn.nbCusActive,  .ggb-cus-btn3.nbCusActive{
    color:#0f5177;;
    background-color: #cbe6f6;
    border-bottom-width: 0;
    position: relative;
    top: 2px;
  }
  .ggb-cus-desc{
    color:rgb(50, 107, 171);
    margin-left:20px;
}

.ggb-cus-btn-manual, .ggb-cus-btn3-manual{
    cursor: unset;
}

.btn2-wrap{
    position: absolute;
    right:10px;
}
.ggb-cus-btn2, .ggb-cus-btn2-manual{
    padding:10px;
    margin: 7px 10px;
    width:25px;
    height:25px;
}
#ggb-cus-goToPoint, .ggb-cus-btn2-manual.first{
    cursor: pointer;
    background:url("img/goToPoint.png") no-repeat;
    background-size: 22px;
    background-color: rgb(247, 247, 247);
    border: none;
}
#ggb-cus-zoomIn, .ggb-cus-btn2-manual.zoomIn{
    cursor: pointer;
    background:url("img/zoom-in.png") no-repeat;
    background-size: 22px;
    background-color: rgb(247, 247, 247);
    border: none;
}
#ggb-cus-zoomOut, .ggb-cus-btn2-manual.zoomOut{
    cursor: pointer;
    background:url("img/zoom-out.png") no-repeat;
    background-size: 22px;
    background-color: rgb(247, 247, 247);
    border: none;
}

#ggb-cus-zoomIn.nbCusActive{
    cursor: pointer;
    background:url("img/zoom-in-active.png") no-repeat;
    background-size: 22px;
    background-color: rgb(247, 247, 247);
    border: none;
}
#ggb-cus-zoomOut.nbCusActive{
    cursor: pointer;
    background:url("img/zoom-out-active.png") no-repeat;
    background-size: 22px;
    background-color: rgb(247, 247, 247);
    border: none;
}

#ggb-cus-capture{
    cursor: pointer;
    background:url("img/screenshot.png") no-repeat;
    background-size: 22px;
    background-color: rgb(247, 247, 247);
    border: none;
}

#ggb-cus-download, .ggb-cus-btn2-manual.down{
    cursor: pointer;
    background:url("img/download.png") no-repeat;
    background-size: 22px;
    background-color: rgb(247, 247, 247);
    border: none;
}

#ggb-cus-undo, .ggb-cus-btn2-manual.undo{
    cursor: pointer;
    background:url("img/undo-button.png") no-repeat;
    background-size: 22px;
    background-color: rgb(247, 247, 247);
    border: none;
}
.ggb-cus-btn2-manual.first, .ggb-cus-btn2-manual.zoomIn, .ggb-cus-btn2-manual.zoomOut, .ggb-cus-btn2-manual.down, .ggb-cus-btn2-manual.undo{
    background-color: white;
    cursor: unset;
}
#ggb-cus-axesWrap{
    position: relative;
}
.ggb-cus-axesOption{
    color: #0e3863;
    line-height: 250%;
    width:130px;
    position: absolute;
    top:15px;
    left: 0;
    list-style-type: none;
    padding: 8px 0;
    z-index: 99;
    border: 0.0625rem solid #e1e1e1;
    border-radius: 5px;
    box-shadow: 0 0 0.625rem 0 rgb(0 0 0 / 10%);
    background-color: #f8fcff;
    font-size: 12px;
}

.ggb-cus-axesOption li:first-child{
    border-top: 0.5px solid rgb(221, 219, 219);
}
.ggb-cus-axesOption li {
    text-indent: 5px;
    border-bottom: 0.5px solid rgb(221, 219, 219);
}

.ggb-cus-axesOption li:hover {
    cursor: pointer;
    background-color: rgb(236, 239, 244);
}

.ggb-cus-sel{
    font-family: 'jejuGothic';
    cursor: pointer;
    margin:5px;
    padding:5px 15px 5px 5px;
    background: white;
    border: 2px solid gray;
    border-radius: 5px;
    position: relative;
    top:1px;
    text-align: left;
}
.ggb-cus-sel::before{
    content: '\02C5';
    position: absolute;
    top:5px;
    right: 5px;
}

.cusAxesPop{
    z-index: 99;
    width: 500px;
    padding-top: 20px;
    margin:auto;
    box-shadow: 0 0 50px 0 rgb(0 0 0 / 30%);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: white;
}

.cusAxesPopTitle{
    min-height: 20px;
    font-size: 125%;
    margin-bottom: 20px;
    margin-left: 24px;
    color: rgba(0,0,0,.87);
}
.cusAxesPopBtnDiv{
    display: inline-flex;
    padding: 8px 8px 8px 24px;
    position: relative;
    float: right;
}


.cusAxesPopBtn{
    display: inline-block;
    min-width: 64px;
    height: 36px;
    background: transparent;
    color: var(--ggb-primary-color);
    font-size: 90%;
    letter-spacing: .04em;
    line-height: 36px;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 0px 8px;
    margin-left: 8px;
    cursor: pointer;
    text-align: center;
}

.cusAxesPopBtn.ok{
    padding: 0px 16px;
    background-color: rgb(99, 86, 207);
    color: #fff;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
.cusAxesPopBtn.cancel{
    height: 32px;
    line-height: 32px;
    padding: 0px 16px;
    color: rgba(0,0,0,.54);
}
.cusAxesPopBtn.ok:hover{
    box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
.cusAxesPopBtn.cancel:hover{
    color: #6b6b6b;
    background-color: #eee;
}

.cusAxesPopContents{
    font-size: 18px;
    text-align: center;
    margin:30px 0;
}

.ggb-cus-sel2, .ggb-cus-sel3{
    outline: none;
    font-size: 16px;
    color: gray;
    border: none;
    border-bottom: 1px solid gray;
    width: 110px;
    margin:0 50px 0 15px;
}

.ggb-cus-sel3{
    margin:0 30px 0 15px;
    font-size: 14px;
    width: 120px;
}

.radioWrap{
    font-size:15px;
    margin:0 auto 15px auto;
}
.radioLabel{
    width: 100px;
    text-align: center;
    border: 0.5px solid gray;
    background: rgb(248, 248, 248);
    display: inline-block;
    padding: 5px 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.radioLabel.first{
    border-right: none;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

}
input:checked+label {
    color:white;
    background: rgb(79, 143, 217);
    border:0.5px solid  rgb(79, 143, 217);
}

.ggb-cus-gridHide, .ggb-cus-gridShow{
    display: inline-block;
    width:30px;
    height:30px;
}

.ggb-cus-gridOption{
    width:80px;
    padding: 5px;
    position: absolute;
    top:25px;
    left: 0;
    z-index: 99;
    border: 0.0625rem solid #e1e1e1;
    border-radius: 5px;
    box-shadow: 0 0 0.625rem 0 rgb(0 0 0 / 10%);
    background-color: #f8fcff;
    text-align: center;
}

.ggb-cus-gridHide{
    cursor: pointer;
    background-color: white;
    border:1px solid gray;
    border-radius: 5px;
    margin-right:5px
}

.ggb-cus-gridShow{
    cursor: pointer;
    border:1px solid gray;
    border-radius: 5px;
    background:url("img/grid.png") no-repeat;
    background-size: 30px;
}

.preventPanel{
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background:white;
}

.ggb-cus-axesOption-btn{
    display: inline-block;
    width: 100%;
}

.force-hide{
    display: none !important;
}



/* 캡쳐 시 배경 어둡게 */ 
#screenshot_background { 
    width: 100%; 
    height: 100%; 
    position: fixed;
    top: 0px; 
    left: 0px; 
    display: block; 
    opacity: 0.3; 
    text-align: center;
     box-sizing: border-box; z-index: 2147483647; border-color: black; border-style: solid; } 
/* 캡쳐 영역만 밝게 하기 위한 요소 */ 
#screenshot:before, #screenshot:after {
    border: none !important; 
    content: "" !important; 
    height: 100% !important; 
    position: absolute !important; 
    width: 100% !important 
} 
#screenshot:before { 
    border-right: 1px solid white !important; 
    border-bottom: 1px solid white !important; 
    left: -100% !important; top: -100% !important 
}
 #screenshot:after { border-top: 1px solid white !important; 
    border-left: 1px solid white !important; 
    left: 0 !important; top: 0 !important 
} 
#screenshot {
     height: 100% !important; 
     position: fixed !important; 
     width: 100% !important; 
     z-index: 2147483648 !important 
} 
/* 캡쳐 시 마우스 커서 모양 변경 */ 
body.edit_cursor { 
    cursor: crosshair; 
}

.redbox{
    color:rgb(240, 132, 44);
}

.descImg{
    background: url("img/labelDesc.PNG") no-repeat;
    background-size: 15px;
}

.zoomIn{
    cursor: zoom-in;
}
.zoomOut{
    cursor: zoom-out;
}

.ggb-cus-guide{
    cursor:pointer;
    vertical-align:text-top;
    border: none;
    margin: 0 0 0 5px;
    width: 25px;
    height: 25px;
    background: url("img/ggb_guide.png") no-repeat;
    background-size: 22px;
}

.ggbCustomGuide{
    z-index: 99;
    width: 500px;
    height: 440px;
    padding: 20px;
    margin:auto;
    box-shadow: 0 0 50px 0 rgb(0 0 0 / 30%);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: white;
}

.ggb-guide-close-btn{
    cursor: pointer;
    float: right;
    font-size: 30px;
    color: gray;
    position: relative;
    top:-20px
}

.guide-ul{
    font-family: 'jejuGothic';
    word-break: keep-all;
    list-style-type: none;
    padding-left:20px;
}

.guide-ul li{
    padding: 10px 0;
    margin: 10px 0;
    border-bottom: 1px solid gray;
}
.guide-shortcut-desc{
    display: inline-block;
    width: 350px;
    margin-left: 10px;
    padding-left: 10px;
}
.ggb-shortcuts{
    display: inline-block;
    vertical-align:text-bottom;
}

.ggb-shortcuts.esc{
    width: 38px;
    height: 38px;
    background: url("img/ggb_esc.png") no-repeat;
    background-size: 38px 38px;
}
.comma{
    font-size: 25px;
}

.ggb-shortcuts.shift{
    width: 38px;
    height: 38px;
    background: url("img/ggb_shift.png") no-repeat;
    background-size: 38px 38px;
}
.ggb-shortcuts.plus{
    width: 20px;
    height: 20px;
    background: url("img/ggb_plus.png") no-repeat;
    background-size: 20px 20px;
    padding-bottom: 9px;
    margin: 0 2px;
}
.ggb-shortcuts.arrow{
    width: 38px;
    height: 38px;
    background: url("img/ggb_arrows.png") no-repeat;
    background-size: 38px 38px;
}
.ggb-shortcuts.rightClick{
    width: 38px;
    height: 38px;
    background: url("img/ggb_rightClick.png") no-repeat;
    background-size: 38px 38px;
}
.ggb-shortcuts.mousewheel{
    width: 38px;
    height: 38px;
    background: url("img/ggb_mousewheel.png") no-repeat;
    background-size: 38px 38px;
}

.ggb-shortcuts.del{
    width: 38px;
    height: 38px;
    background: url("img/ggb_delete.png") no-repeat;
    background-size: 38px 38px;
}

.ggb-shortcuts.backspace{
    width: 38px;
    height: 38px;
    background: url("img/ggb_backspace.png") no-repeat;
    background-size: 38px 38px;
}
.ggbUseGuideTap{
    cursor: pointer;
    display: inline-block;
    font-family: 'jejuGothic';
    color:gray;
    font-size: 14px;
}

.ggbUseGuideTap.active{
    font-weight: bold;
    color:black;
    font-size: 16px;
}

.ggbCusUseGuideTb{
    margin: 20px 10px 0 10px;
    font-size: 14px;
    border-spacing:0;
    padding: 0;
    font-weight: 600;
    border: 1px solid rgb(145, 130, 145);
    color:rgb(145, 130, 145);
    border-bottom: none;
}
.ggbCusUseGuideTb td{
    cursor: pointer;
    text-align: center;
    padding:5px 15px;
    border-right: 1px solid gray;
}

.ggbCusUseGuideTb td:last-child{
    border-right: none;
}

.ggbCusUseGuideTb td.active{
    background: rgb(145, 130, 145);
    color:white;
}
.ggbCusUseGuideContents{
    width: 460px;
    height: 320px;
    font-size: 14px;
    line-height: 160%;
    overflow-y: scroll;
    border-collapse: collapse;
    margin: 0px 10px;
    border: 1px solid gray;
    padding:10px
}

.graph-guide1{
    margin-top: 5px;
    display: inline-block;
    width: 380px;
    height: 50px;
    background: url("img/ggb_graph_guide.png") no-repeat;
    background-size: 400px 70px;
}
.graph-guide2{
    margin-top: 5px;
    vertical-align: text-top;
    display: inline-block;
    width: 28px;
    height: 21px;
    background: url("img/ggb_graph_guide2.png") no-repeat;
    background-size: 28px 21px;
    position: relative;
    top:-10px;
}
.graph-guide3{
    margin-top: 5px;
    display: inline-block;
    width: 400px;
    height: 270px;
    background: url("img/ggb_graph_guide3.png") no-repeat;
    background-size: 380px 255px;
}


.text-guide1{
    margin-top: 5px;
    display: inline-block;
    width: 360px;
    height: 150px;
    background: url("img/ggb_text_guide.png") no-repeat;
    background-size: 380px 150px;
}
.text-guide2{
    margin-top: 5px;
    vertical-align: middle;
    display: inline-block;
    width: 315px;
    height: 90px;
    background: url("img/ggb_text_guide2.png") no-repeat;
    background-size: 320px 90px;
}

.ggbCusUseGuideDesc{
    position: relative;
    font-family: 'jejuGothic';
    word-break:keep-all;
    margin: 10px 0 40px 20px;
}

.ggbCusUseGuideDesc.first::before, .ggbCusUseGuideDesc.second::before, .ggbCusUseGuideDesc.third::before{
    position: absolute;
    top:1px;
    left:-23px;
    font-size: .8em;
    width: 1em;
    border-radius: 3em;
    padding: .1em  .2em;
    line-height: 1.25em;
    border: 1px solid rgb(145, 130, 145);
    background:rgb(145, 130, 145);
    color: white;
    display: inline-block;
    text-align: center;
}

.ggbCusUseGuideDesc.first::before{
    content: '1';
}

.ggbCusUseGuideDesc.second::before{
    content: '2';
}

.ggbCusUseGuideDesc.third::before{
    content: '3';
}

.btnGuideTitle{
    font-size: 14px;
    margin:0px 0 5px 5px;
    color:rgb(116, 108, 116);
    font-weight: bold;
}
.btnGuideTitle2{
    font-size: 14px;
    margin:20px 0 5px 5px;
    color:rgb(116, 108, 116);
    font-weight: bold;
}
.ggbCusBtnGuideWrap{
    font-family: 'jejuGothic';
}

.btnGuide-table{
    border-spacing: 15px 0;
    width: 400px;
    margin:auto;
    text-align: center;
}

.ggb-cus-semiTitle{
    margin: 10px 0;
    color:rgb(168, 64, 64);
}

.xAxes-self-arrow{
    cursor: pointer;
    position: absolute;
    top:-5px;
    left: 110px;
    color: dimgray;
}