.errReportCnt{
    position: absolute;
    right: -10px;
    display: inline-block;
    min-width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(252, 99, 22);
    text-align: center;
    color: white;
    line-height: 20px;
    margin: 0 3px;
    font-size: 10px;
}


.adminErrReportTitle{
    font-size:20px;
    padding:20px;
}

.adminErrReportTb{
    border-spacing: 0;
}


.adminErrReportTbDiv{
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    height: 30px;
    line-height: 30px;
    opacity: 0.7;
    border-bottom: 0.5px solid lightgrey;
    padding:3px 15px;
    font-size: 15px;
}

.adminErrReportTbDiv.active{
    opacity: 1;
    font-weight: bold;
    border-bottom: 3px solid orange;
}

.adminServiceCenter .myQnATb td{
    padding: 5px;
    font-size: 16px;
    text-align: center;
}

.adminServiceCenter .myQnATbContents{
    width:470px;
    text-align: left !important;
}

.adminServiceCenter .myQnATb{
    margin-top:20px;
}

.reportErrType, .reportConNo, .reportDate{
    width: 150px;
}

.adminServiceCenter.oneToOne .myQnATbContents{
    width: 650px;
}

.detailedErrReportAdminWrap{
    width:500px;
    min-height:400px;
    max-height: 90%;
    overflow-y: scroll;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 1rem rgb(0 0 0 / 7%);
    box-sizing: border-box;
    padding:10px;
}

.detailedReportContentsAdmin{
    padding:3px 10px 10px 10px;
    text-align: left;
}

.detailedErrReportConNoAdmin{
    text-align: left;
}

.detailedErrReportAdminWrap::-webkit-scrollbar {width: 6px;}
.detailedErrReportAdminWrap::-webkit-scrollbar-track {background: transparent; }
.detailedErrReportAdminWrap::-webkit-scrollbar-thumb {background: #aeaeaf; border-radius: 45px;}
.detailedErrReportAdminWrap::-webkit-scrollbar-thumb:hover {background: #504f4f;}

.detailedErrReportTitle.admin{
    font-family:'jejuGothic';
}

.detailedSysCreateDateAdmin{
    margin-right:50px;
}

.closeBtn2.admin{
    top:-13px;
    right: -5px;
}

.questionText.admin{
    outline: 1px solid black;
}

.adminBtn{
    font-size:12px;
    cursor: pointer;
    background: rgb(142, 142, 142);
    color:white;
    display: inline-block;
    padding:2px 5px;
    margin: 10px 0 0 10px;
    border-radius: 5px;
}

.reportStts.admin{
    width: 100px;
}


.subTypeAddBtn, .subTypeOrderChngBtn, .typeChngBtn, .typeDelBtn, .mathTypeAddBtn{
    background-color: rgb(244, 244, 244);
    font-size: 12px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
    margin:0 5px;
}

.typeConCnclBtn,.typeConChngBtn, .conMoveCnclBtn, .conMoveApplyBtn{
    cursor: pointer;
    font-size: 12px;
    padding: 10px 15px;
}

.typeConCnclBtn, .conMoveCnclBtn{
    outline: 3px solid navy;
    color:navy;
}

.typeConChngBtn, .conMoveApplyBtn{
    outline: 3px solid navy;
    background-color: navy;
    color:white;
}

.typeBtn.admin{
    margin-left: unset;
}

.typeBtnWrap.admin{
    margin-left: 140px;
    padding:3px 0px 3px 15px;
    border: 1px solid gray;
}


.mathDocsSubjectListDiv.admin .subjectBtn, .mathDocsSubjectListDiv.admin  .secUnitBtn,
.mathDocsSubjectListDiv.admin .thrUnitBtn{
    margin-left: unset;
    padding: 5px 0 5px 3px;
}


.mathDocsSubjectListDiv.admin .subjectBtn::before,
 .mathDocsSubjectListDiv.admin .secUnitBtn::before,
 .mathDocsSubjectListDiv.admin .thrUnitBtn::before, 
 .mathDocsSubjectListDiv.admin .typeBtn::before{
    display: none;
}

.mathTypeChngPopupDiv{
    width: 900px;
    padding: 20px 0 40px 0;
    border-radius: 10px;
    background: white;
    box-shadow: 0 0 1rem rgb(0 0 0 / 30%);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 160%;
    font-family: 'nbFormulaFont';
    text-align: left;
    max-height: 80%;
    overflow-y: auto;
}

.mathTypeChngPopupTitle{
    text-align: center;
    padding: 15px 0 0px 0;
    color:dimgray;
}

.mathTypeContents{
    display: inline-block;
    width: 500px;
}

.conCntByTypeNo{
    margin-right: 5px;
    font-size: 12px;
    font-weight: bold;
    font-family: 'GowunDodum-Regular';
    color: white;
    background: rgb(18, 49, 141);
    border-radius: 10px;
    padding: 3px 5px;
    text-align: center;
    width: 25px;
    height: 15px;
    line-height: 15px;
    display: inline-block;
}

.conCntByTypeNo::after {
    font-family: 'jejuGothic';
    content: '+';
    font-size: 10px;
    position: relative;
    top: -8px;
}

.mathTypeContents.active{
    outline: 2px solid rgb(80, 80, 80);
    border-radius: 2px;
}

.mathTypeChngPopupContentsTB{
    margin: auto;
    padding: 5px 10px;
    border: 1px solid rgb(213, 213, 213);
    border-spacing: 0px 5px;
    width: 100%;
}

.typeChngBtnRootWrap{
    width: 150px;
}

.mathTypeOrderChngBtn{
    color: white;
    background: rgb(14, 27, 69);
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
}

.hamburger{
    position: relative;
    display: inline-block;
    width: 15px;
    margin-right: 15px;
    vertical-align: text-top;
    cursor: pointer;
}

.hamburger span{
    position: absolute;
    left: 0;
    border-radius: 2px;
    width: 18px;
    height: 4px;
    background: dimgray;
}

.hamburger span:nth-last-of-type(1){
    top:0;
}

.hamburger span:nth-last-of-type(2){
    top:6px;
}

.hamburger span:nth-last-of-type(3){
    top:12px;
}

.popupTypeOrderNo{
    display: inline-block;
    width: 20px;
}

.mathTypeAddBtn{
    padding: 0px 10px;
    margin: 0 30px 15px auto;
    display: inline-block;
}

.mathTypeAddDiv{
    width: 500px;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    box-shadow: 0 0 1rem rgb(0 0 0 / 7%);
    border-radius: 10px;
    text-align: left;
    background-color: white;
    padding: 30px 30px 0 30px;
    line-height: 160%;
    font-family: 'nbFormulaFont';
}

.mathTypeAddDiv .mathTypeAddBtn{
    display: block;
    width: 60px;
    margin:20px auto;
    text-align: center;
}

.mathTypeAddContents{
    font-size: 16px;
    line-height: 160%;
    font-family: 'nbFormulaFont';
    width: 500px;
    padding:0 3px;
    outline: 1px solid dimgray;
    border-radius: 5px;
}

.contentsMoveToBtn{
    width: 60px;
    display: inline-block;
    height: 100%;
    opacity: 0.2;
    color:white;
    background-color: red;
    border: 1px solid red;
}

.contentsMoveToBtn.from{
    opacity: 1;
    border: 1px solid green;
    background-color: green;
}

.contentsMoveToBtn.to{
    opacity: 1;
}